{"openapi":"3.0.3","info":{"title":"Apólices","description":"Facilita o gerenciamento de apólices.","version":"3.0.0"},"servers":[{"url":"https://api.ileva.com.br/"}],"paths":{"/apolice/buscar":{"get":{"tags":["Apolice"],"summary":"Busca apolice","operationId":"buscaApolice","description":"É obrigatório informar o parâmetro: cod_apolice","parameters":[{"name":"cod_apolice","in":"query","required":true,"schema":{"type":"integer","example":7,"format":"int32"},"description":"código do apolice"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaApolice"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"codApoliceInvalido":{"summary":"Código da apólice inválido","value":{"status":400,"mensagem":"Valor de parametro 'Código da apolice' inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/apolice/listar":{"get":{"tags":["Apolice"],"summary":"Lista apolices com paginação","operationId":"listApolices","description":"Lista apolices com paginação.","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","example":0},"description":"Offset para paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","maximum":200,"example":10},"description":"Número de registros por página (máximo 200)"},{"name":"cod_veiculo","in":"query","required":false,"schema":{"type":"integer","example":10,"format":"int32"},"description":"código do veiculo"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listApolices"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 200"}},"codApoliceInvalido":{"summary":"Código da apólice inválido","value":{"status":400,"mensagem":"Valor de parametro 'Código da apolice' inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/apolice":{"post":{"tags":["Apolice"],"summary":"Cria novo registro de apolice","operationId":"createApolice","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createApolice"}}}},"responses":{"200":{"description":"Retorna mensagem de sucesso e código do apolice inserido","content":{"application/json":{"schema":{"type":"object","properties":{"cod_apolice":{"type":"integer","example":5},"message":{"type":"string","example":"Apolice inserido com sucesso"}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"codVeiculoNaoInformado":{"summary":"Código do veículo não informado","value":{"status":400,"mensagem":"Por favor informe o codigo do veículo"}},"urlApoliceInvalida":{"summary":"URL da apólice inválida","value":{"status":400,"mensagem":"Por favor informe uma url válida para o apolice."}},"dtEmissaoInvalida":{"summary":"Data de emissão inválida","value":{"status":400,"mensagem":"O parâmetro '{dt_emissao}' em 'dt_emissao' não é válido."}},"dtValidadeInvalida":{"summary":"Data de validade inválida","value":{"status":400,"mensagem":"O parâmetro '{dt_validade}' em 'dt_validade' não é válido."}},"veiculoNaoEncontrado":{"summary":"Veículo não encontrado","value":{"status":400,"mensagem":"Veiculo não encontrado"}},"statusNaoInformado":{"summary":"Status não informado","value":{"status":400,"mensagem":"Informe um status"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/apolice/{cod_apolice}":{"put":{"tags":["Apolice"],"summary":"Altera registro de apolice","operationId":"updateApolice","parameters":[{"name":"cod_apolice","in":"path","required":true,"schema":{"type":"integer"},"description":"Códido a apólice"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/updateApolice"}}}},"responses":{"200":{"description":"Retorna mensagem de sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Apolice alterado com sucesso"}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"codApoliceInvalido":{"summary":"Código da apólice inválido","value":{"status":400,"mensagem":"Valor de parametro 'Código da apolice' inválido"}}}}}}}},"delete":{"tags":["Apolice"],"summary":"Remove registro de apolice","operationId":"deleteApolice","parameters":[{"name":"cod_apolice","in":"path","required":true,"schema":{"type":"integer"},"description":"Códido a apólice"}],"responses":{"200":{"description":"Retorna mensagem de sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Apolice removido com sucesso"}}}}}}}}}},"components":{"schemas":{"buscaApolice":{"type":"object","properties":{"apolice":{"type":"object","properties":{"cod_apolice":{"type":"number","example":"1","description":"Código da apolice no ileva"},"cod_veiculo":{"type":"number","example":"12","description":"Código do veiculo no ileva"},"cod_externo":{"type":"string","example":"16x","description":"Seu identificador"},"status":{"type":"string","enum":["aprovado","em_analise","reprovado"],"description":"Status da apólice"},"anotacao":{"type":"string","example":"Sua anotação importante","description":"Anotação para apresentação e pesquisa no modulo de apolices. Máximo de 3000 caracteres."},"dt_emissao":{"type":"string","format":"date","example":"2025-04-11"},"dt_validade":{"type":"string","format":"date","example":"2026-04-10"},"url_apolice":{"type":"string","example":"https://armazenamento.com/apolice/arquivo.pdf","description":"Url da apolice. Garante que esse link fique sempre acessivel"}}}}},"listApolices":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"apolices":{"type":"array","items":{"type":"object","properties":{"cod_apolice":{"type":"number","example":"1","description":"Código da apolice no ileva"},"cod_veiculo":{"type":"number","example":"12","description":"Código do veiculo no ileva"},"cod_externo":{"type":"string","example":"16x","description":"Seu identificador"},"status":{"type":"string","enum":["aprovado","em_analise","reprovado"],"description":"Status da apólice"},"dt_emissao":{"type":"string","format":"date","example":"2025-04-11"},"dt_validade":{"type":"string","format":"date","example":"2026-04-10"},"url_apolice":{"type":"string","example":"https://armazenamento.com/apolice/arquivo.pdf","description":"Url da apolice. Garante que esse link fique sempre acessivel"}}}}}},"createApolice":{"type":"object","required":["cod_veiculo"],"properties":{"cod_veiculo":{"type":"number","example":"12","description":"Código do veiculo no ileva"},"cod_externo":{"type":"string","example":"16x","description":"Seu identificador"},"status":{"type":"string","enum":["aprovado","em_analise","reprovado"],"description":"Status da apólice"},"anotacao":{"type":"string","example":"Sua anotação importante","description":"Anotação para apresentação e pesquisa no modulo de apolices. Máximo de 3000 caracteres."},"dt_emissao":{"type":"string","format":"date","example":"2025-04-11"},"dt_validade":{"type":"string","format":"date","example":"2026-04-10"},"url_apolice":{"type":"string","example":"https://armazenamento.com/apolice/arquivo.pdf","description":"Url da apolice. Garante que esse link fique sempre acessivel"}}},"updateApolice":{"type":"object","required":["cod_apolice"],"properties":{"cod_veiculo":{"type":"number","example":"12","description":"Código do veiculo no ileva"},"cod_externo":{"type":"string","example":"10x","description":"Seu identificador"},"status":{"type":"string","enum":["aprovado","em_analise","reprovado"],"description":"Status da apólice"},"anotacao":{"type":"string","example":"Sua anotação importante","description":"Anotação para apresentação e pesquisa no modulo de apolices. Máximo de 3000 caracteres."},"dt_emissao":{"type":"string","format":"date","example":"2025-04-11"},"dt_validade":{"type":"string","format":"date","example":"2026-04-10"},"url_apolice":{"type":"string","example":"https://armazenamento.com/apolice/arquivo.pdf","description":"Url da apolice. Garante que esse link fique sempre acessivel"}}},"badRequestResponse":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Parâmetros inválidos ou campos obrigatórios ausentes"}}},"notFoundResponse":{"type":"object","properties":{"status":{"type":"integer","example":404},"mensagem":{"type":"string","example":"Recurso não encontrado"}}},"unauthorizedResponse":{"type":"object","properties":{"status":{"type":"integer","example":401},"mensagem":{"type":"string","example":"Motivo da não autorização."}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}