{"openapi":"3.0.3","info":{"title":"Associados","description":"Facilita o gerenciamento de associados.","version":"3.0.0"},"servers":[{"url":"https://api.ileva.com.br/"}],"paths":{"/associado/buscar":{"get":{"tags":["Associado"],"summary":"Obtém associdado pelo código ou cpf/cnpj","operationId":"buscaAssociado","parameters":[{"name":"cod_associado","in":"query","required":false,"schema":{"type":"integer","format":"int32","example":7,"description":"código do associado"}},{"name":"cpf_cnpj","in":"query","required":false,"schema":{"type":"string","pattern":"^(\\d{11}|\\d{14}|null)$","example":"54501186194","description":"CPF ou CNPJ do associado"}}],"description":"Retorna um objecto com os dados do associado buscado, \nobjecto vazio no caso de não encontrar/haver<br>\n*É obrigatório informar ou o cod_associado, ou cpf_cnpj","responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/associado"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"formularioInvalido":{"summary":"Sem parâmetros","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/associado/listar":{"get":{"tags":["Associado"],"summary":"Listar associados paginados","operationId":"listAssociados","description":"Retorna uma lista paginada de associados com filtragem opcional por situação e conta","parameters":[{"in":"query","name":"inicio_paginacao","schema":{"type":"integer"},"required":true,"description":"Offset para páginação"},{"in":"query","name":"quantidade_por_pagina","schema":{"type":"integer","maximum":600},"required":true,"description":"Número de resultados por página, no máximo 600"},{"in":"query","name":"cod_situacao","schema":{"type":"integer","format":"int32"},"required":false,"description":"Código da situação"},{"in":"query","name":"cod_conta","schema":{"type":"integer","format":"int32"},"required":false,"description":"Código da conta"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/associadoListar"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 600"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/associado/{cod_associado}":{"put":{"tags":["Associado"],"summary":"Atualizar um associado","operationId":"updateAssociado","description":"Atualiza os dados do associado.","parameters":[{"name":"cod_associado","in":"path","required":true,"schema":{"type":"integer","example":18,"format":"int32"},"description":"código do associado"}],"requestBody":{"$ref":"#/components/requestBodies/updateAssociado"},"responses":{"201":{"description":"Associado atualizado com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Associado atualizado com sucesso."},"cod_associado":{"type":"integer","example":18}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"codigo_associado_nao_informado":{"summary":"Código do associado não informado","value":{"status":400,"mensagem":"O código do associado é um parâmetro obrigatório."}},"codigo_associado_invalido":{"summary":"Código do associado inválido","value":{"status":400,"mensagem":"Valor de parametro 'código do associado' inválido"}},"codigo_cidade_invalido":{"summary":"Código da cidade inválido","value":{"status":400,"mensagem":"O código da cidade informada é inválido."}},"corpo_requisicao_vazio":{"summary":"Corpo da requisição vazio","value":{"status":400,"mensagem":"O corpo da requisição não pode ser vazio."}},"tipo_pessoa_invalido":{"summary":"Tipo de pessoa inválido","value":{"status":400,"mensagem":"O campo tipo_pessoa deve ser 'fisica' ou 'juridica'."}},"nacionalidade_invalida":{"summary":"Nacionalidade inválida","value":{"status":400,"mensagem":"O campo nacionalidade deve ser 'brasileiro' ou 'estrangeiro'."}},"nenhum_campo_alterado":{"summary":"Nenhum campo alterado","value":{"status":400,"mensagem":"Nenhum campo foi alterado."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"associadoNaoEncontrado":{"summary":"Associado não encontrado","value":{"status":404,"mensagem":"Associado de código {cod_associado} não encontrado"}}}}}}}}}},"components":{"schemas":{"associado":{"type":"object","properties":{"associado":{"type":"object","properties":{"nome":{"type":"string","maxLength":255,"nullable":false,"example":"Fulano da Silva"},"cpf":{"type":"string","pattern":"^(\\d{11}|\\d{14}|null)$","example":"54501186194","description":"CPF ou CNPJ do associado"},"tel_whatsapp":{"type":"string","description":"Telefone WhatsApp"},"tel_celular":{"type":"string","description":"Telefone celular"},"tel_comercial":{"type":"string","description":"Telefone comercial"},"dt_nascimento":{"type":"string","format":"date","description":"Data de nascimento"},"email":{"type":"string","format":"email","example":"example@domain.com"},"rg":{"type":"string","maxLength":45,"nullable":true,"example":"164397875","description":"Documento de identidade do associado"},"orgao_expedidor_rg":{"type":"string","maxLength":50,"example":"SSP","description":"Órgão expedidor do RG"},"cnh":{"type":"string","maxLength":500,"example":"86982715299","description":"Número da CNH"},"categoria_cnh":{"type":"string","enum":["A","B","C","D","E","AB","AC","AD","AE"],"example":"AB","description":"Categoria da CNH"},"dt_vencimento_cnh":{"type":"string","format":"date","example":"2024-10-25"},"logradouro":{"type":"string","maxLength":500,"example":"Travessa 1","description":"Locadouro/rua do associado"},"bairro":{"type":"string","maxLength":500,"example":"Jardim Diniz"},"numero":{"type":"string","maxLength":100,"description":"Número da moradia do associado"},"complemento":{"type":"string","maxLength":500,"description":"Complemento do endereço do associado"},"cep":{"type":"string","maxLength":50,"example":"74330700","description":"Código de endereçamento postal (CEP)"},"sexo":{"type":"string","maxLength":1,"enum":["F","M",null]},"cod_regional":{"type":"integer","format":"int32","example":7,"description":"Código da regional"},"regional":{"type":"string","maxLength":255,"example":"regional","description":"Nome da regional"},"cod_associado":{"type":"integer","format":"int32","example":7,"description":"Código do associado"},"cidade":{"type":"string","maxLength":255,"example":"Goiânia","description":"Nome da cidade"},"estado":{"type":"string","maxLength":255,"example":"Goiás","description":"Nome da unidade federativa"},"uf":{"type":"string","maxLength":3,"example":"GO","description":"Sigla da unidade federativa"},"dt_cadastro":{"type":"string","format":"date","example":"2024-10-25","description":"Data de cadastro do associado"},"situacao":{"type":"string","maxLength":255,"example":"Ativo","description":"Situação do associado"},"situacao_tipo":{"type":"string","maxLength":255,"example":"Ativo","description":"Tipo da situação do associado"},"cod_situacao":{"type":"integer","format":"int32","example":7,"description":"Código da situação do associado"},"cod_conta":{"type":"integer","format":"int64","example":7,"description":"Código da conta do associado"},"conta_descricao":{"type":"string","maxLength":500,"description":"Descrição da conta bancária do associado"},"conta_beneficiario_ndoc":{"type":"string","maxLength":255,"description":"Número da conta do beneficiário"},"veiculos":{"type":"array","items":{"type":"object","properties":{"placa":{"type":"string","maxLength":7,"example":"KDZ0847","description":"Placa do veículo, no caso de veículo zero kilometro, o valor será 0KM"},"modelo":{"type":"string","maxLength":255,"nullable":true,"example":"Civic Type-R 2.0 Turbo 16V","description":"Modelo do veículo"},"cod_veiculo":{"type":"integer","format":"int32","example":7,"description":"Código do veículo"},"situacao":{"type":"string","maxLength":255,"example":"Ativo","description":"Situação do veículo"},"situacao_tipo":{"type":"string","maxLength":255,"example":"Ativo","description":"Tipo da situação do veículo"},"cod_situacao":{"type":"integer","format":"int32","example":7,"description":"Código da situação do veículo"}}}}}}}},"associadoListar":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":6265,"description":"Total number of results found"},"associados":{"type":"array","items":{"type":"object","properties":{"nome":{"type":"string","example":"Fulano da Silva","description":"Nome do associado"},"cpf":{"type":"string","example":"54501186194","description":"CPF ou CNPJ do associado"},"telefone_whatsapp":{"type":"string","example":"(62) 99123-4567","description":"Telefone WhatsApp do associado"},"telefone_fixo":{"type":"string","example":"(62) 3234-5678","description":"Telefone fixo do associado"},"telefone_recado":{"type":"string","example":"(62) 91234-5678","description":"Telefone de recado do associado"},"telefone_comercial":{"type":"string","example":"(62) 4002-8922","description":"Telefone comercial do associado"},"email":{"type":"string","format":"email","example":"associado@domain.com","description":"Email principal do associado"},"email_secundario":{"type":"string","format":"email","example":"secundario@domain.com","description":"Email secundário do associado"},"cod_associado":{"type":"integer","example":7,"description":"Código do associado"},"dt_cadastro":{"type":"string","format":"date","example":"2024-10-25","description":"Data de cadastro do associado"},"dt_nascimento":{"type":"string","format":"date","example":"1990-01-01","description":"Data de nascimento do associado"},"situacao":{"type":"string","example":"Ativo","description":"Situação do associado"},"situacao_tipo":{"type":"string","example":"Ativo","description":"Tipo da situação do associado"},"cod_situacao":{"type":"integer","example":3,"description":"Código da situação do associado"},"cod_conta":{"type":"integer","example":12345,"description":"Código da conta do associado"}}}}}},"updateAssociado":{"type":"object","properties":{"nome":{"type":"string","maxLength":255,"example":"Fulano da Silva","description":"Nome completo"},"sexo":{"type":"string","enum":["F","M",null],"description":"Sexo do associado"},"tipo_pessoa":{"type":"string","enum":["fisica","juridica"],"description":"Tipo de pessoa"},"nacionalidade":{"type":"string","enum":["brasileiro","estrangeiro"]},"telefone_fixo":{"type":"string","description":"Telefone fixo"},"telefone_whatsapp":{"type":"string","description":"Telefone WhatsApp"},"telefone_celular":{"type":"string","description":"Telefone celular"},"telefone_comercial":{"type":"string","description":"Telefone comercial"},"dt_nascimento":{"type":"string","format":"date","description":"Data de nascimento (YYYY-MM-DD)"},"cpf_cnpj":{"type":"string","pattern":"^(\\d{11}|\\d{14})$","description":"CPF ou CNPJ sem formatação"},"nome_mae":{"type":"string","description":"Nome da mãe"},"email":{"type":"string","format":"email","description":"Email principal"},"email_secundario":{"type":"string","format":"email","description":"Email secundário"},"cep":{"type":"string","description":"CEP"},"rg":{"type":"string","description":"Documento de identidade (RG)"},"orgao_expedidor_rg":{"type":"string","description":"Órgão expedidor do RG"},"cnh":{"type":"string","description":"Número da CNH"},"categoria_cnh":{"type":"string","enum":["A","B","C","D","E","AB","AC","AD","AE"],"description":"Categoria da CNH"},"dt_vencimento_cnh":{"type":"string","format":"date","description":"Data de vencimento da CNH (YYYY-MM-DD)"},"cod_cidade":{"type":"integer","description":"Código da cidade"},"logradouro":{"type":"string","description":"Logradouro"},"bairro":{"type":"string","description":"Bairro"},"numero":{"type":"string","description":"Número"},"complemento":{"type":"string","description":"Complemento"},"cod_externo":{"type":"integer","description":"Código externo do associado"}}},"badRequestResponse":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Parâmetros inválidos ou campos obrigatórios ausentes"}}},"notFoundResponse":{"type":"object","properties":{"status":{"type":"integer","example":404},"mensagem":{"type":"string","example":"Recurso não encontrado"}}},"unauthorizedResponse":{"type":"object","properties":{"status":{"type":"integer","example":401},"mensagem":{"type":"string","example":"Motivo da não autorização."}}}},"requestBodies":{"updateAssociado":{"description":"Dados do associado a serem atualizados","required":true,"content":{"application/json":{"examples":{"exemploAtualizacao":{"value":{"nome":"Fulano da Silva","sexo":"M","tipo_pessoa":"fisica","nacionalidade":"brasileiro","telefone_fixo":"(62) 3234-5678","telefone_whatsapp":"(62) 99999-9999","telefone_celular":"(62) 98888-7777","telefone_comercial":"(62) 4002-8922","dt_nascimento":"1990-01-01","cpf_cnpj":"54501186194","nome_mae":"Beltrana da Silva","email":"exemplo@dominio.com","email_secundario":"secundario@dominio.com","cep":"74330700","rg":"164397875","orgao_expedidor_rg":"SSP","cnh":"86982715299","categoria_cnh":"AB","dt_vencimento_cnh":"2026-05-10","cod_cidade":977,"logradouro":"Travessa 1","bairro":"Jardim Diniz","numero":"123","complemento":"Apto 45","cod_externo":15}}}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}