{"openapi":"3.0.3","info":{"title":"Benefício","description":"Permite a consulta e inserção de benefícios no sistema","version":"3.0.0"},"servers":[{"url":"https://api.ileva.com.br/"}],"paths":{"/beneficio":{"get":{"summary":"Lista os benefícios do sistema.","description":"É obrigatório informar o início da paginação e quantidade por página.","tags":["Benefício"],"operationId":"listBeneficios","parameters":[{"in":"query","name":"inicio_paginacao","schema":{"type":"integer"},"required":true,"description":"Offset para páginação"},{"in":"query","name":"quantidade_por_pagina","schema":{"type":"integer","maximum":200},"required":true,"description":"Número de resultados por página, no máximo 200"},{"name":"cod_plano","in":"query","required":false,"schema":{"type":"integer","format":"int32","example":8},"description":"Código do plano"},{"name":"plano_tipo_veiculo","in":"query","required":false,"schema":{"type":"string","enum":["carro","moto","caminhao","outros","colheitadeira","trator"],"example":"carro"}},{"name":"integracao","in":"query","required":false,"schema":{"type":"string","enum":["webassist","veniti","rastreei","velotrack","care","conexa","coletiva","aupet","softruck","logicasolucoes"],"example":""}}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listaBeneficio"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o início da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por página"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 200"}},"codigoLeadInvalido":{"summary":"Código do lead inválido","value":{"status":400,"mensagem":"Valor de parametro código do lead inválido"}},"codigoVeiculoInvalido":{"summary":"Código do veículo inválido","value":{"status":400,"mensagem":"Valor de parametro código do veículo inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Informação não encontrada","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"benefícioNaoEncontrada":{"summary":"Nenhum benefício encontrado","value":{"status":404,"mensagem":"Nenhum benefício encontrado"}}}}}}}},"post":{"tags":["Benefício"],"summary":"Insere um novo benefício no sistema.","description":"Insere um novo benefício no sistema.<br>\n  Os campos `mostrar_valor_compartilhamento` e `repassar_valor_consultor` só poderão ser passados caso o \n  benefício seja do tipo `comercial` e são obrigatórios.<br>\n  Valor mínimo e máximo só poderão ser informados para benefícios do cálculo: dinamico, dinamico_porcentagem_fipe,\n  dinamico_porcentagem_mesalidade ou dinamico_porcentagem_mensalidade_item_plano","operationId":"inserirBenefício","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inserirBenefício"}}}},"responses":{"201":{"description":"Benefício inserido com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"cod_beneficio":{"type":"integer","example":15},"message":{"type":"string","example":"Benefício inserido com sucesso"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"corpoNaoInformado":{"summary":"Corpo não informado","value":{"status":400,"mensagem":"Corpo da requisição não informado"}},"modeloNaoInformado":{"summary":"Modelo não informado","value":{"status":400,"mensagem":"Por favor informe o código do modelo de benefício"}},"tipoNaoInformado":{"summary":"Tipo não informado","value":{"status":400,"mensagem":"Por favor informe o tipo da benefício"}},"leadOuVeiculoNaoInformado":{"summary":"Lead ou veículo não informado","value":{"status":400,"mensagem":"Por favor informe o código do lead ou do veículo"}},"ambosLeadVeiculo":{"summary":"Ambos lead e veículo informados","value":{"status":400,"mensagem":"Por favor informe apenas o código do lead ou do veículo"}},"modeloNaoEncontrado":{"summary":"Modelo não encontrado","value":{"status":400,"mensagem":"Modelo de benefício não encontrado"}},"leadJaPossuiBeneficio":{"summary":"Lead já possui benefício","value":{"status":400,"mensagem":"Lead já possui uma benefício vinculada"}},"distanciaNaoPermitida":{"summary":"Benefício à distância não permitida","value":{"status":400,"mensagem":"Benefícios a distância não estão habilitadas para esta associação"}},"veiculoTipoInvalido":{"summary":"Tipo inválido para veículo","value":{"status":400,"mensagem":"Benefícios vinculadas a veículos só podem ser do tipo à distância"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/beneficio/{cod_beneficio}":{"get":{"summary":"Busca os dados de um benefício.","description":"É obrigatório informar o código do benefício.","tags":["Benefício"],"operationId":"buscaBeneficio","parameters":[{"name":"cod_beneficio","in":"path","required":true,"schema":{"type":"integer","format":"int32","example":8},"description":"Código do benefício"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaBeneficio"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"nenhumParametro":{"summary":"Parâmetros não informados","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado"}},"formularioInvalido":{"summary":"Código do benefício inválido","value":{"status":400,"mensagem":"Valor de parametro código do benefício inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Recurso não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"beneficioNaoEncontrada":{"summary":"Benefício não encontrado","value":{"status":404,"mensagem":"Benefício não encontrado"}}}}}}}},"delete":{"tags":["Benefício"],"summary":"Exclui um beneficio do sistema.","operationId":"deleteBeneficio","description":"É obrigatório informar o parâmetro: `cod_beneficio`","parameters":[{"name":"cod_beneficio","in":"path","required":true,"schema":{"type":"integer","example":7,"format":"int32"},"description":"código do benefício no sistema"}],"responses":{"200":{"description":"Benefício excluído com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Benefício excluído com sucesso"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"codigoBeneficioInvalido":{"summary":"Código do benefício inválido","value":{"status":400,"mensagem":"Valor de parametro 'código do benefício' inválido"}},"codigoBeneficioNaoInformado":{"summary":"Código do benefício não informado","value":{"status":400,"mensagem":"Por favor informe o código do benefício"}},"beneficioPossuiVinculoIntegracao":{"summary":"Benefício possui vínculo de integração","value":{"status":400,"mensagem":"Por favor, peça para que a associação remova todas as integrações do benefício antes de exclui-lo."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Recurso não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"beneficioNaoEncontrada":{"summary":"Benefício não encontrado","value":{"status":404,"mensagem":"Benefício não encontrado"}}}}}}}}},"/beneficio/vincular-plano":{"post":{"tags":["Benefício"],"summary":"Vincula um benefício a um plano","operationId":"vinculaBeneficioPlano","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/vinculaBeneficioPlano"}}}},"responses":{"200":{"description":"Vínculo inserido com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Vínculo entre benefício e plano inserido com sucesso"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"corpoRequisicaoNaoInformado":{"summary":"Corpo da requisição não informado","value":{"status":400,"mensagem":"Corpo da requisição não informado"}},"codigoBeneficioInvalido":{"summary":"Código do benefício inválido","value":{"status":400,"mensagem":"Valor de parametro 'código do benefício' inválido"}},"codigoPlanoInvalido":{"summary":"Código do plano inválido","value":{"status":400,"mensagem":"Valor de parametro 'código do plano' inválido"}},"codigoBeneficioNaoInformado":{"summary":"Código do benefício não informado","value":{"status":400,"mensagem":"Por favor informe o código do benefício"}},"codigoPlanoNaoInformado":{"summary":"Código do plano não informado","value":{"status":400,"mensagem":"Por favor informe o código do plano"}},"beneficioJaVinculadoPlano":{"summary":"Benefício já vinculado ao plano","value":{"status":400,"mensagem":"Vínculo entre benefício e plano já existente"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Recurso não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"beneficioNaoEncontrado":{"summary":"Benefício não encontrado","value":{"status":404,"mensagem":"Benefício não encontrado"}},"planoNaoEncontrado":{"summary":"Plano não encontrado","value":{"status":404,"mensagem":"Plano não encontrado"}}}}}}}}}},"components":{"schemas":{"listaBeneficio":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Quantidade total de beneficios encontrados"},"beneficios":{"type":"array","items":{"type":"object","properties":{"cod_beneficio":{"type":"integer","example":78,"description":"Código do benefício"},"nome":{"type":"string","example":"Benefício Exemplo","description":"Nome do benefício"},"calculo":{"type":"string","enum":["dinamico","fixo","porcentagem","porcentagem_vlmensalidade","dinamico_porcentagem_fipe","dinamico_porcentagem_mensalidade","porcentagem_vlmensalidade_item_plano","dinamico_porcentagem_mensalidade_item_plano"],"example":"comercial","description":"Tipo do benefício"},"valor":{"type":"number","format":"float","example":150.75,"description":"Valor do benefício"}}}}}},"buscaBeneficio":{"type":"object","properties":{"cod_beneficio":{"type":"integer","example":8,"description":"Código do benefício"},"nome":{"type":"string","example":"Benefício Exemplo","description":"Nome do benefício"},"descricao":{"type":"string","example":"Benefício de exemplo","description":"Descrição do benefício"},"tipo":{"type":"string","enum":["comercial","plano"],"example":"comercial","description":"Tipo do benefício"},"calculo":{"type":"string","enum":["dinamico","fixo","porcentagem","porcentagem_vlmensalidade","dinamico_porcentagem_fipe","dinamico_porcentagem_mensalidade","porcentagem_vlmensalidade_item_plano","dinamico_porcentagem_mensalidade_item_plano"],"example":"comercial","description":"Tipo do benefício"},"valor":{"type":"number","format":"float","example":150.75,"description":"Valor do benefício"},"status":{"type":"string","enum":["ATIVO","INATIVO"],"example":"ATIVO","description":"Status do benefício"},"tipo_restricao":{"type":"string","enum":["valor_fipe","valor_cota"],"example":"valor_fipe","description":"Tipo de restrição do benefício"},"restricao_carro_de":{"type":"number","format":"float","example":0.01,"description":"Valor restrição de carro DE"},"restricao_carro_ate":{"type":"number","format":"float","example":50000.01,"description":"Valor restrição de carro ATE"},"restricao_moto_de":{"type":"number","format":"float","example":0.01,"description":"Valor restrição de moto DE"},"restricao_moto_ate":{"type":"number","format":"float","example":50000.01,"description":"Valor restrição de moto ATE"},"restricao_caminhao_de":{"type":"number","format":"float","example":0.01,"description":"Valor restrição de caminhão DE"},"restricao_caminhao_ate":{"type":"number","format":"float","example":50000.01,"description":"Valor restrição de caminhão ATE"},"restricao_outros_de":{"type":"number","format":"float","example":0.01,"description":"Valor restrição de outros DE"},"restricao_outros_ate":{"type":"number","format":"float","example":50000.01,"description":"Valor restrição de outros ATE"},"planos":{"type":"array","items":{"type":"object","properties":{"cod_plano":{"type":"integer","example":7,"description":"Código do plano"},"nome":{"type":"string","example":"Plano Exemplo","description":"Nome do plano do benefício"},"tipo_veiculo":{"type":"string","enum":["carro","moto","caminhao","outros","colheitadeira","trator"],"example":"carro","description":"Tipo do veículo do plano"}}}}}},"inserirBenefício":{"type":"object","required":["nome","descricao","tipo","calculo"],"properties":{"nome":{"type":"string","example":"Assistência 24h","description":"Nome do benefício"},"descricao":{"type":"string","example":"Cobertura completa","description":"Descrição do benefício"},"tipo":{"type":"string","enum":["plano","comercial"],"example":"comercial","description":"Tipo do benefício"},"calculo":{"type":"string","enum":["fixo","porcentagem","dinamico","porcentagem_vlmensalidade","dinamico_porcentagem_fipe","dinamico_porcentagem_mesalidade","dinamico_porcentagem_mensalidade_item_plano"],"example":"fixo","description":"Tipo de cálculo do benefício"},"valor":{"type":"number","format":"float","example":100,"description":"Valor do benefício (obrigatório para cálculo fixo ou porcentagem)"},"valor_minimo":{"type":"number","format":"float","example":50,"description":"Valor mínimo (apenas para cálculos dinâmicos)"},"valor_maximo":{"type":"number","format":"float","example":200,"description":"Valor máximo (apenas para cálculos dinâmicos)"},"mostrar_valor_compartilhamento":{"type":"string","enum":["sim","não"],"example":"sim","description":"Mostrar valor no compartilhamento (obrigatório para tipo comercial)"},"repassar_valor_consultor":{"type":"string","enum":["sim","não"],"example":"sim","description":"Repassar valor ao consultor (obrigatório para tipo comercial)"},"status":{"type":"string","enum":["ativo","inativo"],"example":"ativo","description":"Status do benefício"},"tipo_restricao":{"type":"string","enum":["valor_fipe","valor_cota"],"example":"valor_fipe","description":"Tipo de restrição"},"restricao_carro_de":{"type":"number","format":"float","example":0.01,"description":"Valor restrição de carro DE"},"restricao_carro_ate":{"type":"number","format":"float","example":50000.01,"description":"Valor restrição de carro ATÉ"},"restricao_moto_de":{"type":"number","format":"float","example":0.01,"description":"Valor restrição de moto DE"},"restricao_moto_ate":{"type":"number","format":"float","example":50000.01,"description":"Valor restrição de moto ATÉ"},"restricao_caminhao_de":{"type":"number","format":"float","example":0.01,"description":"Valor restrição de caminhão DE"},"restricao_caminhao_ate":{"type":"number","format":"float","example":50000.01,"description":"Valor restrição de caminhão ATÉ"},"restricao_outros_de":{"type":"number","format":"float","example":0.01,"description":"Valor restrição de outros DE"},"restricao_outros_ate":{"type":"number","format":"float","example":50000.01,"description":"Valor restrição de outros ATÉ"}}},"vinculaBeneficioPlano":{"type":"object","required":["cod_beneficio","cod_plano"],"properties":{"cod_beneficio":{"type":"integer","example":8,"description":"Código do benefício"},"cod_plano":{"type":"integer","example":3,"description":"Código do plano"}}},"badRequestResponse":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Parâmetros inválidos ou campos obrigatórios ausentes"}}},"notFoundResponse":{"type":"object","properties":{"status":{"type":"integer","example":404},"mensagem":{"type":"string","example":"Recurso não encontrado"}}},"unauthorizedResponse":{"type":"object","properties":{"status":{"type":"integer","example":401},"mensagem":{"type":"string","example":"Motivo da não autorização."}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}