{"openapi":"3.0.3","info":{"title":"Cobranças","description":"Facilita o gerenciamento de cobranças.","version":"3.0.0"},"servers":[{"url":"https://api.ileva.com.br/"}],"paths":{"/cobranca/buscar":{"get":{"tags":["Boleto"],"summary":"Busca cobranca","operationId":"buscaBoleto","description":"*É obrigatório informar ao menos um dos parâmetros: nosso_numero ou cod_cobranca","parameters":[{"name":"nosso_numero","in":"query","required":false,"schema":{"type":"integer","example":219945909},"description":"nosso número"},{"name":"cod_cobranca","in":"query","required":false,"schema":{"type":"integer","example":7,"format":"int32"},"description":"código do boleto"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/boletoBusca"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Pelo menos um parâmetro deve ser informado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/cobranca/listar-associado-veiculo":{"get":{"tags":["Boleto"],"summary":"Lista boleto com paginação","operationId":"listBoletoAssociadoVeiculo","description":"Lista boletos com paginação. Possui filtros de boleto, associado, e veículo.","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","example":0},"description":"Offset para paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","maximum":500,"example":5},"description":"Número de registros por página (máximo 500)"},{"name":"cod_associado","in":"query","required":false,"schema":{"type":"integer","example":7},"description":"Código do associado"},{"name":"situacao_boleto","in":"query","required":false,"schema":{"type":"string","enum":["Aberto","Liquidado","Cancelado","Liquidado com desconto","Excluido","Outra"],"example":"Aberto"},"description":"Situação do boleto"},{"name":"dt_vencimento_de","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2024-11-04"},"description":"Data inicial do vencimento dos boletos (formato: Y-m-d)"},{"name":"dt_vencimento_ate","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2024-11-04"},"description":"Data final do vencimento dos boletos (formato: Y-m-d)"},{"name":"dt_pagamento_de","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2024-11-04"},"description":"Data inicial do pagamento dos boletos (formato: Y-m-d)"},{"name":"dt_pagamento_ate","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2024-11-04"},"description":"Data final do pagamento dos boletos (formato: Y-m-d)"},{"name":"dt_criacao_de","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2024-11-04"},"description":"Data inicial da criação dos boletos (formato: Y-m-d)"},{"name":"dt_criacao_ate","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2024-11-04"},"description":"Data final da criação dos boletos (formato: Y-m-d)"},{"name":"dt_vencimento_original_de","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2024-11-04"},"description":"Data inicial do vencimento original (formato: Y-m-d)"},{"name":"dt_vencimento_original_ate","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2024-11-04"},"description":"Data final do vencimento original (formato: Y-m-d)"},{"name":"cod_veiculo","in":"query","required":false,"schema":{"type":"integer","example":7},"description":"Código do veículo"},{"name":"cpf_associado","in":"query","required":false,"schema":{"type":"string","pattern":"^(\\d{11}|\\d{14}|null)$","example":"01199890189"},"description":"CPF ou CNPJ do associado"},{"name":"placa","in":"query","required":false,"schema":{"type":"string","maxLength":7,"example":"KDZ0847"},"description":"Placa do veículo"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listBoletoAssociadoVeiculo"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 600"}},"parametrosObrigatoriosAusentes":{"summary":"Parâmetros obrigatórios ausentes","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado."}},"dtVencimentoDeInvalido":{"summary":"Data de vencimento inicial inválida","value":{"status":400,"mensagem":"O parâmetro informado em 'dt_vencimento_de' não é válido. Utilize o formato YYYY-MM-DD."}},"dtVencimentoAteInvalido":{"summary":"Data de vencimento final inválida","value":{"status":400,"mensagem":"O parâmetro informado em 'dt_vencimento_ate' não é válido. Utilize o formato YYYY-MM-DD."}},"dtPagamentoDeInvalido":{"summary":"Data de pagamento inicial inválida","value":{"status":400,"mensagem":"O parâmetro informado em 'dt_pagamento_de' não é válido. Utilize o formato YYYY-MM-DD."}},"dtPagamentoAteInvalido":{"summary":"Data de pagamento final inválida","value":{"status":400,"mensagem":"O parâmetro informado em 'dt_pagamento_ate' não é válido. Utilize o formato YYYY-MM-DD."}},"dtCriacaoDeInvalido":{"summary":"Data de criação inicial inválida","value":{"status":400,"mensagem":"O parâmetro informado em 'dt_criacao_de' não é válido. Utilize o formato YYYY-MM-DD."}},"dtCriacaoAteInvalido":{"summary":"Data de criação final inválida","value":{"status":400,"mensagem":"O parâmetro informado em 'dt_criacao_ate' não é válido. Utilize o formato YYYY-MM-DD."}},"dtVencimentoOriginalDeInvalido":{"summary":"Data de vencimento original inicial inválida","value":{"status":400,"mensagem":"O parâmetro informado em 'dt_vencimento_original_de' não é válido. Utilize o formato YYYY-MM-DD."}},"dtVencimentoOriginalAteInvalido":{"summary":"Data de vencimento original final inválida","value":{"status":400,"mensagem":"O parâmetro informado em 'dt_vencimento_original_ate' não é válido. Utilize o formato YYYY-MM-DD."}},"codigoAssociadoInvalido":{"summary":"Código do associado inválido","value":{"status":400,"mensagem":"Valor de parametro 'Código do associado' inválido"}},"codigoVeiculoInvalido":{"summary":"Código do veículo inválido","value":{"status":400,"mensagem":"Valor de parametro 'Código do veículo' inválido"}},"placaInvalida":{"summary":"Placa inválida","value":{"status":400,"mensagem":"Valor de parametro 'Placa do veículo' inválido"}},"situacaoBoleto":{"summary":"Situação do boleto inválida","value":{"status":400,"mensagem":"Valor de parametro 'Situação do boleto' inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/cobranca/listar":{"get":{"tags":["Boleto"],"summary":"Lista boletos com paginação","operationId":"listBoleto","description":"Lista boletos com paginação. Possui filtros por situação, veículo e associado.","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","example":0},"description":"Offset para paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","maximum":600,"example":5},"description":"Número de registros por página (máximo 600)"},{"name":"situacao","in":"query","required":false,"schema":{"type":"string","enum":["Aberto","Liquidado","Cancelado","Liquidado com desconto","Excluido","Outra"],"example":"Aberto"},"description":"Situação do boleto"},{"name":"cod_veiculo","in":"query","required":false,"schema":{"type":"integer","example":7},"description":"Código do veículo"},{"name":"cod_associado","in":"query","required":false,"schema":{"type":"integer","example":7},"description":"Código do associado"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listBoleto"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe o quantidade por pagina"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/cobranca/listar-tipos":{"get":{"tags":["Boleto"],"summary":"Lista tipos de boleto","description":"Lista tipos de boleto.","operationId":"listTiposBoleto","responses":{"200":{"description":"Lista de tipos de boleto encontrada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listTipoBoleto"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}}},"components":{"schemas":{"boletoBusca":{"type":"object","properties":{"boleto":{"type":"object","properties":{"cod_cobranca":{"type":"integer","example":19},"linha_digitavel":{"type":"string","nullable":true,"example":"46191.11000 00000.000026 19945.909018 6 97300000434000","description":"Nulo quando a situação não for 'Aberto'"},"valor":{"type":"number","format":"float","example":"4340.00"},"referencia":{"type":"string","format":"month","example":"2024-06"},"dt_vencimento":{"type":"string","format":"date","example":"2024-11-04"},"dt_pagamento":{"type":"string","format":"date","nullable":true,"example":"2024-11-04","description":"Data de crédito/pagamento do boleto"},"valor_pagamento":{"type":"number","format":"float","nullable":true,"example":"4340.00","description":"Valor efetivamente pago"},"situacao":{"type":"string","enum":["Aberto","Liquidado","Cancelado","Liquidado com desconto","Excluido","Outra"],"example":"Aberto"},"nosso_numero":{"type":"integer","example":"219945909"},"dt_vencimento_original":{"type":"string","format":"date","nullable":true,"example":"2024-11-04"},"url_boleto":{"type":"string","nullable":true,"example":"https://associacao.ileva.com.br/api/associado/boleto/88ab76ca3fff","description":"Nulo quando a situação não for 'Aberto'"},"url_boleto_web":{"type":"string","nullable":true,"example":"https://associacao.ileva.com.br/associado/cobranca/88ab76ca3fff","description":"Nulo quando a situação não for 'Aberto'"},"tipo_boleto":{"type":"string","example":"Fechamento","description":"Tipo do boleto, o cadastro dos tipos de boleto é dinâmico, realizado pela associação, ver em <em>Listar Tipos</em>"},"pix":{"type":"string","nullable":true,"description":"PIX copia-e-cola (string EMV) do boleto. Retornado apenas quando a situação é 'Aberto'; nos demais casos vem null.","example":"00020101029996800014br.gov.bcb.pix2558pix.asaas.com/qr/cobv/484136bb-5895-49ad-a584-9c0d77db6e545204000053039865802BR5925COOPERATIVA DE PROTECAO P6008Brasilia61087030091062070503***630432F6"},"associado":{"type":"object","properties":{"nome":{"type":"string","example":"Fulano da Silva","description":"Nome do associado"},"cpf_cnpj":{"type":"string","pattern":"^(\\d{11}|\\d{14}|null)$","example":"54501186194","description":"CPF ou CNPJ do associado"},"tipo_pessoa":{"type":"string","enum":["FÍSICA","JURÍDICA"],"example":"FÍSICA"},"tel_celular":{"type":"string","example":"32423423423","description":"Telefone celular"},"cod_associado":{"type":"integer","example":27,"description":"Código do associado"},"dt_cadastro":{"type":"string","format":"date","example":"2024-03-07"},"situacao":{"type":"string","example":"ATIVO","description":"Situação: o cadastro das situações é dinâmico, realizado pela associação"},"regional":{"type":"string","description":"Regional: cadastro das regionais é dinâmico, realizado pela associação","example":"Geral"}}},"veiculos":{"type":"array","items":{"type":"object","properties":{"cod_veiculo":{"type":"integer","example":35,"description":"Código do veículo"},"placa":{"type":"string","maxLength":7,"example":"KDZ0847","description":"Placa do veículo, no caso de veículo zero kilometro, o valor será 0KM"},"chassi":{"type":"string","example":"193padN0DMPJM0868","description":"Chassi do veículo"},"ano_fabricacao":{"type":"integer","example":2024,"description":"Ano de fabricação do veículo"},"ano_modelo":{"type":"string","pattern":"^((3200)|(\\d{4}))-\\d$","example":"2024-1","description":"3200 = 0KM"},"dt_contrato":{"type":"string","format":"date","example":"2024-11-04"},"modelo":{"type":"string","maxLength":255,"nullable":true,"example":"Civic Type-R 2.0 Turbo 16V"},"situacao":{"type":"string","example":"ATIVO","description":"Situação: o cadastro das situações é dinâmico, realizado pela associação"},"cod_boleto_veiculo":{"type":"integer","example":12,"description":"Código do vínculo entre o boleto e o veículo"},"valor":{"type":"number","format":"float","example":310,"description":"Valor do veículo dentro do boleto"},"lancamentos":{"type":"array","items":{"type":"object","properties":{"cod_boleto_veiculo_lancamento":{"type":"integer","example":45},"tipo":{"type":"string","example":"credito"},"descricao":{"type":"string","example":"Mensalidade"},"cod_beneficio":{"type":"integer","nullable":true,"example":3,"description":"Código do benefício associado ao lançamento, quando houver"},"valor":{"type":"number","format":"float","example":310}}}}}}}}}}},"listBoletoAssociadoVeiculo":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"boletos":{"type":"array","items":{"type":"object","properties":{"cod_cobranca":{"type":"integer","example":19},"linha_digitavel":{"type":"string","nullable":true,"example":"46191.11000 22000.000026 51885.267016 9 98580000031000","description":"Nulo quando a situação não for 'Aberto'"},"valor_boleto":{"type":"number","format":"float","example":310},"valor_pagamento":{"type":"number","format":"float","example":310.01},"referencia":{"type":"string","example":"2024-09"},"dt_vencimento":{"type":"string","format":"date","example":"2024-11-04"},"dt_pagamento":{"type":"string","format":"date","example":"2024-11-04"},"dt_criacao":{"type":"string","format":"date","example":"2024-11-04"},"situacao_boleto":{"type":"string","enum":["Aberto","Liquidado","Cancelado","Liquidado com desconto","Excluido","Outra"],"example":"Aberto"},"nosso_numero":{"type":"integer","example":251885267},"dt_vencimento_original":{"type":"string","format":"date","nullable":true,"example":null,"description":"Pode significar que a data de vencimento do boleto não foi alterada"},"url_boleto":{"type":"string","nullable":true,"example":"https://associacao.ileva.com.br/api/associado/boleto/3995a37f92da","description":"Nulo quando a situação não for 'Aberto'"},"url_boleto_web":{"type":"string","nullable":true,"example":"https://associacao.ileva.com.br/associado/cobranca/3995a37f92da","description":"Nulo quando a situação não for 'Aberto'"},"nome_associado":{"type":"string","example":"Fulano da Silva"},"cpf":{"type":"string","pattern":"^(\\d{11}|\\d{14}|null)$","example":"54501186194","description":"cpf ou cnpj do associado"},"telefone":{"type":"string","example":"61830670326"},"cod_associado":{"type":"integer","example":7},"situacao_associado":{"type":"string","example":"ATIVO","description":"Situação do associado: cadastro das situações é dinâmico, realizado pela associação"},"tipo_boleto":{"type":"string","example":"ACORDO","description":"Tipo do boleto, o cadastro dos tipos de boleto é dinâmico, realizado pela associação, ver em <em>Listar Tipos</em>"},"pix":{"type":"string","nullable":true,"example":"00020101029996800014br.gov.bcb.pix2558pix.asaas.com/qr/cobv/484136bb-5895-49ad-a584-9c0d77db6e545204000053039865802BR5925COOPERATIVA DE PROTECAO P6008Brasilia61087030091062070503***630432F6","description":"PIX copia-e-cola (string EMV). Nulo quando a situação não for 'Aberto'"},"veiculos":{"type":"array","items":{"type":"object","properties":{"cod_veiculo":{"type":"integer","example":7},"placa":{"type":"string","maxLength":7,"example":"KDZ0847","description":"Placa do veículo, no caso de veículo zero kilometro, o valor será 0KM"},"chassi":{"type":"string","example":"193padN0DMPJM0868","description":"Chassi do veículo"},"ano_fabricacao":{"type":"integer","example":2024},"ano_modelo":{"type":"string","pattern":"^((3200)|(\\d{4}))-\\d$","example":"2024-1"},"dt_contrato":{"type":"string","format":"date","example":"2024-11-04"},"modelo":{"type":"string","maxLength":255,"example":"Civic Type-R 2.0 Turbo 16V"},"situacao_veiculo":{"type":"string","example":"ATIVO","description":"Situação do veículo: cadastro das situações é dinâmico, realizado pela associação"},"marca":{"type":"string","example":"Honda"},"valor":{"type":"number","format":"float","example":310}}}}}}}}},"listBoleto":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"boletos":{"type":"array","items":{"type":"object","properties":{"cod_cobranca":{"type":"integer","example":19},"linha_digitavel":{"type":"string","nullable":true,"example":"46191.11000 22000.000026 51885.267016 9 98580000031000","description":"Nulo quando a situação não for 'Aberto'"},"valor":{"type":"number","format":"float","example":310},"referencia":{"type":"string","example":"2024-09"},"dt_vencimento":{"type":"string","format":"date","example":"2024-11-04"},"dt_pagamento":{"type":"string","format":"date","nullable":true,"example":"2024-11-04"},"valor_pagamento":{"type":"number","format":"float","nullable":true,"example":310.01},"situacao":{"type":"string","enum":["Aberto","Liquidado","Cancelado","Liquidado com desconto","Excluido","Outra"],"example":"Aberto"},"nosso_numero":{"type":"string","example":"251885267"},"dt_vencimento_original":{"type":"string","format":"date","nullable":true,"example":null,"description":"Pode significar que a data de vencimento do boleto não foi alterada"},"url_boleto":{"type":"string","nullable":true,"example":"https://associacao.ileva.com.br/api/associado/boleto/3995a37f92da","description":"Nulo quando a situação não for 'Aberto'"},"url_boleto_web":{"type":"string","nullable":true,"example":"https://associacao.ileva.com.br/associado/cobranca/3995a37f92da","description":"Nulo quando a situação não for 'Aberto'"},"tipo_boleto":{"type":"string","example":"ACORDO","description":"Tipo do boleto, o cadastro dos tipos de boleto é dinâmico, realizado pela associação, ver em <em>Listar Tipos</em>"},"pix":{"type":"string","nullable":true,"example":"00020101029996800014br.gov.bcb.pix2558pix.asaas.com/qr/cobv/484136bb-5895-49ad-a584-9c0d77db6e545204000053039865802BR5925COOPERATIVA DE PROTECAO P6008Brasilia61087030091062070503***630432F6","description":"Nulo quando a situação não for 'Aberto'"},"associado":{"type":"string","example":"Fulano da Silva","description":"Nome do associado"},"cod_associado":{"type":"integer","example":7},"placa":{"type":"string","maxLength":7,"example":"KDZ0847","description":"Placa do veículo"},"cod_veiculo":{"type":"integer","example":35},"cod_boleto_veiculo":{"type":"integer","example":12}}}}}},"listTipoBoleto":{"type":"object","properties":{"tiposBoleto":{"type":"array","items":{"type":"object","properties":{"cod_tipo":{"type":"integer","example":1,"description":"Código do tipo de boleto"},"descricao":{"type":"string","example":"Fechamento","description":"Nome do tipo de boleto"},"situacao":{"type":"string","enum":["ATIVA","INATIVA"],"example":"ATIVA","description":"Situação do tipo de boleto"}}}}}},"badRequestResponse":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Parâmetros inválidos ou campos obrigatórios ausentes"}}},"unauthorizedResponse":{"type":"object","properties":{"status":{"type":"integer","example":401},"mensagem":{"type":"string","example":"Motivo da não autorização."}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}