{"openapi":"3.0.3","info":{"title":"Eventos","description":"Facilita o gerenciamento de Eventos.","version":"2.1.1"},"servers":[{"url":"https://api.ileva.com.br/"}],"paths":{"/evento/listar":{"get":{"tags":["Evento"],"description":"Retorna um objeto contendo uma chave com o total de registros encontrados e registros, sendo um array com os registros encontrados.","operationId":"listarEventos","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","example":0},"description":"Offset para paginação."},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","maximum":300,"example":5},"description":"Número de registros por página. O tamanho máximo é 300."},{"name":"cod_tipo","in":"query","required":false,"schema":{"type":"integer","example":7},"description":"Código do tipo do evento."},{"name":"cod_etapa","in":"query","required":false,"schema":{"type":"integer","example":2},"description":"Código da etapa do evento. (O filtro só será respeitado se o fluxo de etapas da associação for por eventos)."},{"name":"situacao","in":"query","required":false,"schema":{"type":"string","enum":["Ativo","Finalizado"],"example":"Ativo"},"description":"Situação do evento."},{"name":"cpf_cnpj","in":"query","required":false,"schema":{"type":"string","pattern":"^(\\d{11}|\\d{14}|null)$","example":"54501186194"},"description":"CPF ou CNPJ do envolvido"}],"responses":{"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listaEventos"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/evento/buscar":{"get":{"tags":["Evento"],"description":"Retorna dados sobre o evento encontrado, sendo necessário informar ao menos um dos parâmetros.","operationId":"buscarEvento","parameters":[{"name":"cpf_cnpj","in":"query","required":false,"schema":{"type":"string","pattern":"^(\\d{11}|\\d{14}|null)$","example":"54501186194"},"description":"CPF ou CNPJ do associado"},{"name":"cod_evento","in":"query","required":false,"schema":{"type":"integer","example":7},"description":"Código do evento"},{"name":"chassi","in":"query","required":false,"schema":{"type":"string","maxLength":17,"example":"193pkdN0DMPJM0868"},"description":"Chassi do veículo"},{"name":"placa","in":"query","required":false,"schema":{"type":"string","maxLength":7,"example":"KDZ0847"},"description":"Placa do veículo. No caso de veículo zero quilômetro, o valor será '0KM'."}],"responses":{"200":{"description":"Busca realizada com sucesso\n```\nSe não houver/for encontrado:\n{\n  evento: null\n}\n```\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaEvento"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/evento/inserir":{"post":{"tags":["Evento"],"description":"Cria um novo evento com os dados fornecidos.","operationId":"inserirEvento","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["cod_tipo","data","hora","associado","associado.placa"],"properties":{"cod_tipo":{"type":"integer","example":7,"description":"Código do tipo de evento."},"data":{"type":"string","format":"date","example":"2024-10-27","description":"Data do evento no formato Y-m-d."},"hora":{"type":"string","format":"time","example":"14:30","description":"Hora do evento no formato H:i."},"relato":{"type":"string","example":"Relato do evento","description":"Relato sobre o evento."},"associado":{"type":"object","required":["placa"],"properties":{"nome":{"type":"string","example":"Fulano da Silva","description":"Nome do associado."},"placa":{"type":"string","maxLength":7,"example":"KDZ0847","description":"Placa do veículo do associado. No caso de veículo zero quilômetro, o valor será '0KM'."},"telefone":{"type":"string","example":"(99) 99999-9999","description":"Telefone do associado."},"telefone_whatsapp":{"type":"string","example":"(99) 99999-9999","description":"Telefone WhatsApp do associado."}}},"terceiros":{"type":"array","items":{"type":"object","properties":{"nome":{"type":"string","example":"Ciclanos Terceiros","description":"Nome do terceiro."},"placa":{"type":"string","maxLength":7,"example":"KHQ1905","description":"Placa do veículo do terceiro."},"telefone_whatsapp":{"type":"string","example":"(99) 99999-9999","description":"Telefone WhatsApp do terceiro."},"telefone":{"type":"string","example":"(99) 99999-9999","description":"Telefone do terceiro."}}}}}}}}},"responses":{"200":{"description":"Sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/inserirEvento"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/evento/alterar-documento":{"put":{"tags":["Evento"],"description":"Altera o documento de um evento com um novo arquivo.","operationId":"alterarDocumentoEvento","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["cod_documento","documento"],"properties":{"cod_documento":{"type":"integer","example":7,"description":"Código do documento."},"documento":{"type":"string","format":"binary","description":"Arquivo do documento. Formatos permitidos incluem:\n- PNG Image\n- TIFF Image\n- BMP Image\n- HEIC Image\n- JPEG Image\n- WEBP Image\n- GIF Image\n- BMP Image (Microsoft)\n- MP4 Video\n- QuickTime Video\n- MPEG Video\n- AVI Video\n- WMV Video\n- PDF Document\n- Word Document (OpenXML)\n- Excel Spreadsheet (OpenXML)\n- OpenDocument Text\n- XPS Document\n- Excel Spreadsheet (Microsoft)\n- Word Document (Microsoft)\n- ZIP Archive\n- Compressed ZIP Archive\n- Compressed ZIP Archive (Alternate)\n- Gzip Archive\n- RAR Archive\n- Compressed RAR Archive\n- OGG Audio\n- MPEG Audio\n- WAV Audio\n- RTF Document\n- Plain Text Document\n"}}}}}},"responses":{"200":{"description":"Documento alterado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/alterarDocumentoEvento"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"},"examples":{"formularioInvalido":{"summary":"Documento não enviado","value":{"status":400,"mensagem":"Código do documento não enviado"}},"DocNaoEncontrado":{"summary":"Documento não encontrado","value":{"status":400,"mensagem":"Documento não encontrado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/evento/listar-tipos":{"get":{"tags":["Evento"],"description":"Lista tipos relacionados aos eventos","operationId":"listTiposEvento","responses":{"200":{"description":"Tipos listados com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listaEventoTipos"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/evento/responder-pergunta":{"put":{"tags":["Evento"],"description":"Responde uma pergunta utilizando seu código do vínculo e a resposta.","operationId":"responderPerguntaEvento","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["cod_vinculo","resposta"],"properties":{"cod_vinculo":{"type":"integer","example":12,"description":"Código do vínculo entre a pergunta e o evento"},"resposta":{"type":"string","example":"Sim","description":"Resposta da pergunta"}}}}}},"responses":{"200":{"description":"Pergunta respondida com sucesso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/responderPerguntaEvento"}}}},"400":{"description":"Requisição inválida.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"},"examples":{"codigoVinculoInvalido":{"summary":"Código do vínculo inválido","value":{"statusCode":400,"error":"Código do vínculo inválido"}},"respostaInvalida":{"summary":"Resposta inválida","value":{"statusCode":400,"error":"Resposta inválida"}},"perguntaNaoEncontrada":{"summary":"Pergunta do evento não encontrada","value":{"statusCode":400,"error":"Pergunta do evento não encontrada"}},"eventoNaoEncontrado":{"summary":"Evento não encontrado","value":{"statusCode":400,"error":"Evento não encontrado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/envolvido/listar":{"get":{"tags":["Envolvido"],"description":"Lista os envolvidos","operationId":"listEnvolvidos","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","example":0},"description":"Offset para paginação."},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","maximum":200,"example":5},"description":"Número de registros por página. O tamanho máximo é 200."},{"name":"cod_tipo","in":"query","required":false,"schema":{"type":"integer","example":7},"description":"Código do tipo do envolvido."},{"name":"cod_etapa","in":"query","required":false,"schema":{"type":"integer","example":2},"description":"Código da etapa do envolvido. (O filtro só será respeitado se o fluxo de etapas da associação for por envolvidos)."},{"name":"situacao","in":"query","required":false,"schema":{"type":"string","enum":["Ativo","Finalizado","Não acionado"],"example":"Ativo"},"description":"Situação do evento."}],"responses":{"200":{"description":"Lista de envolvidos retornada com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listaEnvolvidos"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 200"}},"situacaoIncorreta":{"summary":"Parâmetro 'situacao' incorreto","value":{"status":400,"mensagem":"O parâmetro 'situacao' informado é inválido. Valores permitidos: Ativo, Finalizado, Não acionado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/envolvido/buscar":{"get":{"tags":["Envolvido"],"description":"Busca detalhes de um envolvido pelo CPF/CNPJ, código do envolvido, placa, ou chassi","operationId":"buscarEnvolvido","parameters":[{"in":"query","name":"cpf_cnpj","schema":{"type":"string","pattern":"^(\\d{11}|\\d{14})$"},"example":"54501186194","description":"CPF ou CNPJ do envolvido"},{"in":"query","name":"cod_envolvido","schema":{"type":"integer","example":7},"description":"Código do envolvido"},{"in":"query","name":"placa","schema":{"type":"string","maxLength":8},"example":"NDZ-2887","description":"Placa do veículo"},{"in":"query","name":"chassi","schema":{"type":"string","maxLength":17},"example":"193pkdN0DMPJM0868","description":"Chassi do veículo"}],"responses":{"200":{"description":"Processado com sucesso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaEnvolvido"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"},"examples":{"formularioInvalido":{"summary":"Sem parâmetros","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/envolvido/busca-sindicancia":{"get":{"tags":["Envolvido"],"description":"Busca detalhes da sindicância de um envolvido pelo código do envolvido.","operationId":"buscaSindicanciaEnvolvido","parameters":[{"in":"query","required":true,"name":"cod_envolvido","schema":{"type":"integer","example":7},"description":"Código do envolvido"}],"responses":{"200":{"description":"Processado com sucesso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaSindicanciaEnvolvido"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"},"examples":{"formularioInvalido":{"summary":"Sem parâmetros","value":{"status":400,"mensagem":"O código do envolvido deve ser informado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/envolvido/arquivos-listar/{cod_envolvido}":{"get":{"tags":["Envolvido"],"description":"Listar os arquivos de um envolvido pelo código do envolvido.","operationId":"listarArquivosEnvolvido","parameters":[{"name":"cod_envolvido","in":"path","required":true,"schema":{"type":"integer"},"description":"ID do envolvido","example":9}],"responses":{"200":{"description":"Pergunta respondida com sucesso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listarArquivosEnvolvido"}}}},"400":{"description":"Requisição inválida.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regulagem/listar":{"get":{"tags":["Regulagem"],"description":"Busca detalhes de uma regulagem pelo código da regulagem","operationId":"listarRegulagem","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","example":0},"description":"Offset para paginação."},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","maximum":300,"example":5},"description":"Número de registros por página. O tamanho máximo é 300."},{"name":"cod_tipo_regulagem","in":"query","required":false,"schema":{"type":"integer","example":2},"description":"Código do tipo de regulagem."},{"name":"cod_evento","in":"query","required":false,"schema":{"type":"integer","example":3},"description":"Código do evento."},{"name":"cod_envolvido","in":"query","required":false,"schema":{"type":"integer","example":2},"description":"Código do envolvido."}],"responses":{"200":{"description":"Processado com sucesso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listaRegulagem"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"},"examples":{"codTipoRegulagemInvalido":{"summary":"Código do tipo de regulagem inválido","value":{"status":400,"mensagem":"Valor de parametro 'Código do tipo da regulagem' inválido"}},"codEventoInvalido":{"summary":"Código do evento inválido","value":{"status":400,"mensagem":"Valor de parametro 'Código do evento' inválido"}},"codEnvolvidoInvalido":{"summary":"Código do envolvido inválido","value":{"status":400,"mensagem":"Valor de parametro 'Código do envolvido' inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regulagem/buscar":{"get":{"tags":["Regulagem"],"description":"Busca detalhes de uma regulagem pelo código da regulagem","operationId":"buscarRegulagem","parameters":[{"in":"query","name":"cod_regulagem","required":true,"schema":{"type":"integer","example":18},"description":"Código da regulagem"}],"responses":{"200":{"description":"Processado com sucesso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaRegulagem"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"},"examples":{"formularioInvalido":{"summary":"Sem parâmetros","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regulagem/buscar-item":{"get":{"tags":["Regulagem"],"description":"Busca detalhes de um item por seu código","operationId":"buscarItemRegulagem","parameters":[{"in":"query","name":"cod_item","required":true,"schema":{"type":"integer","example":7},"description":"Código do item da regulagem"}],"responses":{"200":{"description":"Busca de item realizada com sucesso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaItemRegulagem"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"},"examples":{"formularioInvalido":{"summary":"Sem parâmetros","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regulagem/listar-tipos":{"get":{"tags":["Regulagem"],"description":"Lista os tipos de Ordem e Regulagem","operationId":"listaTiposRegulagem","parameters":[{"in":"query","name":"situacao","required":false,"schema":{"type":"string","example":"ATIVO","enum":["ATIVO","INATIVO"]},"description":"Situação do tipo de Ordem e Regulagem. 'ATIVO' ou 'INATIVO'"}],"responses":{"200":{"description":"Processado com sucesso.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listaTiposRegulagem"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"},"examples":{"situacaoIncorreta":{"summary":"Parâmetro 'situacao' incorreto","value":{"status":400,"mensagem":"O parâmetro 'situacao' informado é inválido. Valores permitidos: ATIVO, INATIVO"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regulagem/inserir":{"post":{"tags":["Regulagem"],"description":"Cria uma nova regulagem vinculada a um evento e envolvido.","operationId":"inserirRegulagem","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inserirRegulagem"}}}},"responses":{"201":{"description":"Regulagem criada com sucesso.","content":{"application/json":{"schema":{"type":"object","properties":{"cod_regulagem":{"type":"integer","example":99},"message":{"type":"string","example":"Regulagem criada com sucesso"}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}}}}},"/regulagem/inserir-item":{"post":{"tags":["Regulagem"],"description":"Adiciona um item a uma regulagem existente.","operationId":"inserirItemRegulagem","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inserirItemRegulagem"}}}},"responses":{"201":{"description":"Item de regulagem criado com sucesso.","content":{"application/json":{"schema":{"type":"object","properties":{"cod_item_regulagem":{"type":"integer","example":55},"message":{"type":"string","example":"Item de regulagem criado com sucesso"}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}}}}},"/regulagem/item/{cod_item_regulagem}/anexo":{"post":{"tags":["Regulagem"],"description":"Envia uma imagem para um item de regulagem. O arquivo pode ser enviado de duas formas, porém apenas uma por requisição:\n- **Upload binário**: envie o arquivo no campo `file` via `multipart/form-data`.\n- **URL de CDN**: informe a URL do arquivo no campo `url` no body.","operationId":"inserirImagemItemRegulagem","parameters":[{"name":"cod_item_regulagem","in":"path","required":true,"schema":{"type":"integer","example":55},"description":"Código do item de regulagem."}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"Arquivo de imagem para upload. Não pode ser enviado junto com o campo `url`."}}}},"application/json":{"schema":{"type":"object","properties":{"url":{"type":"string","example":"https://cdn.exemplo.com/foto.jpg","description":"URL HTTPS da imagem. Não pode ser enviada junto com o campo `file`."}}}}}},"responses":{"201":{"description":"Imagem enviada com sucesso.","content":{"application/json":{"schema":{"type":"object","properties":{"cod_arquivo":{"type":"integer","example":10},"url_imagem":{"type":"string","example":"https://cdn.ileva.com.br/evento/regulagem/abc123.jpg"},"message":{"type":"string","example":"Imagem enviada com sucesso"}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequest"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}}}}}},"components":{"schemas":{"listaEventos":{"type":"object","properties":{"total_encontrados":{"type":"integer","description":"Total de registros encontrados.","example":1},"eventos":{"type":"array","items":{"type":"object","properties":{"cod_evento":{"type":"integer","example":1,"description":"Código do evento."},"cod_tipo":{"type":"integer","example":7,"description":"Código do tipo do evento."},"descricao_tipo":{"type":"string","example":"Acidente de trânsito","description":"Descrição do tipo do evento."},"cod_etapa":{"type":"integer","example":7,"description":"Código da etapa em que o evento se encontra. (SE ETAPA POR EVENTO)"},"descricao_etapa":{"type":"string","example":"Comunicado","description":"Descrição da etapa em que o evento se encontra. (SE ETAPA POR EVENTO)"},"situacao":{"type":"string","enum":["Ativo","Finalizado"],"example":"Ativo","description":"Situação do processo do evento. Ativo ou Finalizado"},"processo_dias":{"type":"string","example":"94","description":"Dias corridos do processo."},"criacao_evento":{"type":"string","format":"date-time","example":"2024-10-27 15:30:00","description":"Data de criação do evento no formato Y-m-d H:i:s."},"data_evento":{"type":"string","format":"date-time","example":"2024-10-27 15:30:00","description":"Data do evento no formato Y-m-d H:i:s."},"local_evento":{"type":"string","example":"Av. Guarapari, 133, Jardim Atlântico","description":"Local que ocorreu o evento."},"acionamento_associado":{"type":"string","example":"SIM","description":"Acionamento do Associado."},"acionamento_terceiro":{"type":"string","example":"SIM","description":"Acionamento do Terceiro."},"cod_cidade":{"type":"integer","example":4984,"description":"Código do cidade do evento."},"cod_estado":{"type":"integer","example":27,"description":"Código do estado do evento."},"comunicante_nome":{"type":"string","example":"Comunicante Exemplo","description":"Comunicante do evento."},"comunicante_telefone":{"type":"string","example":"(86) 98415-3048","description":"Telefone do comunicante do evento."},"houve_vistoria":{"type":"string","example":"SIM","description":"Indica se houve vistória técnica."},"cod_vistoriadora":{"type":"integer","example":130,"description":"Código da vistoriadora."},"relato_evento":{"type":"string","example":"Terceiro se chocou com meu veículo enquanto andava na contramão.","description":"Relato do ocorrido."},"vistoriadora":{"type":"string","example":"Vistoriadora Exemplo","description":"Nome do responsável pela vistoria."},"envolvidos":{"type":"array","items":{"type":"object","properties":{"cod_envolvido":{"type":"integer","example":7,"description":"Código do envolvido."},"nome_envolvido":{"type":"string","maxLength":255,"example":"Fulano da Silva"},"data_nascimento":{"type":"string","example":"1999-04-04","description":"Data de nascimento do envolvido no formato Y-m-d."},"cpf_cnpj_envolvido":{"type":"string","example":"205.199.266-50","description":"CPF ou CNPJ do envolvido."},"rg_envolvido":{"type":"string","example":"42.990.589-0","description":"RG do envolvido."},"telefone_whatsapp":{"type":"string","example":"(84) 98390-0278","description":"Telefone WhatsApp do envolvido."},"telefone":{"type":"string","example":"(84) 3722-7114","description":"Telefone do envolvido."},"email_envolvido":{"type":"string","example":"envolvido@exemplo.com","description":"Email do envolvido."},"participacao":{"type":"string","example":"5%","description":"Participação do envolvido."},"coparticipacao":{"type":"string","example":"625.61","description":"Coparticipação do envolvido."},"placa_envolvido":{"type":"string","maxLength":7,"example":"KDZ0I47","description":"Placa do veículo. No caso de veículo zero quilômetro, o valor será '0KM'."},"cod_etapa":{"type":"integer","example":7,"description":"Código da etapa em que o envolvido se encontra. (SE ETAPA POR ENVOLVIDO)"},"descricao_etapa":{"type":"string","example":"Comunicado","description":"Descrição da etapa em que o envolvido se encontra. (SE ETAPA POR ENVOLVIDO)"},"cod_tipo":{"type":"integer","example":34,"description":"Código do tipo."},"situacao":{"type":"string","example":"Ativo","description":"Status da situação."},"tipo_veiculo":{"type":"string","example":"Carro","description":"Tipo do carro."},"valor_veiculo":{"type":"string","example":"11594.00","description":"Valor do veículo do envolvido."},"renavam_veiculo":{"type":"string","example":"7273073031-7","description":"Renavam do veículo do envolvido."},"chassi_veiculo":{"type":"string","example":"7XMPRMLZXCM5Y6380","description":"Chassi do veículo do envolvido."},"modelo_veiculo":{"type":"string","example":"Inca 1.6L","description":"Modelo do veículo do envolvido."},"ano_veiculo":{"type":"string","example":"1999","description":"Ano do veículo do envolvido."},"montadora_veiculo":{"type":"string","example":"Seat","description":"Montadora do veículo do envolvido."},"cor_veiculo":{"type":"string","example":"Cinza","description":"Cor do veículo do envolvido."},"cod_cidade":{"type":"integer","example":977,"description":"Código da cidade."},"cod_estado":{"type":"integer","example":9,"description":"Código do estado."},"veiculo_rodando":{"type":"string","example":"NÃO","description":"Indica se o veículo está rodando."},"associado":{"type":"string","enum":["SIM","NÃO"],"example":"SIM","description":"Indica se o envolvido é um associado: SIM para associado, NÃO para não associado."},"status_sindicancia":{"type":"string","example":"Pendente","description":"Status atual da sindicância."}}}}}}}}},"buscaEvento":{"type":"object","properties":{"evento":{"type":"object","properties":{"cod_evento":{"type":"integer","example":1,"description":"Código do evento."},"cod_tipo":{"type":"integer","example":7,"description":"Código do tipo do evento."},"descricao_tipo":{"type":"string","example":"Acidente de trânsito","description":"Descrição do tipo do evento."},"cod_etapa":{"type":"integer","example":7,"description":"Código da etapa em que o evento se encontra. (SE ETAPA POR EVENTO)"},"descricao_etapa":{"type":"string","example":"Comunicado","description":"Descrição da etapa em que o evento se encontra. (SE ETAPA POR EVENTO)"},"situacao_evento":{"type":"string","enum":["Ativo","Finalizado"],"example":"Ativo","description":"Situação do processo do evento. Ativo ou Finalizado"},"processo_dias":{"type":"string","example":"94","description":"Dias corridos do processo."},"criacao_evento":{"type":"string","format":"date-time","example":"2024-10-27 15:30:00","description":"Data de criação do evento no formato Y-m-d H:i:s."},"data_evento":{"type":"string","format":"date-time","example":"2024-10-27 15:30:00","description":"Data do evento no formato Y-m-d H:i:s."},"local_evento":{"type":"string","example":"Av. Guarapari, 133, Jardim Atlântico","description":"Local que ocorreu o evento."},"acionamento_associado":{"type":"string","example":"SIM","description":"Acionamento do Associado."},"acionamento_terceiro":{"type":"string","example":"SIM","description":"Acionamento do Terceiro."},"cod_cidade":{"type":"integer","example":4984,"description":"Código do cidade do evento."},"cod_estado":{"type":"integer","example":27,"description":"Código do estado do evento."},"comunicante_nome":{"type":"string","example":"Comunicante Exemplo","description":"Comunicante do evento."},"comunicante_telefone":{"type":"string","example":"(86) 98415-3048","description":"Telefone do comunicante do evento."},"houve_vistoria":{"type":"string","example":"SIM","description":"Indica se houve vistória técnica."},"cod_vistoriadora":{"type":"integer","example":130,"description":"Código da vistoriadora."},"relato_evento":{"type":"string","example":"Terceiro se chocou com meu veículo enquanto andava na contramão.","description":"Relato do ocorrido."},"vistoriadora":{"type":"string","example":"Vistoriadora Exemplo","description":"Nome do responsável pela vistoria."},"envolvidos":{"type":"array","items":{"type":"object","properties":{"cod_envolvido":{"type":"integer","example":7,"description":"Código do envolvido."},"nome_envolvido":{"type":"string","maxLength":255,"example":"Fulano da Silva"},"data_nascimento":{"type":"string","example":"1999-04-04","description":"Data de nascimento do envolvido no formato Y-m-d."},"cpf_cnpj_envolvido":{"type":"string","example":"205.199.266-50","description":"CPF ou CNPJ do envolvido."},"rg_envolvido":{"type":"string","example":"42.990.589-0","description":"RG do envolvido."},"telefone_whatsapp":{"type":"string","example":"(84) 98390-0278","description":"Telefone WhatsApp do envolvido."},"telefone":{"type":"string","example":"(84) 3722-7114","description":"Telefone do envolvido."},"email_envolvido":{"type":"string","example":"envolvido@exemplo.com","description":"Email do envolvido."},"participacao":{"type":"string","example":"5%","description":"Participação do envolvido."},"coparticipacao":{"type":"string","example":"625.61","description":"Coparticipação do envolvido."},"placa_envolvido":{"type":"string","maxLength":7,"example":"KDZ0I47","description":"Placa do veículo. No caso de veículo zero quilômetro, o valor será '0KM'."},"cod_etapa":{"type":"integer","example":7,"description":"Código da etapa em que o envolvido se encontra. (SE ETAPA POR ENVOLVIDO)"},"descricao_etapa":{"type":"string","example":"Comunicado","description":"Descrição da etapa em que o envolvido se encontra. (SE ETAPA POR ENVOLVIDO)"},"cod_tipo":{"type":"integer","example":34,"description":"Código do tipo."},"situacao":{"type":"string","example":"Ativo","description":"Status da situação."},"tipo_veiculo":{"type":"string","example":"Carro","description":"Tipo do carro."},"valor_veiculo":{"type":"string","example":"11594.00","description":"Valor do veículo do envolvido."},"renavam_veiculo":{"type":"string","example":"7273073031-7","description":"Renavam do veículo do envolvido."},"chassi_veiculo":{"type":"string","example":"7XMPRMLZXCM5Y6380","description":"Chassi do veículo do envolvido."},"modelo_veiculo":{"type":"string","example":"Inca 1.6L","description":"Modelo do veículo do envolvido."},"ano_veiculo":{"type":"string","example":"1999","description":"Ano do veículo do envolvido."},"montadora_veiculo":{"type":"string","example":"Seat","description":"Montadora do veículo do envolvido."},"cor_veiculo":{"type":"string","example":"Cinza","description":"Cor do veículo do envolvido."},"cod_cidade":{"type":"integer","example":977,"description":"Código da cidade."},"cod_estado":{"type":"integer","example":9,"description":"Código do estado."},"veiculo_rodando":{"type":"string","example":"NÃO","description":"Indica se o veículo está rodando."},"associado":{"type":"string","enum":["SIM","NÃO"],"example":"SIM","description":"Indica se o envolvido é um associado: SIM para associado, NÃO para não associado."},"status_sindicancia":{"type":"string","example":"Pendente","description":"Status atual da sindicância."}}}},"documentos":{"type":"array","items":{"type":"object","properties":{"cod_documento":{"type":"integer","example":7,"description":"Código do documento"},"descricao":{"type":"string","example":"outros","description":"Descrição do documento"},"url":{"type":"string","nullable":true,"example":null,"description":"URL/link do documento enviado"},"cod_envolvido":{"type":"integer","example":7,"description":"Código do envolvido relacionado ao documento"}}}},"perguntas":{"type":"array","items":{"type":"object","properties":{"cod_vinculo":{"type":"integer","example":14,"description":"Vínculo entre a pergunta e o evento"},"pergunta":{"type":"string","example":"Houve colisão?","description":"Pergunta do evento"},"resposta":{"type":"string","example":"Sim","description":"Resposta da pergunta"}}}}}}}},"inserirEvento":{"type":"object","properties":{"cod_evento":{"type":"integer","example":7,"description":"Código do evento criado."}}},"alterarDocumentoEvento":{"type":"object","properties":{"cod_documento":{"type":"integer","example":7,"description":"Código do documento."},"documento":{"type":"string","example":"caminho/do/arquivo","description":"Caminho do arquivo salvo."}}},"listaEventoTipos":{"type":"object","properties":{"tipos":{"type":"array","items":{"type":"object","properties":{"descricao":{"type":"string","example":"Descrição do tipo de evento"},"cod_tipo":{"type":"integer","example":7,"description":"Código do tipo de evento"},"etapas":{"type":"array","items":{"type":"object","properties":{"ordem":{"type":"integer","format":"int32","example":1,"description":"Número da ordem da etapa no evento"},"cod_etapa":{"type":"integer","example":7,"description":"Código da etapa"},"descricao":{"type":"string","example":"Comunicado","description":"Descrição da etapa"}}}},"perguntas":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer","example":12,"description":"ID da pergunta"},"pergunta":{"type":"string","example":"Houve colisão?","description":"Conteúdo da pergunta"}}}}}}}}},"listaEnvolvidos":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Número de registros encontrados"},"envolvidos":{"type":"array","items":{"type":"object","properties":{"cod_envolvido":{"type":"integer","example":7,"description":"Código do envolvido"},"nome_envolvido":{"type":"string","example":"Ciclano da Souza","description":"Nome do envolvido"},"data_nascimento":{"type":"string","example":"1999-04-04","description":"Data de nascimento do envolvido"},"cpf_cnpj":{"type":"string","example":"205.199.266-50","description":"CPF ou CNPJ do envolvido"},"rg_envolvido":{"type":"string","example":"42.990.589-0","description":"RG do envolvido"},"telefone_whatsapp":{"type":"string","example":"(84) 98390-0278","description":"WhatsApp do envolvido"},"telefone":{"type":"string","example":"(84) 3722-7114","description":"Telefone do envolvido"},"email_envolvido":{"type":"string","example":"email@exemplo.com","description":"Email do envolvido"},"participacao":{"type":"string","example":"5%","description":"Participação do envolvido"},"coparticipacao":{"type":"string","example":"625.61","description":"Coparticipação do envolvido"},"placa_envolvido":{"type":"string","example":"KDZ0I47","description":"Placa do veículo"},"cod_etapa":{"type":"integer","example":7,"description":"Código da etapa"},"descricao_etapa":{"type":"string","example":"COMPRAS","description":"Descrição da etapa"},"cod_tipo":{"type":"integer","example":84,"description":"Código do tipo de envolvido"},"situacao_envolvido":{"type":"string","example":"Ativo","description":"Situação do envolvido"},"tipo_veiculo":{"type":"string","example":"Carro","description":"Tipo do veículo"},"valor_veiculo":{"type":"string","example":"11594.00","description":"Valor FIPE do veículo"},"renavam_veiculo":{"type":"string","example":"7273073031-7","description":"Renavam do veículo"},"chassi_veiculo":{"type":"string","example":"7XMPRMLZXCM5Y6380","description":"Chassi do veículo"},"modelo_veiculo":{"type":"string","example":"Gol","description":"Modelo do veículo"},"ano_veiculo":{"type":"string","example":"1999","description":"Ano do veículo"},"montadora_veiculo":{"type":"string","example":"Volkswagen","description":"Montadora do veículo"},"cor_veiculo":{"type":"string","example":"Prata","description":"Cor do veículo"},"cod_cidade":{"type":"integer","example":1,"description":"Código da cidade"},"cod_estado":{"type":"integer","example":1,"description":"Código do estado"},"veiculo_rodando":{"type":"string","example":"SIM","description":"Indica se o veículo está rodando"},"associado":{"type":"string","example":"SIM","description":"Indica se o envolvido é associado"},"status_sindicancia":{"type":"string","example":"Pendente","description":"Status da sindicância"},"cod_evento":{"type":"integer","example":7,"description":"Código do evento"},"cod_veiculo":{"type":"integer","example":7,"description":"Código do veículo"},"valor_ordens_aprovadas":{"type":"number","format":"float","example":0.01,"description":"Valor das ordens aprovadas"},"valor_ordens_aprovadas_ajuda_participativa":{"type":"number","format":"float","example":0.02,"description":"Valor da ajuda participativa na ordem aprovada"}}}}}},"buscaEnvolvido":{"type":"object","properties":{"envolvido":{"type":"object","properties":{"cod_envolvido":{"type":"integer","example":7,"description":"Código do envolvido"},"nome_envolvido":{"type":"string","maxLength":255,"nullable":false,"example":"Fulano da Silva","description":"Nome do envolvido"},"data_nascimento":{"type":"string","example":"1999-04-04","description":"Data de nascimento do envolvido"},"cpf_cnpj":{"type":"string","example":"205.199.266-50","description":"CPF ou CNPJ do envolvido"},"rg_envolvido":{"type":"string","example":"12.345.678-9","description":"RG do envolvido"},"telefone_whatsapp":{"type":"string","example":"(84) 98390-0278","description":"WhatsApp do envolvido"},"telefone":{"type":"string","example":"(84) 3722-7114","description":"Telefone do envolvido"},"email_envolvido":{"type":"string","example":"email@exemplo.com","description":"Email do envolvido"},"participacao":{"type":"string","example":"5%","description":"Participação do envolvido"},"coparticipacao":{"type":"string","example":"625.61","description":"Coparticipação do envolvido"},"placa_envolvido":{"type":"string","example":"NDZ-2887","description":"Placa do veículo"},"cod_etapa":{"type":"integer","example":7,"description":"Código da etapa atual"},"descricao_etapa":{"type":"string","example":"COMPRAS","description":"Descrição da etapa"},"cod_tipo":{"type":"integer","example":1,"description":"Código do tipo de envolvido"},"situacao":{"type":"string","example":"Ativo","description":"Situação do envolvido"},"tipo_veiculo":{"type":"string","example":"Carro","description":"Tipo do veículo"},"valor_veiculo":{"type":"string","example":"11594.00","description":"Valor FIPE do veículo"},"renavam_veiculo":{"type":"string","example":"7273073031-7","description":"Renavam do veículo"},"chassi_veiculo":{"type":"string","example":"7XMPRMLZXCM5Y6380","description":"Chassi do veículo"},"modelo_veiculo":{"type":"string","example":"Gol","description":"Modelo do veículo"},"ano_veiculo":{"type":"string","example":"2020","description":"Ano do veículo"},"montadora_veiculo":{"type":"string","example":"Volkswagen","description":"Montadora do veículo"},"cor_veiculo":{"type":"string","example":"Prata","description":"Cor do veículo"},"cod_cidade":{"type":"integer","example":1,"description":"Código da cidade"},"cod_estado":{"type":"integer","example":1,"description":"Código do estado"},"veiculo_rodando":{"type":"string","example":"SIM","description":"Indica se o veículo está rodando"},"associado":{"type":"string","example":"SIM","description":"Indica se o envolvido é associado"},"status_sindicancia":{"type":"string","example":"Pendente","description":"Status da sindicância"},"criacao_envolvido":{"type":"string","format":"date-time","example":"2024-10-27 15:30:00","description":"Data de criação do envolvido"},"cod_evento":{"type":"integer","example":4,"description":"Código do evento"},"cod_veiculo":{"type":"integer","example":7,"description":"Código do veículo"},"historico_etapas":{"type":"array","items":{"type":"object","properties":{"cod_etapa":{"type":"integer","example":7,"description":"Código da etapa"},"entrou_etapa":{"type":"string","format":"date-time","example":"2024-10-27 15:30:00","description":"Data de entrada na etapa"},"saiu_etapa":{"type":"string","format":"date-time","example":"2024-10-27 15:30:00","description":"Data de saída da etapa"},"cod_tipo":{"type":"integer","example":7,"description":"Código do tipo da etapa"},"descricao_etapa":{"type":"string","example":"Comunicado","description":"Descrição da etapa"},"cor_etapa":{"type":"string","maxLength":7,"example":"#4f1a57","description":"Cor da etapa"},"descricao_tipo":{"type":"string","example":"Descrição do tipo da etapa"}}}},"documentos":{"type":"array","items":{"type":"object","properties":{"cod_documento":{"type":"integer","example":7,"description":"Código do documento"},"descricao":{"type":"string","example":"Descrição do documento"},"url":{"type":"string","example":"http://example.com/documento","description":"URL/link do documento"},"cod_evento":{"type":"integer","example":7,"description":"Código do evento"}}}},"ordens":{"type":"array","items":{"type":"object","properties":{"cod_ordem":{"type":"integer","example":7,"description":"Código da ordem"},"status":{"type":"string","enum":["Pendente","Aprovada","Reprovada","Pre-aprovada"],"example":"Aprovada","description":"Status da ordem"},"ajuda_participativa":{"type":"number","format":"float","example":0.01,"description":"Valor da ajuda participativa"},"valor_total":{"type":"number","format":"float","example":0.02,"description":"Valor total da ordem de serviço"},"tipo":{"type":"string","maxLength":155,"example":"Novo","description":"Tipo da ordem"},"cod_evento":{"type":"integer","example":15,"description":"Código do evento da ordem"},"cod_fornecedor":{"type":"integer","example":4512,"description":"Código do fornecedor da ordem"}}}},"perguntas":{"type":"array","items":{"type":"object","properties":{"cod_vinculo":{"type":"integer","example":14,"description":"Vínculo entre a pergunta e o evento"},"pergunta":{"type":"string","example":"Houve colisão?","description":"Pergunta do evento"},"resposta":{"type":"string","example":"Sim","description":"Resposta da pergunta"}}}}}}}},"buscaSindicanciaEnvolvido":{"type":"object","properties":{"sindicancia":{"type":"object","properties":{"cod_sindicancia":{"type":"integer","example":41,"description":"Código da sindicância"},"cod_envolvido":{"type":"integer","example":15,"description":"Código do envolvido"},"status_sindicancia":{"type":"string","example":"Deferido","description":"Status da sindicância"},"cod_evento":{"type":"integer","example":24,"description":"Código do evento relacionado"},"obs_envolvido":{"type":"string","example":null,"description":"Observação do envolvido"},"obs_geral":{"type":"string","example":"teste","description":"Observação geral"},"monta":{"type":"string","example":"Média","description":"Tipo de monta"},"cnh_em_dia":{"type":"string","example":"SIM","description":"CNH em dia ('SIM' ou 'NÃO')"},"mensalidade_em_dia":{"type":"string","example":"SIM","description":"Mensalidade em dia ('SIM' ou 'NÃO')"},"valor_participacao":{"type":"string","example":"5237.01","description":"Valor da participação"},"valor_total_deducoes":{"type":"string","example":"100.01","description":"Valor total das deduções"},"valor_total_ressarcimento":{"type":"string","example":"205.99","description":"Valor total do ressarcimento"},"indeferido_em":{"type":"string","example":"2025-05-28","description":"Data de indeferimento"},"arquivos":{"type":"array","items":{"type":"object","properties":{"cod_arquivo":{"type":"integer","example":25,"description":"Código do arquivo"},"descricao":{"type":"string","example":"Termo De Acionamento - Documento assinado.","description":"Descrição do arquivo"},"url":{"type":"string","example":"https://example.com/","description":"URL do arquivo"},"status_doc_requisicao":{"type":"string","example":"Assinada","description":"Status do documento requisitado"},"data_assinatura":{"type":"string","example":"2025-06-27 01:06:51","description":"Data da assinatura do documento"}}}}}}}},"listarArquivosEnvolvido":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Número de registros encontrados"},"arquivos":{"type":"array","items":{"type":"object","properties":{"cod_arquivo":{"type":"integer","example":7,"description":"Código do arquivo"},"descricao":{"type":"string","example":"Descrição do arquivo"},"url":{"type":"string","example":"http://example.com/documento","description":"URL/link do arquivo"},"cod_evento":{"type":"integer","example":7,"description":"Código do evento"},"cod_envolvido":{"type":"integer","example":7,"description":"Código do envolvido"},"data_envio":{"type":"string","example":"2025-05-27 17:43:33","description":"Data de envio do arquivo no formato Y-m-d H:i:s"}}}}}},"listaRegulagem":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Número de registros encontrados"},"regulagens":{"type":"array","items":{"type":"object","properties":{"cod_regulagem":{"type":"integer","example":1,"description":"Código da Regulagem"},"cod_tipo_regulagem":{"type":"integer","example":4,"description":"Código do Tipo da Regulagem"},"cod_evento":{"type":"integer","example":26,"description":"Código do Evento"},"cod_envolvido":{"type":"integer","example":26,"description":"Código do Envolvido"},"dt_criacao":{"type":"string","format":"date-time","example":"2024-10-27 15:30:00","description":"Data de criação da Regulagem no formato Y-m-d H:i:s."}}}}}},"buscaRegulagem":{"type":"object","properties":{"regulagem":{"type":"object","properties":{"cod_regulagem":{"type":"integer","example":1,"description":"Código da Regulagem"},"cod_tipo_regulagem":{"type":"integer","example":4,"description":"Código do Tipo da Regulagem"},"cod_evento":{"type":"integer","example":26,"description":"Código do Evento"},"cod_envolvido":{"type":"integer","example":26,"description":"Código do Envolvido"},"dt_criacao":{"type":"string","format":"date-time","example":"2024-10-27 15:30:00","description":"Data de criação da Regulagem no formato Y-m-d H:i:s."},"itens":{"type":"array","items":{"type":"object","properties":{"cod_item_regulagem":{"type":"integer","example":21,"description":"Código do Item da Regulagem"},"descricao":{"type":"string","example":"Para-Brisas","description":"Descrição do Item da Regulagem"},"observacao":{"type":"string","example":"Sem avarias","description":"Observação do Item da Regulagem"},"quantidade":{"type":"integer","example":1,"description":"Quantidade do Item da Regulagem"},"troca":{"type":"string","example":"SIM","description":"Indica se o item é uma troca ('SIM' ou 'NÃO')"},"lanternagem":{"type":"string","example":"NÃO","description":"Indica se o item é uma lanternagem ('SIM' ou 'NÃO')"},"pintura":{"type":"string","example":"NÃO","description":"Indica se o item é uma pintura ('SIM' ou 'NÃO')"},"quantidade_imagens":{"type":"integer","example":2,"description":"Quantidade de imagens anexadas ao Item da Regulagem"}}}}}}}},"buscaItemRegulagem":{"type":"object","properties":{"item_regulagem":{"type":"object","properties":{"cod_item_regulagem":{"type":"integer","example":4,"description":"Código do Item de Regulagem"},"cod_regulagem":{"type":"integer","example":1,"description":"Código da Regulagem"},"descricao":{"type":"string","example":"Para-Brisas","description":"Descrição do Item da Regulagem"},"observacao":{"type":"string","example":"Sem avarias","description":"Observação do Item da Regulagem"},"quantidade":{"type":"integer","example":1,"description":"Quantidade do Item da Regulagem"},"troca":{"type":"string","example":"SIM","description":"Indica se o item é uma troca ('SIM' ou 'NÃO')"},"lanternagem":{"type":"string","example":"NÃO","description":"Indica se o item é uma lanternagem ('SIM' ou 'NÃO')"},"pintura":{"type":"string","example":"NÃO","description":"Indica se o item é uma pintura ('SIM' ou 'NÃO')"},"arquivos":{"type":"array","items":{"type":"object","properties":{"cod_arquivo":{"type":"integer","example":1,"description":"Código do arquivo"},"url_arquivo":{"type":"string","example":"http://example.com/arquivo.jpg","description":"URL/link do arquivo"}}}}}}}},"listaTiposRegulagem":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Número de registros encontrados"},"tipos_regulagem":{"type":"array","items":{"type":"object","properties":{"cod_tipo_ordem_regulagem":{"type":"integer","example":1,"description":"Código do tipo de Ordem e Regulagem"},"nome":{"type":"string","example":"Peça Nova/Oficina"},"descricao":{"type":"string","example":"Emissão de peças novas para oficina"},"tipo_nova_ordem_regulagem":{"type":"string","example":"SIM","description":"Indica se é um tipo que deve ser considerado que o carro foi para oficina ('SIM' ou 'NÃO')"},"situacao":{"type":"string","enum":["ATIVO","INATIVO"],"example":"ATIVO","description":"situacao do tipo de Ordem e Regulagem('ATIVO' ou 'INATIVO')"}}}}}},"badRequest":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Informação do parâmetro faltante/inválido"}}},"unauthorizedResponse":{"type":"object","properties":{"status":{"type":"integer","example":401},"mensagem":{"type":"string","example":"Motivo da não autorização."}}},"responderPerguntaEvento":{"type":"object","properties":{"cod_vinculo":{"type":"integer","example":12,"description":"Código do vínculo entre a pergunta e o evento"},"resposta":{"type":"string","example":"Sim","description":"Resposta para a pergunta"}}},"inserirRegulagem":{"type":"object","required":["cod_evento","cod_envolvido","cod_tipo_regulagem"],"properties":{"cod_evento":{"type":"integer","example":76,"description":"Código do evento (sinistro)."},"cod_envolvido":{"type":"integer","example":101,"description":"Código do envolvido (participante)."},"cod_tipo_regulagem":{"type":"integer","example":1,"description":"Código do tipo de regulagem."}}},"inserirItemRegulagem":{"type":"object","required":["cod_regulagem","descricao"],"properties":{"cod_regulagem":{"type":"integer","example":99,"description":"Código da regulagem."},"descricao":{"type":"string","example":"Parachoque dianteiro","description":"Descrição da peça ou serviço."},"quantidade":{"type":"integer","example":2,"description":"Quantidade do item."},"troca":{"type":"integer","enum":[0,1],"example":1,"description":"1 para sim, 0 para não."},"lanternagemn":{"type":"integer","enum":[0,1],"example":0,"description":"1 para sim, 0 para não."},"pintura":{"type":"integer","enum":[0,1],"example":0,"description":"1 para sim, 0 para não."},"observacao":{"type":"string","example":"Peça original","description":"Observação sobre o item."}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}