{"openapi":"3.0.3","info":{"title":"Lançamentos","description":"Dados relacionados a lançamentos financeiros, como receitas e despesas.","version":"3.0.0"},"servers":[{"url":"https://api.ileva.com.br/"}],"paths":{"/lancamento/listar":{"get":{"summary":"Listar lançamentos","operationId":"listLancamentos","description":"Lista todos os lançamentos financeiros.","tags":["Lançamentos"],"parameters":[{"in":"query","name":"inicio_paginacao","schema":{"type":"integer"},"required":true,"description":"Offset para páginação"},{"in":"query","name":"quantidade_por_pagina","schema":{"type":"integer","maximum":600},"required":true,"description":"Número de resultados por página, no máximo 600"},{"in":"query","name":"fluxo","schema":{"type":"string","enum":["entrada","saida"]},"required":false,"description":"Tipo de fluxo: 'entrada' para receita ou 'saida' para despesa"},{"in":"query","name":"liquidado","schema":{"type":"integer","enum":[0,1]},"required":false,"description":"Indica se o lançamento está liquidado (1 = 'Sim', 0 = 'Não')"}],"responses":{"200":{"description":"Lista de lançamentos","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listLancamentos"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"examples":{"inicio_nao_informado":{"summary":"Início da paginação ausente","value":{"status":400,"mensagem":"Por favor informe o início da paginação"}},"quantidade_nao_informada":{"summary":"Quantidade por página ausente","value":{"status":400,"mensagem":"Por favor informe a quantidade por página"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lancamento/buscar":{"get":{"summary":"Buscar lançamento por código","operationId":"buscaLancamento","description":"Busca um lançamento financeiro pelo seu código.","tags":["Lançamentos"],"parameters":[{"in":"query","name":"cod_lancamento","schema":{"type":"integer"},"required":true,"description":"Código do lançamento a ser buscado"}],"responses":{"200":{"description":"Lançamento encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaLancamento"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"examples":{"parametro_ausente":{"summary":"Código do lançamento ausente","value":{"status":400,"mensagem":"O código do lançamento é obrigatório"}},"codigo_invalido":{"summary":"Código informado inválido","value":{"status":400,"mensagem":"Código do lançamento inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lancamento/alterar/{cod_lancamento}":{"put":{"summary":"Alterar lançamento","operationId":"alterarLancamento","description":"Altera um lançamento financeiro existente.","tags":["Lançamentos"],"parameters":[{"name":"cod_lancamento","in":"path","required":true,"schema":{"type":"integer","example":1}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createLancamento"}}}},"responses":{"200":{"description":"Lançamento alterado com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Lançamento alterado com sucesso"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"examples":{"codigo_invalido":{"summary":"Código informado inválido","value":{"status":400,"mensagem":"Código do Lançamento inválido"}},"lancamento_nao_encontrado":{"summary":"Lançamento não encontrado","value":{"status":400,"mensagem":"Lançamento não encontrado!"}},"valor_liquidado_invalido":{"summary":"Valor liquidado inválido","value":{"status":400,"mensagem":"O valor liquidado deve ser um número positivo."}},"valor_liquidado_zero_com_data":{"summary":"Valor liquidado zero com data de liquidação","value":{"status":400,"mensagem":"O Valor liquidado não pode ser igual a 0 se existe Data de liquidação."}},"data_prevista_invalida":{"summary":"Data prevista inválida","value":{"status":400,"mensagem":"O campo Data Prevista deve estar no formato YYYY-MM-DD e ser uma data válida."}},"data_liquidacao_invalida":{"summary":"Data de liquidação inválida","value":{"status":400,"mensagem":"O campo Data de Liquidação deve estar no formato YYYY-MM-DD e ser uma data válida."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}}}}}},"components":{"schemas":{"listLancamentos":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Total de lançamentos encontrados"},"lancamentos":{"type":"array","items":{"type":"object","properties":{"cod_lancamento":{"type":"integer","example":1},"descricao":{"type":"string","example":"Funilaria e Pintura"},"tipo":{"type":"string","enum":["boleto","cartao_credito","cheque","dinheiro","pix","transferencia","nao_informado"],"example":"boleto"},"fluxo":{"type":"string","enum":["entrada","saida"],"example":"entrada","description":"Indica se o lançamento está liquidado (1 = 'Sim', 0 = 'Não')"},"valor":{"type":"number","format":"float","example":150},"valor_liquidado":{"type":"number","format":"float","example":150},"data_criacao":{"type":"string","format":"date","example":"2025-06-22"},"data_prevista":{"type":"string","format":"date","example":"2025-06-30"},"data_liquidacao":{"type":"string","format":"date","example":"2023-06-28"}}}}}},"buscaLancamento":{"type":"object","properties":{"lancamento":{"type":"object","properties":{"cod_lancamento":{"type":"integer","example":1},"descricao":{"type":"string","example":"Funilaria e Pintura"},"tipo":{"type":"string","enum":["boleto","cartao_credito","cheque","dinheiro","pix","transferencia","nao_informado"],"example":"boleto"},"fluxo":{"type":"string","enum":["entrada","saida"],"example":"entrada","description":"Indica se o lançamento está liquidado (1 = 'Sim', 0 = 'Não')"},"valor":{"type":"number","format":"float","example":150},"valor_liquidado":{"type":"number","format":"float","example":150},"data_criacao":{"type":"string","format":"date","example":"2025-06-22"},"data_prevista":{"type":"string","format":"date","example":"2025-06-30"},"data_liquidacao":{"type":"string","format":"date","example":"2023-06-28"}}}}},"createLancamento":{"type":"object","properties":{"valor_liquidado":{"type":"number","format":"float","example":150,"description":"Caso exista data de liquidação, o valor liquidado não pode ser igual a 0."},"data_prevista":{"type":"string","format":"date","example":"2025-06-30"},"data_liquidacao":{"type":"string","format":"date","example":"2023-06-28"}}},"badRequest":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Informação do parâmetro faltante/inválido"}}},"unauthorizedResponse":{"type":"object","properties":{"status":{"type":"integer","example":401},"mensagem":{"type":"string","example":"Motivo da não autorização."}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}