{"openapi":"3.0.3","info":{"title":"Leads","description":"Permite a consulta de informações sobre regionais, marcas, modelos\nde veículos, e a gestão de planos de associação.","version":"3.0.0"},"servers":[{"url":"https://api.ileva.com.br/"}],"paths":{"/lead/buscar":{"get":{"tags":["Lead"],"summary":"Obtém lead","description":"É obrigatório informar o cod_lead ou o hash","operationId":"buscaIndicacao","parameters":[{"name":"cod_lead","description":"Código do lead","in":"query","schema":{"type":"integer","example":12}},{"name":"hash","description":"Hash do lead","in":"query","schema":{"type":"string","example":"dae892c097ca745058e847"}}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchIndication"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"formularioInvalido":{"summary":"Sem parâmetros","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/listar":{"get":{"summary":"Lista leads","description":"É obrigatório informar cod_regional ou cod_equipe ou cod_consultor ou classificacao.","tags":["Lead"],"operationId":"listLead","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":0},"description":"Posição inicial para a paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":10,"maximum":600},"description":"Número de leads por página (máximo 600)"},{"name":"cod_regional","in":"query","required":false,"schema":{"type":"integer","format":"int32"},"description":"Código da regional para filtrar leads"},{"name":"cod_equipe","in":"query","required":false,"schema":{"type":"integer","format":"int32"},"description":"Código da equipe para filtrar leads"},{"name":"cod_consultor","in":"query","required":false,"schema":{"type":"integer","format":"int32"},"description":"Código do consultor para filtrar leads"},{"name":"classificacao","in":"query","required":false,"schema":{"type":"string","enum":["pendente","ativada","arquivada"]},"description":"Classificação das leads. Valores possíveis(pendente, ativada, arquivada)"},{"name":"cod_associado_indicador","in":"query","required":false,"schema":{"type":"integer","format":"int32"},"description":"Código do associado indicador"},{"name":"cod_origem","in":"query","required":false,"schema":{"type":"integer","format":"int32","example":4},"description":"Código da origem para filtrar leads. Disponível em `[GET]/lead/origens`"},{"name":"placa","in":"query","required":false,"schema":{"type":"string","maxLength":7,"example":"0KM","description":"Placa do veículo. No caso de veículo zero quilômetro, o valor será '0KM'."}},{"name":"chassi","in":"query","required":false,"schema":{"type":"string","example":"45C4DNEKVFEJF9732","description":"Chassi do veículo"}},{"name":"dt_criacao_de","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2024-11-04"},"description":"Data inicial da criação dos leads (formato: Y-m-d)"},{"name":"dt_criacao_ate","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2024-11-04"},"description":"Data final da criação dos leads (formato: Y-m-d)"},{"name":"dt_ativacao_de","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2025-11-04"},"description":"Data inicial da ativação dos leads (formato: Y-m-d)"},{"name":"dt_ativacao_ate","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2025-11-04"},"description":"Data final da ativação dos leads (formato: Y-m-d)"},{"name":"vistoria_dt_criacao_de","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2025-11-04"},"description":"Data inicial da criação da vistoria do lead (formato: Y-m-d)"},{"name":"vistoria_dt_criacao_ate","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2025-11-04"},"description":"Data final da criação da vistoria do lead(formato: Y-m-d)"},{"name":"vistoria_dt_aprovacao_de","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2025-11-04"},"description":"Data inicial da aprovação da vistoria do lead (formato: Y-m-d)"},{"name":"vistoria_dt_aprovacao_ate","in":"query","required":false,"schema":{"type":"string","format":"date","example":"2025-11-04"},"description":"Data final da aprovação da vistoria do lead(formato: Y-m-d)"},{"name":"vistoria_status","in":"query","required":false,"schema":{"type":"string","enum":["PENDENTE","APROVADA","NAO_ENVIADA","REANALISE","REPROVADO"],"example":"REPROVADO"},"description":"Tipo da Situação"}],"responses":{"200":{"description":"Lista de leads","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listLead"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 600"}},"parametrosObrigatoriosAusentes":{"summary":"Parâmetros obrigatórios ausentes","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado."}},"parametroDataCriacaoDeInvalido":{"summary":"Parâmetro dt_criacao_de inválido","value":{"status":400,"mensagem":"O parâmetro 'valor' em 'dt_criacao_de' não é válido."}},"parametroDataCriacaoAteInvalido":{"summary":"Parâmetro dt_criacao_ate inválido","value":{"status":400,"mensagem":"O parâmetro 'valor' em 'dt_criacao_ate' não é válido."}},"parametroDataAtivacaoDeInvalido":{"summary":"Parâmetro dt_ativacao_de inválido","value":{"status":400,"mensagem":"O parâmetro 'valor' em 'dt_ativacao_de' não é válido."}},"parametroDataAtivacaoAteInvalido":{"summary":"Parâmetro dt_ativacao_ate inválido","value":{"status":400,"mensagem":"O parâmetro 'valor' em 'dt_ativacao_ate' não é válido."}},"parametroVistoriaDataCriacaoDeInvalido":{"summary":"Parâmetro vistoria_dt_criacao_de inválido","value":{"status":400,"mensagem":"O parâmetro 'valor' em 'vistoria_dt_criacao_de' não é válido."}},"parametroVistoriaDataCriacaoAteInvalido":{"summary":"Parâmetro vistoria_dt_criacao_ate inválido","value":{"status":400,"mensagem":"O parâmetro 'valor' em 'vistoria_dt_criacao_ate' não é válido."}},"parametroVistoriaDataAprovacaoDeInvalido":{"summary":"Parâmetro vistoria_dt_aprovacao_de inválido","value":{"status":400,"mensagem":"O parâmetro 'valor' em 'vistoria_dt_aprovacao_de' não é válido."}},"parametroVistoriaDataAprovacaoAteInvalido":{"summary":"Parâmetro vistoria_dt_aprovacao_ate inválido","value":{"status":400,"mensagem":"O parâmetro 'valor' em 'vistoria_dt_aprovacao_ate' não é válido."}},"parametroVistoriaStatusInvalido":{"summary":"Parâmetro vistoria_status inválido","value":{"status":400,"mensagem":"O parâmetro 'valor' em 'vistoria_status' não é válido."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/inserir":{"post":{"tags":["Lead"],"summary":"Cria uma nova lead","operationId":"createLead","description":"Código do consultor `cod_consultor`. Disponível em `/consultor/listar`.<br>\nCódigo do indicador `cod_indicador`. Disponível em `/indicador/listar`.<br>\nCódigo do associado indicador `cod_associado_indicador`. Disponível em `/associado/listar`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createIndicacao"}}}},"responses":{"201":{"description":"Indicação criada com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"hash":{"type":"string","example":"dae892c097ca745058e847"},"cod_lead":{"type":"integer","example":7}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"example":{"status":400,"mensagem":"Formulário inválido"},"examples":{"formularioInvalido":{"summary":"Formulário inválido","value":{"status":400,"mensagem":"Formulário inválido."}},"planoNaoEncontrado":{"summary":"Plano não encontrado ou não está ativo","value":{"status":400,"mensagem":"Plano não encontrado ou não está ativo."}},"indicadorNaoEncontrado":{"summary":"Indicador não encontrado","value":{"status":400,"mensagem":"Indicador não encontrado!"}},"indicadorNaoVinculadoConsultor":{"summary":"O indicador não está vinculado ao consultor enviado","value":{"status":400,"mensagem":"O indicador não está vinculado ao consultor enviado."}},"associadoNaoEncontrado":{"summary":"Associado não encontrado","value":{"status":400,"mensagem":"Associado não encontrado."}},"veiculoNaoEncaixaPlano":{"summary":"Este veículo não se encaixa em nenhum item de plano","value":{"status":400,"mensagem":"Este veículo não se encaixa em nenhum item de plano. Solicite a inclusão ao administrador ou escolha outro plano."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/{cod_lead}":{"put":{"tags":["Lead"],"summary":"Atualiza um lead já criado","operationId":"updateIndicacao","description":"Código do consultor `cod_consultor`. Disponível em `/consultor/listar`.<br>\nCódigo do indicador `cod_indicador`. Disponível em `/indicador/listar`.<br>\nCódigo do associado indicador `cod_associado_indicador`. Disponível em `/associado/listar`.","parameters":[{"name":"cod_lead","in":"path","required":true,"schema":{"type":"integer","example":18,"format":"int32"},"description":"código do modelo da régua de cobrança"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/updateIndicacao"}}}},"responses":{"200":{"description":"Lead atualizado com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"mensagem":{"type":"string","example":"Lead atualizado com sucesso"},"cod_lead":{"type":"string","example":"18"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"example":{"status":400,"mensagem":"Formulário inválido"},"examples":{"formularioInvalido":{"summary":"Formulário inválido","value":{"status":400,"mensagem":"Formulário inválido."}},"planoNaoEncontrado":{"summary":"Plano não encontrado ou não está ativo","value":{"status":400,"mensagem":"Plano não encontrado ou não está ativo."}},"indicadorNaoEncontrado":{"summary":"Indicador não encontrado","value":{"status":400,"mensagem":"Indicador não encontrado!"}},"indicadorNaoVinculadoConsultor":{"summary":"O indicador não está vinculado ao consultor enviado","value":{"status":400,"mensagem":"O indicador não está vinculado ao consultor enviado."}},"associadoNaoEncontrado":{"summary":"Associado não encontrado","value":{"status":400,"mensagem":"Associado não encontrado."}},"veiculoNaoEncaixaPlano":{"summary":"Este veículo não se encaixa em nenhum item de plano","value":{"status":400,"mensagem":"Este veículo não se encaixa em nenhum item de plano. Solicite a inclusão ao administrador ou escolha outro plano."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/vincular-beneficio":{"post":{"tags":["Lead"],"summary":"Vincula um benefício do tipo comercial a um lead.","operationId":"vinculaLeadBeneficio","description":"Código do benefício. Disponível em `/beneficio/listar`.<br>\nCódigo do lead. Disponível em `/lead/listar`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/vinculaLeadBeneficio"}}}},"responses":{"200":{"description":"Vínculo inserido com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"cod_vinculo":{"type":"integer","example":15},"message":{"type":"string","example":"Benefício vinculado com sucesso ao lead"}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"corpoNaoInformado":{"summary":"Corpo da requisição não informado","value":{"status":400,"mensagem":"Corpo da requisição não informado"}},"codigoBeneficioInvalido":{"summary":"Código do benefício inválido","value":{"status":400,"mensagem":"Valor de parametro 'código do benefício' inválido"}},"codigoLeadInvalido":{"summary":"Código do lead inválido","value":{"status":400,"mensagem":"Valor de parametro 'código do lead' inválido"}},"codigoBeneficioNaoInformado":{"summary":"Código do benefício não informado","value":{"status":400,"mensagem":"Por favor informe o código do benefício"}},"codigoLeadNaoInformado":{"summary":"Código do lead não informado","value":{"status":400,"mensagem":"Por favor informe o código do lead"}},"beneficioTipoInvalido":{"summary":"Tipo do benefício inválido","value":{"status":400,"mensagem":"Só podem ser adicionados benefícios do tipo 'comercial'"}},"beneficioCalculoInvalido":{"summary":"Tipo do cálculo inválido","value":{"status":400,"mensagem":"O cálculo deste benefício é 'calculo', não sendo possível informar um valor."}},"beneficioRestricaoValorFipeMinimo":{"summary":"Restrição de valor FIPE mínimo do benefício","value":{"status":400,"mensagem":"O valor FIPE do veículo do lead é menor que o valor mínimo permitido para este benefício."}},"beneficioRestricaoValorFipeMaximo":{"summary":"Restrição de valor FIPE máximo do benefício","value":{"status":400,"mensagem":"O valor FIPE do veículo do lead é maior que o valor máximo permitido para este benefício."}},"beneficioRestricaoValorCotaMinimo":{"summary":"Restrição de valor mínimo do benefício","value":{"status":400,"mensagem":"O valor da cota do plano é menor que o valor mínimo permitido para este benefício."}},"beneficioRestricaoValorCotaMaximo":{"summary":"Restrição de valor máximo do benefício","value":{"status":400,"mensagem":"O valor da cota do plano é maior que o valor mínimo permitido para este benefício."}},"beneficioJaVinculado":{"summary":"Benefício já vinculado ao lead","value":{"status":400,"mensagem":"Este benefício já está vinculado a este lead."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"beneficioNaoEncontrado":{"summary":"Benefício não encontrado","value":{"status":404,"mensagem":"Benefício não encontrado"}},"leadNaoEncontrada":{"summary":"Lead não encontrada","value":{"status":404,"mensagem":"Lead não encontrada"}}}}}}}}},"/lead/origens":{"get":{"tags":["Lead"],"summary":"Tem por finalidade listar as origens criadas pelo sistema.","operationId":"indicationGetOrigens","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":0},"description":"Posição inicial para a paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":10,"maximum":100},"description":"Quantidade de registros por página (máximo 100)"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listLeadOrigens"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 100"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/planos":{"get":{"tags":["Lead"],"summary":"Obtém planos por regional","operationId":"listPlanos","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":0},"description":"Posição inicial para a paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":10,"maximum":100},"description":"Quantidade de registros por página (máximo 100)"},{"name":"cod_regional","in":"query","required":true,"schema":{"type":"integer","example":7}}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listPlanosByRegional"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 100"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/marcas":{"get":{"tags":["Lead"],"summary":"Lista marcas por tipo de veículo e plano","operationId":"listMarcas","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":0},"description":"Posição inicial para a paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":10,"maximum":100},"description":"Quantidade de registros por página (máximo 100)"},{"name":"tipo","in":"query","required":true,"schema":{"type":"string","enum":["carro","moto","caminhao","colheitadeira","trator","outros"],"example":"carro"}},{"name":"cod_plano","in":"query","required":true,"schema":{"type":"integer","example":7}}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IndicacaoMarcas"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 100"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/anos":{"get":{"tags":["Lead"],"summary":"Lista anos por plano e marca","operationId":"listAnos","parameters":[{"name":"cod_plano","in":"query","required":true,"schema":{"type":"integer","example":7}},{"name":"cod_marca","in":"query","required":true,"schema":{"type":"integer","example":7}}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listAnosByPlanoNMarca"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"codPlanoInvalido":{"summary":"Código do plano inválido","value":{"status":400,"mensagem":"Por favor informe o código do plano."}},"codMarcaInvalido":{"summary":"Código da marca inválido","value":{"status":400,"mensagem":"Por favor informe o código da marca."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/modelos":{"get":{"tags":["Lead"],"summary":"Lista modelos por tipo de veículo, plano, marca e ano","operationId":"listModelos","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":0},"description":"Posição inicial para a paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":10,"maximum":100},"description":"Quantidade de registros por página (máximo 100)"},{"name":"tipo","in":"query","required":true,"schema":{"type":"string","enum":["carro","moto","caminhao","colheitadeira","trator","outros"],"example":"carro"}},{"name":"cod_plano","in":"query","required":true,"schema":{"type":"integer","example":7}},{"name":"cod_marca","in":"query","required":true,"schema":{"type":"integer","example":7}},{"name":"codigo_ano","in":"query","required":true,"schema":{"type":"string","pattern":"^(^(3200)|^(\\d{4}))-\\d$","example":"2024-1","description":"3200 = 0KM (ano modelo)"}}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listIndicacaoModelo"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 100"}},"codPlanoInvalido":{"summary":"Código do plano inválido","value":{"status":400,"mensagem":"Por favor informe o código do plano."}},"codMarcaInvalido":{"summary":"Código da marca inválido","value":{"status":400,"mensagem":"Por favor informe o código da marca."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/regionais":{"get":{"tags":["Lead"],"summary":"Tem por finalidade listar toda(s) regional(is).","operationId":"listRegionais","responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listRegionais"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/listar-planos-por-fipe":{"get":{"tags":["Lead"],"summary":"Lista planos por código fipe de veículo","operationId":"listPlanosPorCodigoFipe","parameters":[{"name":"cod_fipe","in":"query","required":true,"description":"O código fipe do modelo para buscar por planos.","schema":{"type":"string","example":"811118-9_2021-1"}}],"responses":{"200":{"description":"Modelo veículo possui plano(s) compativeis.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listPlanosPorCodigoFipe"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Código FIPE não informado"}},"veiculoNaoEncontrado":{"summary":"Veículo não encontrado","value":{"status":400,"mensagem":"Veículo não encontrado para o código FIPE fornecido"}},"planoNaoEncontrado":{"summary":"Nenhum plano encontrado","value":{"status":400,"mensagem":"Nenhum plano encontrado para o valor FIPE do veículo."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/etapas-funil":{"get":{"tags":["Lead"],"summary":"Lista etapas que possuem indicações","description":"Retorna somente as etapas do funil de vendas que contêm indicações.","operationId":"listEtapasFunil","responses":{"200":{"description":"Lista de etapas do funil","content":{"application/json":{"schema":{"$ref":"#/components/schemas/etapaFunil"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/consultor/listar":{"get":{"tags":["Consultor"],"summary":"Tem por finalidade listar todos os consutores","operationId":"listConsultores","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":0},"description":"Posição inicial para a paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":10,"maximum":200},"description":"Número de leads por página (máximo 200)"},{"name":"cod_regional","in":"query","required":false,"schema":{"type":"integer","format":"int32","example":7},"description":"Filtro Código da regional"},{"name":"cod_equipe","in":"query","required":false,"schema":{"type":"integer","format":"int32","example":7},"description":"Filtro Código da equipe"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listConsultor"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 200"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/consultor/buscar":{"get":{"tags":["Consultor"],"summary":"Obtém consultor","description":"É obrigatório informar o cod_consultor ou o cpf/cnpj do consultor","operationId":"buscaConsultor","parameters":[{"name":"cod_consultor","description":"Código da consultor","in":"query","schema":{"type":"integer","example":12}},{"name":"cpfCnpj","description":"CPF do consultor","in":"query","schema":{"type":"string","example":"323.456.329-01","description":"deve ser informado com máscara"}}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchConsultor"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"codConsultorInvalido":{"summary":"Código do consultor inválido","value":{"status":400,"mensagem":"Valor de parametro 'Código do consultor' inválido"}},"nenhumParametroInformado":{"summary":"Nenhum parâmetro informado","value":{"status":400,"mensagem":"Informe o Código do consultor ou CPF/CNPJ"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/consultor":{"post":{"tags":["Consultor"],"summary":"Cadastrar um consultor","operationId":"createConsultor","description":"Cadastra um novo consultor e associa a uma equipe.<br>\n`cod_equipe` código da equipe, as equipes são listadas no endpoint:`/equipe/listar`;<br>\n`cod_estado` código do estado, são listados no endpoint: `/outros/estados`, em outros no menu lateral;<br>\n`cod_cidade` código da cidade, são listadas no endpoint `outros/cidades/{id_estado}` também em outros.<br><br>\nO email de cada consultor deve ser único.","requestBody":{"$ref":"#/components/requestBodies/createConsultor"},"responses":{"201":{"description":"Consultor cadastrado com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Consultor cadastrado com sucesso."},"cod_consultor":{"type":"integer","example":7}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"formularioInvalido":{"summary":"Campo obrigatório ausente","value":{"status":400,"mensagem":"O campo {nomeCampo} é obrigatório"}},"emailInvalido":{"summary":"Email inválido","value":{"status":400,"mensagem":"Já existe um consultor com o email informado: joao.silva@example.com"}},"cpfCnpjInvalido":{"summary":"CPF/CNPJ inválido","value":{"status":400,"mensagem":"Já existe um consultor com o CPF/CNPJ informado: 323.456.329-01"}},"cpfCnpjInvalidoMascara":{"summary":"CPF/CNPJ inválido, sem máscara","value":{"status":400,"mensagem":"Informe o CPF/CNPJ com máscara"}},"estadoInvalido":{"summary":"Estado inválido","value":{"status":400,"mensagem":"O código do estado informado é inválido."}},"cidadeInvalido":{"summary":"Cidade inválida","value":{"status":400,"mensagem":"O código da cidade informado é inválido."}},"cidadeNaoEstado":{"summary":"Cidade não pertence ao estado","value":{"status":400,"mensagem":"A cidade informada não pertence ao estado informado."}},"equipeInvalida":{"summary":"Equipe inválida","value":{"status":400,"mensagem":"O código da equipe informada é inválido."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/consultor/{cod_consultor}":{"put":{"tags":["Consultor"],"summary":"Atualizar um consultor","operationId":"updateConsultor","description":"Atualiza um consultor.<br>\n`cod_equipe` código da equipe, as equipes são listadas no endpoint:`/equipe/listar`;<br>\n`cod_estado` código do estado, são listados no endpoint: `/outros/estados`, em outros no menu lateral;<br>\n`cod_cidade` código da cidade, são listadas no endpoint `outros/cidades/{id_estado}` também em outros.<br><br>\nO email de cada consultor deve ser único.","parameters":[{"name":"cod_consultor","in":"path","required":true,"schema":{"type":"integer","example":18,"format":"int32"},"description":"código do consultor"}],"requestBody":{"$ref":"#/components/requestBodies/updateConsultor"},"responses":{"201":{"description":"Consultor atualizado com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Consultor atualizado com sucesso."},"cod_consultor":{"type":"integer","example":18}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"codigo_nao_informado":{"summary":"Código do vínculo não informado ou inválido","value":{"status":400,"mensagem":"O código do consultor é um parametro obrigatório."}},"corpo_requisicao_vazio":{"summary":"Corpo da requisição vazio","value":{"status":400,"mensagem":"O corpo da requisição não pode ser vazio."}},"consultor_inexistente":{"summary":"Consultor inexistente","value":{"status":400,"mensagem":"Não existe consultor para o código informado: {cod_consultor}"}},"email_ja_cadastrado":{"summary":"Email já cadastrado em outro consultor","value":{"status":400,"mensagem":"Já existe um consultor com o email informado: {email}."}},"tipo_pessoa_invalido":{"summary":"Tipo de pessoa inválido","value":{"status":400,"mensagem":"O campo tipo_pessoa deve ser 'fisica' ou 'juridica'."}},"cod_estado_invalido":{"summary":"Código estado inválido","value":{"status":400,"mensagem":"O código do estado informado é inválido."}},"cod_cidade_invalido":{"summary":"Código cidade inválido","value":{"status":400,"mensagem":"O código da cidade informada é inválido."}},"cod_equipe_invalido":{"summary":"Código equipe inválido","value":{"status":400,"mensagem":"O código da equipe informada é inválido."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/indicador/listar":{"get":{"tags":["Indicador"],"summary":"Tem por finalidade listar todos os consutores","operationId":"listIndicadores","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":0},"description":"Posição inicial para a paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":10,"maximum":200},"description":"Número de leads por página (máximo 200)"},{"name":"cod_consultor","in":"query","required":false,"schema":{"type":"integer","format":"int32","example":7},"description":"Filtro Código do consultor"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listIndicador"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 200"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/indicador/buscar":{"get":{"tags":["Indicador"],"summary":"Obtém indicador","description":"É obrigatório informar o cod_indicador ou o cpf","operationId":"buscaIndicador","parameters":[{"name":"cod_indicador","description":"Código da indicador","in":"query","schema":{"type":"integer","example":12}},{"name":"cpf","description":"CPF do indicador","in":"query","schema":{"type":"string","example":"123.456.789-10"}}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/searchIndicador"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"parametrosObrigatoriosAusentes":{"summary":"Parâmetros obrigatórios ausentes","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/indicador":{"post":{"tags":["Indicador"],"summary":"Cadastrar um indicador","operationId":"createIndicador","description":"Cadastra um novo indicador e associa a um consultor.<br>\n`cod_consultor` código do consultor, os consultores são listadas no endpoint:`/consultor/listar`;<br>\n`cod_cidade` código da cidade, são listadas no endpoint `outros/cidades/{id_estado}` também em outros.<br>\n`calculo` da bonificação. Valores possíveis(valor, porcentagem);<br>\n`senha` opcional; quando informada, define a senha de acesso do indicador. Se omitida, o indicador será cadastrado sem senha definida.<br><br>\nO email de cada indicador deve ser único.","requestBody":{"$ref":"#/components/requestBodies/createIndicador"},"responses":{"201":{"description":"Indicador cadastrado com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Indicador cadastrado com sucesso."},"cod_indicador":{"type":"integer","example":7}}}}}},"400":{"description":"Error: Bad Request -Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Já existe um indicador com o email informado: joao.silva@example.com"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/equipe/listar":{"get":{"summary":"Listar equipes","operationId":"listEquipes","description":"Lista todas as equipes disponíveis, incluindo informações da regional associada.","tags":["Equipe"],"parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":0},"description":"Posição inicial para a paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":10,"maximum":600},"description":"Número de leads por página (máximo 600)"}],"responses":{"200":{"description":"Lista de equipes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listEquipes"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 600"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/lead/anotacao":{"get":{"tags":["Anotação"],"summary":"Lista anotações de um lead","operationId":"anotacaoListar","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":0},"description":"Posição inicial para a paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","format":"int32","example":10,"maximum":200},"description":"Número de anotações por página (máximo 200)"},{"name":"cod_lead","in":"query","required":true,"schema":{"type":"integer","format":"int32"},"description":"Código do lead para filtrar anotações"}],"responses":{"200":{"description":"Lista de anotações","content":{"application/json":{"schema":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":5},"anotacoes":{"type":"array","items":{"type":"object","properties":{"anotacao":{"type":"string","example":"<p>Anotação do lead</p>"},"created_by":{"type":"string","example":"Fulano da Silva"},"dt_criacao":{"type":"string","format":"date","example":"2026-01-12 14:30:56"}}}}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 200"}},"nenhumaAnotacaoEncontrada":{"summary":"Nenhuma anotação encontrada","value":{"status":400,"mensagem":"Nenhuma anotação encontrado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}},"post":{"tags":["Anotação"],"summary":"Insere uma anotação em um lead","operationId":"anotacaoInserir","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["text","cod_lead"],"properties":{"text":{"type":"string","example":"<p>Anotação do lead</p>","description":"Conteúdo da anotação"},"cod_lead":{"type":"integer","format":"int32","example":123,"description":"Código do lead"}}}}}},"responses":{"201":{"description":"Anotação inserida com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"cod_anotacao":{"type":"integer","example":15},"message":{"type":"string","example":"Anotação inserida com sucesso"}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"textNaoInformado":{"summary":"Campo text não informado","value":{"status":400,"mensagem":"O campo text deve ser informado"}},"codIndicacaoNaoInformado":{"summary":"Campo cod_lead não informado","value":{"status":400,"mensagem":"O campo cod_lead deve ser informado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}}},"components":{"schemas":{"listIndicacaoModelo":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"modelos":{"type":"array","items":{"type":"object","properties":{"codigo_modelo":{"type":"integer","format":"int32","example":7},"codigo_marca":{"type":"integer","format":"int32","example":7},"codigofipe":{"type":"string","example":"014113-5_2024-1","description":"código fipe + '_' + código ano"},"modelo":{"type":"string","maxLength":255,"example":"Civic Type-R 2.0 Turbo 16V"}}}}}},"IndicacaoMarcas":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"marcas":{"type":"array","items":{"type":"object","properties":{"cod":{"type":"integer","format":"int32","example":7},"nome":{"type":"string","maxLength":255,"example":"Honda"},"tipo":{"type":"string","enum":["carro","moto","caminhao","colheitadeira","trator","outros"],"example":"carro"}}}}},"required":["nome","codigo_marca","tipo"]},"listAnosByPlanoNMarca":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"anos":{"type":"array","items":{"type":"object","properties":{"nome":{"type":"string","maxLength":255,"pattern":"^(^(ZERO_KM)|^(\\d{4}))\\s(Gasolina|Alcool|Diesel)$","example":"2024 Gasolina or ZERO_KM Gasolina"},"codigo_ano":{"type":"string","pattern":"^(^(3200)|^(\\d{4}))-\\d$","example":"2024-1 or 3200-1","description":"3200 para veículos 0KM"}},"required":["nome","codigo_ano"]}}}},"listPlanosByRegional":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"planos":{"type":"array","items":{"type":"object","properties":{"cod":{"type":"integer","format":"int32","example":7},"nome":{"type":"string","minLength":1,"maxLength":255,"nullable":false,"example":"nome do plano"},"veiculo":{"type":"string","enum":["carro","moto","caminhao","colheitadeira","trator","outros"],"example":"carro","description":"tipo do veiculo"},"ordem":{"type":"integer","minimum":0,"maximum":255,"example":7}}}}}},"listRegionais":{"type":"object","properties":{"regionais":{"type":"array","items":{"type":"object","properties":{"cod":{"type":"integer","format":"int32","example":7},"nome":{"type":"string","maxLength":255,"example":"Regional Centro Oeste"},"status":{"type":"string","example":"ATIVO"}}}}}},"searchIndication":{"type":"object","properties":{"lead":{"type":"object","properties":{"cod_lead":{"type":"integer","example":123,"description":"Código do lead"},"hash":{"type":"string","minLength":22,"maxLength":22,"example":"dae892c097ca745058e847","description":"Hash do lead"},"nome":{"type":"string","example":"nome do indicado","description":"Nome do indicado"},"classificacao":{"type":"string","enum":["pendente","arquivada","ativada"],"example":"pendente","description":"Classificação do lead"},"email":{"type":"string","format":"email","example":"email@domain.com","description":"Email do indicado"},"telefone":{"type":"string","example":"(99) 99999-9999","maxLength":45,"description":"Telefone do indicado com ddd"},"placa":{"type":"string","maxLength":7,"example":"KDZ0847","description":"Placa do veículo, no caso de veículo zero kilometro, o valor será 0KM"},"tipo_veiculo":{"type":"string","enum":["carro","moto","caminhao","colheitadeira","trator","outros"],"example":"carro","description":"tipo do veículo"},"marca":{"type":"string","maxLength":255,"nullable":true,"example":"Honda","description":"Marca do veículo"},"modelo":{"type":"string","maxLength":255,"nullable":true,"example":"Civic Type-R 2.0 Turbo 16V","description":"Modelo do veículo"},"ano":{"type":"string","nullable":true,"example":"2024 Gasolina","description":"Ano e tipo de combustível do veículo"},"valor_fipe":{"type":"number","format":"float","example":415252,"description":"Valor de acordo com a tabela FIPE"},"valor":{"type":"number","format":"float","example":9.99,"description":"Valor da proposta"},"adesao":{"type":"number","format":"float","example":9.99,"description":"Valor da adesão"},"participacao":{"type":"string","maxLength":255,"example":"Participação 4% Minimo: R$1.320,00","description":"Descrição da participação"},"codigofipe":{"type":"string","pattern":"^\\d{6}-\\d$","example":"014113-5","description":"Código FIPE do veículo, no formato 000000-0"},"dt_criacao":{"type":"string","format":"date","example":"2025-05-23 09:43:48","description":"Data de criação do lead"},"cod_associado_indicador":{"type":"integer","example":456,"description":"Código do associado que fez a indicação"},"cod_consultor":{"type":"integer","example":789,"description":"Código do consultor associado ao lead"},"consultor_nome":{"type":"string","maxLength":255,"example":"Nome do consultor","description":"Nome do consultor associado ao lead"},"cod_indicador":{"type":"integer","example":321,"description":"Código do indicador associado ao lead"},"indicador_nome":{"type":"string","maxLength":255,"example":"Nome do indicador","description":"Nome do indicador associado ao lead"},"cod_equipe":{"type":"integer","example":654,"description":"Código da equipe associada ao consultor do lead"},"equipe":{"type":"string","example":"Nome da equipe","description":"Nome da equipe associada ao consultor do lead"},"cod_regional":{"type":"integer","example":987,"description":"Código da regional associada ao consultor do lead"},"regional":{"type":"string","example":"Nome da regional","description":"Nome da regional associada ao consultor do lead"},"cod_termo":{"type":"integer","example":159,"description":"Código do termo"},"cod_origem":{"type":"integer","nullable":true,"example":4,"description":"Código da origem do lead. Disponível em `[GET]/lead/origens`"},"origem":{"type":"string","nullable":true,"example":"Site","description":"Nome da origem do lead"},"anotacoes":{"type":"array","description":"Lista com as anotações do lead","items":{"type":"object","properties":{"anotacao":{"type":"string","example":"<p>Uma anotação de um usuário do sistema</p>"},"created_by":{"type":"string","example":"Fulano da Silva"},"dt_criacao":{"type":"string","format":"date-time","example":"2024-11-04 10:30:00"}}}},"anotacoes_consultor":{"type":"array","description":"Lista com as anotações do consultor do lead","items":{"type":"object","properties":{"titulo":{"type":"string","example":"Retorno do cliente"},"descricao":{"type":"string","example":"<p>Uma anotação do consultor</p>"},"alerta_para":{"type":"string","format":"date-time","nullable":true,"example":"2024-11-05 09:00:00"},"create_at":{"type":"string","format":"date-time","example":"2024-11-04 10:30:00"}}}},"link_vistoria":{"type":"string","nullable":true,"example":"https://example.com/vistoria/123","description":"Link da vistoria da indicação, caso a indicação tenha uma vistoria e a mesma seja do tipo 'a distância'"},"vistoria_status":{"type":"string","enum":["pendente","aprovada","nao_enviada","reanalise","reprovado"],"nullable":true,"example":"pendente","description":"Status da vistoria da indicação"},"cod_vistoria":{"type":"integer","nullable":true,"example":123,"description":"Código da vistoria da indicação"},"termo_dt_envio":{"type":"string","format":"date","nullable":true,"example":"2026-01-01 00:00:00","description":"Data da vistoria da indicação"},"link_termo":{"type":"string","nullable":true,"example":"https://example.com/termo/123","description":"Link do termo da indicação"}}}}},"listLeadOrigens":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Quantidade total de origens encontradas"},"origens":{"type":"array","items":{"type":"object","properties":{"cod":{"type":"integer","format":"int32","example":1},"nome":{"type":"string","maxLength":255,"nullable":false,"example":"Instagram"}}}}}},"listLead":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Quantidade total de leads encontrados"},"leads":{"type":"array","items":{"type":"object","properties":{"cod_lead":{"type":"integer","format":"int32","example":7,"description":"código do lead"},"hash":{"type":"string","minLength":22,"maxLength":22,"example":"dae892c097ca745058e847"},"data_criacao":{"type":"string","format":"date","example":"2024-10-25","description":"data de criação do lead"},"nome":{"type":"string","maxLength":255,"example":"Fulado da Silva","description":"nome do associado"},"email":{"type":"string","format":"email","example":"example@domain.com"},"telefone":{"type":"string","maxLength":45,"example":"(99) 99999-9999","description":"telefone do associado"},"placa":{"type":"string","maxLength":7,"example":"KDZ0847","description":"valor pode ser uma placa, 0KM ou null"},"chassi":{"type":"string","maxLength":7,"example":"45C4DNEKVFEJF9732","description":"valor do chassi ou null"},"modelo":{"type":"string","maxLength":255,"nullable":true,"example":"Civic Type-R 2.0 Turbo 16V","description":"nome do modelo"},"classificacao":{"type":"string","enum":["pendente","arquivada","ativada"],"description":"classificação do lead"},"valor_fipe":{"type":"number","format":"float","example":0},"valor_proposta":{"type":"number","format":"float","example":0},"data_ativacao":{"type":"string","format":"date","example":"2024-10-25"},"status_vistoria":{"type":"string","enum":["Pendente","Aprovada"],"description":"status da vistoria"},"dt_criacao_vistoria":{"type":"string","format":"date","example":"2024-10-25","description":"data de criação da vistoria"},"dt_aprovacao_vistoria":{"type":"string","format":"date","example":"2024-10-25","description":"data de aprovação da vistoria"},"cod_consultor":{"type":"integer","format":"int32","example":7},"consultor_nome":{"type":"string","maxLength":255,"example":"nome do(a) consultor(a)"},"cod_equipe":{"type":"integer","format":"int32"},"equipe":{"type":"string","maxLength":255,"example":"nome da equipe"},"cod_regional":{"type":"integer","format":"int32"},"regional":{"type":"string","maxLength":255,"example":"nome da regional"},"etapa_funil":{"type":"string","example":"Validação"},"link_vistoria":{"type":"string","nullable":true,"example":"https://example.com/vistoria/123","description":"Link da vistoria da indicação, caso a indicação tenha uma vistoria e a mesma seja do tipo 'a distância'"},"link_termo":{"type":"string","nullable":true,"example":"https://example.com/termo/123","description":"Link do termo da indicação"},"cod_veiculo_gestao":{"type":"integer","format":"int32","nullable":true,"example":1,"description":"Código do veículo no módulo de gestão"},"cod_termo":{"type":"integer","format":"int32","nullable":true,"example":1,"description":"Código do termo de filiação do lead, você pode usa-lo para buscar detalhes sobre o termo em `[GET]/termo/{cod_termo}`"},"cod_origem":{"type":"integer","nullable":true,"example":4,"description":"Código da origem do lead. Disponível em `[GET]/lead/origens`"},"origem":{"type":"string","nullable":true,"example":"Site","description":"Nome da origem do lead"}},"required":["cod_lead","hash","data_criacao","nome","email","telefone","placa","classificacao","valor_fipe","valor_proposta"]}}}},"createIndicacao":{"type":"object","required":["nome","telefone"],"properties":{"nome":{"type":"string","example":"Joaquim do Nascimento Silva 2"},"telefone":{"type":"string","example":"(62) 99999-9999"},"cpf_cnpj":{"type":"string","example":"111.111.111-11"},"rg":{"type":"string","example":"123546789"},"rg_orgexp":{"type":"string","example":"SSP"},"cnh":{"type":"string","example":"123456"},"cnh_tipo":{"type":"string","example":"AB"},"dt_nascimento":{"type":"string","format":"date","example":"1999-07-31"},"nome_mae":{"type":"string","example":"Maria Joaquina"},"cep":{"type":"string","example":"78343-020"},"endereco":{"type":"string","example":"Avenida Guarapari"},"numero":{"type":"string","example":"123"},"complemento":{"type":"string","example":"Casa 02"},"bairro":{"type":"string","example":"Jardim Atlântico"},"cidade":{"type":"string","example":"Goiânia"},"estado":{"type":"string","example":"GO"},"telefone2":{"type":"string","example":"(62) 98888-8888"},"email":{"type":"string","format":"email","example":"exemplo@mail.com"},"cobranca":{"type":"string","example":"WhatsApp","enum":["WhatsApp","Correio","Email"]},"placa":{"type":"string","example":"AAA-1234"},"chassi":{"type":"string","nullable":true,"example":null},"renavam":{"type":"string","nullable":true,"example":null},"cod_plano":{"type":"integer","format":"int32","nullable":true,"example":null},"codigofipe":{"type":"string","example":"811118-9_2021-1","description":"concatenação do código FIPE + '_' +  ano modelo"},"num_motor":{"type":"string","example":"23213213"},"sexo":{"type":"string","nullable":true,"enum":["M","F","null"]},"cod_origem":{"type":"integer","nullable":true,"example":1},"cod_consultor":{"type":"integer","nullable":true,"example":1,"description":"Código do consultor. Disponível em `/consultor/listar`."},"cod_indicador":{"type":"integer","nullable":true,"example":114,"description":"Código do indicador. Disponível em `/indicador/listar`."},"cod_associado_indicador":{"type":"integer","nullable":true,"example":258,"description":"Código do associado indicador. Disponível em `/associado/listar`."},"cod_combustivel":{"type":"integer","nullable":true,"example":1,"description":"Código do combustível. Disponível em `/outros/combustiveis-listar`."},"cod_cor":{"type":"integer","nullable":true,"example":1,"description":"Código da cor. Disponível em `/outros/cores-listar`."},"cod_vencimento":{"type":"integer","nullable":true,"example":1,"description":"Código do dia de vencimento. Disponível em `/outros/vencimentos-listar`."},"ano_fabricacao":{"type":"integer","nullable":true,"example":2021,"description":"Ano de fabricação do veículo."}}},"updateIndicacao":{"type":"object","properties":{"nome":{"type":"string","example":"Joaquim do Nascimento Silva"},"email":{"type":"string","example":"exemplo@gmail.com"},"cpf_cnpj":{"type":"string","example":"123.456.789-10"},"rg":{"type":"string","example":"123456789"},"rg_orgexp":{"type":"string","example":"SSP"},"numero_cnh":{"type":"string","example":"123456"},"tipo_cnh":{"type":"string","example":"AB"},"dt_nascimento":{"type":"string","format":"date","example":"1999-07-31"},"sexo":{"type":"string","nullable":true,"enum":["M","F","null"]},"telefone":{"type":"string","example":"(62) 99999-9999"},"telefone2":{"type":"string","example":"(62) 98888-8888"},"nome_mae":{"type":"string","example":"Maria Joaquina"},"cep":{"type":"string","example":"78343-020"},"endereco":{"type":"string","example":"Avenida Guarapari"},"numero":{"type":"string","example":"123"},"complemento":{"type":"string","example":"Casa 02"},"bairro":{"type":"string","example":"Jardim Atlântico"},"cidade":{"type":"string","example":"Goiânia"},"estado":{"type":"string","example":"GO"},"placa":{"type":"string","example":"AAA-1234"},"chassi":{"type":"string","nullable":true,"example":"6AAAA66B7BB888999"},"renavam":{"type":"string","nullable":true,"example":"21321413"},"num_motor":{"type":"string","example":"23213213"},"cod_origem":{"type":"integer","example":4},"cod_consultor":{"type":"integer","example":14},"cod_indicador":{"type":"integer","example":8},"cod_combustivel":{"type":"integer","nullable":true,"example":1,"description":"Código do combustível. Disponível em `/outros/combustiveis-listar`."},"cod_cor":{"type":"integer","nullable":true,"example":1,"description":"Código da cor. Disponível em `/outros/cores-listar`."},"cod_vencimento":{"type":"integer","nullable":true,"example":1,"description":"Código do dia de vencimento. Disponível em `/outros/vencimentos-listar`."},"ano_fabricacao":{"type":"integer","nullable":true,"example":2021,"description":"Ano de fabricação do veículo."},"classificacao":{"type":"string","enum":["pendente","arquivada","ativada"],"example":"arquivada","description":"Classificação do lead. Permite arquivar (`arquivada`) ou reativar (`pendente`) o lead.\nQuando informado um valor diferente da classificação atual, a alteração é permitida mesmo\nque o lead já possua termo assinado."}}},"vinculaLeadBeneficio":{"type":"object","properties":{"cod_beneficio":{"type":"integer","example":290,"description":"Código do benefício"},"cod_lead":{"type":"integer","example":220850,"description":"Código do lead"}}},"listPlanosPorCodigoFipe":{"type":"object","properties":{"veiculo":{"type":"object","properties":{"cod_categoria":{"type":"integer","example":1},"valor_fipe":{"type":"number","format":"float","example":415252},"marca":{"type":"string","example":"Honda"},"tipo_veiculo":{"type":"string","enum":["carro","moto","caminhão","outros","colheitadeira","trator"],"example":"carro"},"modelo":{"type":"string","example":"Civic Type-R 2.0 Turbo 16V"},"codigofipe":{"type":"string","example":"811118-9_2021-1"},"ano":{"type":"string","nullable":true,"example":"2024 Gasolina"}}},"planos":{"type":"array","items":{"type":"object","properties":{"cod_plano":{"type":"integer","example":1},"nome":{"type":"string","example":"DIAMANTE (DF, GO E TO) *INATIVADO*"},"de_val":{"type":"number","format":"float","example":15000.01},"ate_val":{"type":"number","format":"float","example":20000},"adesao":{"type":"number","format":"float","example":300},"val_mensal":{"type":"number","format":"float","example":148.4},"participacao":{"type":"string","example":"Descrição da participação"},"beneficios":{"type":"array","items":{"type":"object","properties":{"beneficio_nome":{"type":"string","example":"Carro Reserva 15 Dias"},"beneficio_tipo":{"type":"string","enum":["plano","comercial"],"example":"comercial"}}}}}}}}},"etapaFunil":{"type":"object","properties":{"etapas":{"type":"array","items":{"type":"object","properties":{"cod_etapa":{"type":"integer","example":1,"description":"Código da etapa do funil"},"nome":{"type":"string","example":"Validação","description":"Nome da etapa"},"ordem":{"type":"integer","example":1,"description":"Ordem da etapa"}}}}}},"listConsultor":{"type":"object","required":["inicio_paginacao","quantidade_por_pagina"],"properties":{"total_encontrados":{"type":"integer","example":123,"description":"Total number of results found"},"consultores":{"type":"array","items":{"type":"object","properties":{"cod_consultor":{"type":"integer","example":3,"description":"Código"},"nome":{"type":"string","example":"Fulano da Silva","description":"Nome"},"email":{"type":"string","example":"fulano@gmail.com","description":"E-mail"},"telefone":{"type":"string","example":"(99) 99999-9999","description":"Telefone"},"cod_equipe":{"type":"integer","example":123,"description":"Código da equipe"},"equipe":{"type":"string","example":"EQUIPE PERFORMANCE","description":"Descrição da equipe"},"cod_regional":{"type":"integer","example":123,"description":"Código da regional"},"regional":{"type":"string","example":"REGIONAL PERFORMANCE","description":"Descrição da regional"},"situacao":{"type":"string","enum":["Ativo","Inativo"],"example":"Ativo","description":"Situação do consultor"}}}}}},"searchConsultor":{"type":"object","properties":{"consultor":{"type":"object","properties":{"cod_consultor":{"type":"integer","example":3,"description":"Código do consultor"},"nome":{"type":"string","example":"Fulano da Silva","description":"Nome do consultor"},"email":{"type":"string","example":"fulano@gmail.com","description":"E-mail do consultor"},"telefone":{"type":"string","example":"(99) 99999-9999","description":"Telefone do consultor"},"cod_equipe":{"type":"integer","example":123,"description":"Código da equipe do consultor"},"equipe":{"type":"string","example":"EQUIPE PERFORMANCE","description":"Descrição da equipe do consultor"},"cod_regional":{"type":"integer","example":123,"description":"Código da regional do consultor"},"regional":{"type":"string","example":"REGIONAL PERFORMANCE","description":"Descrição da regional do consultor"},"situacao":{"type":"string","enum":["Ativo","Inativo"],"example":"Ativo","description":"Situação do consultor"}}}}},"listIndicador":{"type":"object","required":["inicio_paginacao","quantidade_por_pagina"],"properties":{"total_encontrados":{"type":"integer","example":123,"description":"Total number of results found"},"indicadores":{"type":"array","items":{"type":"object","properties":{"cod_indicador":{"type":"integer","example":3,"description":"Código"},"nome":{"type":"string","example":"Fulano da Silva","description":"Nome"},"email":{"type":"string","example":"fulano@gmail.com","description":"E-mail"},"telefone":{"type":"string","example":"(99) 99999-9999","description":"Telefone"},"cod_consultor":{"type":"integer","example":123,"description":"Código do consultor"},"equipe":{"type":"string","example":"EQUIPE PERFORMANCE","description":"Descrição da equipe"},"cod_regional":{"type":"integer","example":123,"description":"Código da regional"},"regional":{"type":"string","example":"REGIONAL PERFORMANCE","description":"Descrição da regional"},"situacao":{"type":"string","enum":["Ativo","Inativo"],"example":"Ativo","description":"Situação do indicador"}}}}}},"searchIndicador":{"type":"object","properties":{"indicador":{"type":"object","properties":{"cod_indicador":{"type":"integer","example":3,"description":"Código do Indicador"},"nome":{"type":"string","example":"Fulano da Silva","description":"Nome do Indicador"},"email":{"type":"string","format":"email","example":"fulano@example.com","description":"E-mail do Indicador"},"telefone":{"type":"string","example":"(62) 99999-9999","description":"Telefone do Indicador"},"cod_consultor":{"type":"integer","example":123,"description":"Código do Consultor"},"nome_consultor":{"type":"string","example":"Consultor Exemplo","description":"Nome do Consultor"},"situacao":{"type":"string","enum":["Ativo","Inativo"],"example":"Ativo","description":"Situação do Indicador"}}}}},"listEquipes":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"equipes":{"type":"array","items":{"type":"object","properties":{"cod_equipe":{"type":"integer","example":7},"nome_equipe":{"type":"string","example":"Matriz"},"meta_equipe":{"type":"integer","example":500},"meta_consultores":{"type":"integer","example":10},"cod_regional":{"type":"integer","example":7},"nome_regional":{"type":"string","example":"Regional Sul"}}}}}},"badRequestResponse":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Parâmetros inválidos ou campos obrigatórios ausentes"}}},"notFoundResponse":{"type":"object","properties":{"status":{"type":"integer","example":404},"mensagem":{"type":"string","example":"Recurso não encontrado"}}},"unauthorizedResponse":{"type":"object","properties":{"status":{"type":"integer","example":401},"mensagem":{"type":"string","example":"Motivo da não autorização."}}}},"requestBodies":{"createConsultor":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["nome","email","telefone","cpf","cod_equipe"],"properties":{"status":{"type":"number","format":"int32","example":1,"description":"1 para ativado, 0 para desativado"},"nome":{"type":"string","example":"João Silva"},"email":{"type":"string","example":"joao.silva@example.com"},"telefone":{"type":"string","example":"(11) 98765-4321"},"cpf":{"type":"string","example":"123.456.789-01"},"cod_equipe":{"type":"integer","example":4},"cod_estado":{"type":"integer","example":9},"cod_cidade":{"type":"integer","example":977},"data_nascimento":{"type":"string","format":"date","example":"1990-01-01T00:00:00.000Z"},"rua":{"type":"string","example":"Rua Exemplo"},"numero":{"type":"string","example":123},"complemento":{"type":"string","example":"Apartamento 456"},"bairro":{"type":"string","example":"Bairro Exemplo"},"cep":{"type":"string","example":"12345-678"},"banco":{"type":"string","example":"Banco Exemplo"},"agencia":{"type":"string","example":1234},"operacao":{"type":"string","example":1},"conta":{"type":"string","example":"56789-0"},"recebe_comissao":{"type":"boolean","example":false},"razao_social":{"type":"string","example":"Empresa Exemplo"},"representante":{"type":"string","example":"José Representante"},"entrar_pendente":{"type":"boolean","example":true,"description":"Se o cadastro do consultor é pendente, se vazio, o padrão é `false`, não obrigatório."}}}}}},"createIndicador":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["nome","email","telefone","cpf","cod_consultor","cod_estado","cod_cidade","calculo"],"properties":{"status":{"type":"number","format":"int32","example":1,"description":"1 para ativado, 0 para desativado"},"nome":{"type":"string","example":"Exemplo Indicador"},"email":{"type":"string","example":"exemplo.indicador@example.com"},"senha":{"type":"string","example":"Senha@123","description":"Senha de acesso do indicador. Opcional; se não informada, o indicador será cadastrado sem senha definida."},"telefone":{"type":"string","example":"(11) 98765-4321"},"cpf":{"type":"string","example":"123.456.789-01"},"cod_consultor":{"type":"integer","example":155},"cod_estado":{"type":"integer","example":9},"cod_cidade":{"type":"integer","example":977},"data_nascimento":{"type":"string","format":"date","example":"1990-01-01T00:00:00.000Z"},"calculo":{"type":"string","example":"valor"},"rua":{"type":"string","example":"Rua Exemplo"},"numero":{"type":"string","example":123},"complemento":{"type":"string","example":"Apartamento 456"},"bairro":{"type":"string","example":"Bairro Exemplo"},"cep":{"type":"string","example":"12345-678"},"banco":{"type":"string","example":"Banco Exemplo"},"agencia":{"type":"string","example":1234},"conta":{"type":"string","example":"56789-0"},"entrar_pendente":{"type":"boolean","example":true,"description":"Se o cadastro do indicador é pendente, se vazio, o padrão é `false`, não obrigatório."}}}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}