{"openapi":"3.0.3","info":{"title":"Ordem de Compra","description":"Permite o manuseio de ordens de compra no sistema.","version":"3.0.0"},"servers":[{"url":"https://api.ileva.com.br/"}],"paths":{"/ordem/listar":{"get":{"summary":"Lista as ordens de compra do sistema.","description":"É obrigatório informar o início da paginação, quantidade por página e tipo de custo da ordem de compra.","tags":["Ordem de Compra de Evento"],"operationId":"listOrdens","parameters":[{"in":"query","name":"inicio_paginacao","schema":{"type":"integer"},"required":true,"description":"Offset para páginação"},{"in":"query","name":"quantidade_por_pagina","schema":{"type":"integer","maximum":200},"required":true,"description":"Número de resultados por página, no máximo 200"},{"in":"query","name":"cod_evento","schema":{"type":"integer"},"required":false,"description":"Código do evento para filtrar as ordens de compra"},{"in":"query","name":"cod_envolvido","schema":{"type":"integer"},"required":false,"description":"Código do envolvido para filtrar as ordens de compra"},{"in":"query","name":"cod_fornecedor","schema":{"type":"integer"},"required":false,"description":"Código do fornecedor para filtrar as ordens de compra"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listaOrdemCompraEvento"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o início da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por página"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 200"}},"codigoEventoInvalido":{"summary":"Código do evento inválido","value":{"status":400,"mensagem":"Valor de parametro 'cod_evento' inválido"}},"codigoEnvolvidoInvalido":{"summary":"Código do envolvido inválido","value":{"status":400,"mensagem":"Valor de parametro 'cod_envolvido' inválido"}},"codigoFornecedorInvalido":{"summary":"Código do fornecedor inválido","value":{"status":400,"mensagem":"Valor de parametro 'cod_fornecedor' inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/ordem/{cod_ordem}":{"get":{"summary":"Busca os dados de uma ordem.","description":"É obrigatório informar o código da ordem.","tags":["Ordem de Compra de Evento"],"operationId":"buscaOrdem","parameters":[{"name":"cod_ordem","in":"path","required":true,"schema":{"type":"integer","format":"int32","example":8},"description":"Código da ordem"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaOrdem"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"nenhumParametro":{"summary":"Parâmetros não informados","value":{"status":400,"mensagem":"Por favor informe o código da ordem de compra"}},"codOrdemInvalido":{"summary":"Código da ordem inválido","value":{"status":400,"mensagem":"Valor de parametro 'cod_ordem' inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/ordem/inserir":{"post":{"summary":"Insere uma nova ordem de compra no sistema.","description":"É obrigatório informar o código da filial, código do fornecedor e código do envolvido.\nO valor da ordem será calculado com base no valor de mão de obra, valor de desconto e itens informados.","tags":["Ordem de Compra de Evento"],"operationId":"insereOrdem","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inserirOrdem"}}}},"responses":{"201":{"description":"Ordem inserida com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"cod_ordem":{"type":"integer","example":15},"mensagem":{"type":"string","example":"Ordem de compra criada com sucesso"}}}}}},"400":{"description":"Requisição inválida — parâmetros faltantes ou inválidos","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"corpoAusente":{"summary":"Corpo da requisição não informado","value":{"status":400,"mensagem":"Corpo da requisição não informado"}},"codFornecedorAusente":{"summary":"Código do fornecedor não informado","value":{"status":400,"mensagem":"Por favor informe o código do fornecedor"}},"codFilialAusente":{"summary":"Código da filial não informado","value":{"status":400,"mensagem":"Por favor informe o código do fornecedor"}},"codEnvolvidoAusente":{"summary":"Código do envolvido não informado","value":{"status":400,"mensagem":"Por favor informe o código do envolvido"}},"dtPrevisaoAusente":{"summary":"Data de previsão de entrega não informada","value":{"status":400,"mensagem":"Por favor informe a data de previsão de entrega"}},"dataInvalida":{"summary":"Data de previsão de entrega inválida","value":{"status":400,"mensagem":"Valor de parametro 'data de previsão de entrega' inválido"}},"itemOrdemNaoInformado":{"summary":"Item da ordem não informado","value":{"status":400,"mensagem":"Por favor informe ao menos um item para a ordem de compra"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Recurso não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"filialNaoEncontrada":{"summary":"Filial não encontrada","value":{"status":404,"mensagem":"Filial não encontrada"}},"envolvidoNaoEncontrado":{"summary":"Envolvido não encontrado","value":{"status":404,"mensagem":"Envolvido não encontrado"}},"fornecedorNaoEncontrado":{"summary":"Fornecedor não encontrado","value":{"status":404,"mensagem":"Fornecedor não encontrado"}},"tipoCompraNaoEncontrado":{"summary":"Tipo de compra não encontrado","value":{"status":404,"mensagem":"Tipo de compra não encontrado"}}}}}}}}},"/ordem/listar-avulsa":{"get":{"summary":"Lista as ordens de compra do sistema.","description":"É obrigatório informar o início da paginação, quantidade por página e tipo de custo da ordem de compra.","tags":["Ordem de Compra Avulsa"],"operationId":"listOrdensAvulsas","parameters":[{"in":"query","name":"inicio_paginacao","schema":{"type":"integer"},"required":true,"description":"Offset para páginação"},{"in":"query","name":"quantidade_por_pagina","schema":{"type":"integer","maximum":200},"required":true,"description":"Número de resultados por página, no máximo 200"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listaOrdemCompraAvulso"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o início da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por página"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 200"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/ordem/buscar-avulsa/{cod_ordem}":{"get":{"summary":"Busca os dados de uma ordem.","description":"É obrigatório informar o código da ordem.","tags":["Ordem de Compra Avulsa"],"operationId":"buscaOrdemAvulsa","parameters":[{"name":"cod_ordem","in":"path","required":true,"schema":{"type":"integer","format":"int32","example":8},"description":"Código da ordem"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaOrdemAvulsa"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"nenhumParametro":{"summary":"Parâmetros não informados","value":{"status":400,"mensagem":"Por favor informe o código da ordem de compra"}},"codOrdemInvalido":{"summary":"Código da ordem inválido","value":{"status":400,"mensagem":"Valor de parametro 'cod_ordem' inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/ordem/avulsa":{"post":{"summary":"Insere uma nova ordem de compra","description":"É obrigatório informar o código do fornecedor, valor da moeda de obra,\nvalor do desconto e data de previsão de entrega.","tags":["Ordem de Compra Avulsa"],"operationId":"avulsaInserir","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ordemAvulsaInserir"}}}},"responses":{"201":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"type":"object","properties":{"cod_ordem":{"type":"integer","example":38},"mensagem":{"type":"string","example":"Ordem de compra criada com sucesso"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"bodyNaoInformado":{"summary":"Corpo da requisição não informado","value":{"status":400,"mensagem":"Corpo da requisição não informado"}},"filialNaoInformado":{"summary":"Código da filial não informado","value":{"status":400,"mensagem":"Por favor informe o código do filial"}},"forncedorNaoInformado":{"summary":"Código do fornecedor não informado","value":{"status":400,"mensagem":"Por favor informe o código do fornecedor"}},"dtPrevisaoEntregaNaoInformado":{"summary":"Data de previsão de entrega não informado","value":{"status":400,"mensagem":"Por favor informe a data de previsão de entrega"}},"dtPrevisaoEntregaInvalida":{"summary":"Data de previsão inválida","value":{"status":400,"mensagem":"O campo data de previsão de entrega deve estar no formato YYYY-MM-DD e ser uma data válida"}},"itensFinanceiroNaoInformados":{"summary":"Itens financeiros não informados","value":{"status":400,"mensagem":"Por favor informe ao menos um item financeiro para a ordem de compra"}},"valorDeverge":{"summary":"Calculo dos valoes divergem","value":{"status":400,"mensagem":"A soma dos itens financeiros diverge do total da ordem (diferença: [valor diferente em R$], total esperado: [valor total em R$], soma financeiro: [total financeiro em R$])"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"filialNaoEncontrada":{"summary":"Filial não encontrada","value":{"status":404,"mensagem":"Filial não encontrada"}},"forncedorNaoEncontrada":{"summary":"Fornecedor não encontrado","value":{"status":404,"mensagem":"Fornecedor não encontrada"}}}}}}}}},"/ordem/listar-tipos-ordem-regulagem":{"get":{"summary":"Lista os tipos de ordem de compra e regulagem","tags":["Outros"],"operationId":"listaTiposOrdem","responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listaTiposOrdens"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/ordem/categoria":{"get":{"summary":"Lista as categorias fluxo saída que estejam ativas.","description":"É obrigatório informar o início da paginação e quantidade por página.","tags":["Outros"],"operationId":"listCategorias","parameters":[{"in":"query","name":"inicio_paginacao","schema":{"type":"integer"},"required":true,"description":"Offset para paginação"},{"in":"query","name":"quantidade_por_pagina","schema":{"type":"integer","maximum":200},"required":true,"description":"Número de resultados por página, no máximo 200"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listCategorias"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}}}},"post":{"summary":"Insere uma nova categoria","tags":["Outros"],"operationId":"inserirCategoria","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["nome","fluxo"],"properties":{"nome":{"type":"string","example":"Manutenção"},"fluxo":{"type":"string","enum":["entrada","saida"],"example":"saida"}}}}}},"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/inserirCategoriaResponse"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}}}}},"/ordem/categoria/{id}":{"put":{"summary":"Edita uma categoria","tags":["Outros"],"operationId":"editarCategoria","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","example":5}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["nome","fluxo"],"properties":{"nome":{"type":"string","example":"Manutenção"},"fluxo":{"type":"string","enum":["entrada","saida"],"example":"saida"}}}}}},"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/editarExcluirCategoriaResponse"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}},"404":{"description":"Não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"}}}}}},"delete":{"summary":"Exclui uma categoria","tags":["Outros"],"operationId":"excluirCategoria","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","example":5}}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/editarExcluirCategoriaResponse"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}},"404":{"description":"Não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"}}}}}}},"/ordem/centro-custo":{"get":{"summary":"Lista os centros de custo que estejam ativas.","description":"É obrigatório informar o início da paginação e quantidade por página.","tags":["Outros"],"operationId":"listCentrosCusto","parameters":[{"in":"query","name":"inicio_paginacao","schema":{"type":"integer"},"required":true,"description":"Offset para paginação"},{"in":"query","name":"quantidade_por_pagina","schema":{"type":"integer","maximum":200},"required":true,"description":"Número de resultados por página, no máximo 200"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listCentrosCusto"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}}}},"post":{"summary":"Insere um novo centro de custo","tags":["Outros"],"operationId":"inserirCentroCusto","requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["nome"],"properties":{"nome":{"type":"string","example":"Administrativo"}}}}}},"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/inserirCentroCustoResponse"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}}}}},"/ordem/centro-custo/{id}":{"put":{"summary":"Edita um centro de custo","tags":["Outros"],"operationId":"editarCentroCusto","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","example":3}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["nome"],"properties":{"nome":{"type":"string","example":"Administrativo"}}}}}},"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/editarExcluirCentroCustoResponse"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}},"404":{"description":"Não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"}}}}}},"delete":{"summary":"Exclui um centro de custo","tags":["Outros"],"operationId":"excluirCentroCusto","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","example":3}}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/editarExcluirCentroCustoResponse"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"}}}},"404":{"description":"Não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"}}}}}}},"/ordem/anexo":{"post":{"summary":"Envia um anexo para uma ordem de compra de evento (sinistro).","description":"Envia um arquivo como anexo de uma ordem de compra vinculada a evento.\nO arquivo pode ser enviado de **duas formas**, porém apenas **uma por requisição**:\n- **Upload binário**: envie o arquivo no campo `file` via `multipart/form-data`.\n- **URL de CDN**: informe a URL do arquivo no campo `url` no body.\n\nFormatos aceitos: .png, .jpeg, .pdf, .doc, .docx, .xls, .xlsx, .odt, .ods.","tags":["Ordem de Compra de Evento"],"operationId":"enviarAnexoOrdemSinister","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/enviarAnexoUpload"}},"application/json":{"schema":{"$ref":"#/components/schemas/enviarAnexoCdn"},"example":{"cod_ordem":38,"url":"https://cdn.exemplo.com/imagens/orcamento.png","descricao":"Foto do orçamento"}}}},"responses":{"201":{"description":"Anexo enviado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/enviarAnexoResponse"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"codOrdemNaoInformado":{"summary":"Código da ordem não informado","value":{"status":400,"mensagem":"Por favor informe o código da ordem de compra"}},"codOrdemInvalido":{"summary":"Código da ordem inválido","value":{"status":400,"mensagem":"Valor de parametro 'código da ordem' inválido"}},"ambosEnviados":{"summary":"Arquivo e URL enviados ao mesmo tempo","value":{"status":400,"mensagem":"Envie o arquivo por upload OU por URL, não ambos"}},"formatoInvalido":{"summary":"Formato de arquivo inválido","value":{"status":400,"mensagem":"Formato de arquivo inválido."}},"urlInvalida":{"summary":"URL inválida","value":{"status":400,"mensagem":"URL inválida"}},"nenhumArquivo":{"summary":"Nenhum arquivo enviado","value":{"status":400,"mensagem":"Arquivo não enviado ou URL não informada"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Recurso não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"ordemNaoEncontrada":{"summary":"Ordem não encontrada","value":{"status":404,"mensagem":"Ordem não encontrada"}}}}}}}}},"/ordem/avulsa/anexo":{"post":{"summary":"Envia um anexo para uma ordem de compra avulsa.","description":"Envia um arquivo como anexo de uma ordem de compra avulsa.\nO arquivo pode ser enviado de **duas formas**, porém apenas **uma por requisição**:\n- **Upload binário**: envie o arquivo no campo `file` via `multipart/form-data`.\n- **URL de CDN**: informe a URL do arquivo no campo `url` no body.\n\nFormatos aceitos: .png, .jpeg, .pdf, .doc, .docx, .xls, .xlsx, .odt, .ods.\n\nPara marcar o anexo como **Nota Fiscal**, envie `nota_fiscal: 1`. Nesse caso a descrição é definida automaticamente como \"Nota Fiscal\".","tags":["Ordem de Compra Avulsa"],"operationId":"enviarAnexoOrdemAvulsa","requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"$ref":"#/components/schemas/enviarAnexoAvulsaUpload"}},"application/json":{"schema":{"$ref":"#/components/schemas/enviarAnexoAvulsaCdn"},"example":{"cod_ordem":38,"url":"https://cdn.exemplo.com/imagens/orcamento.png","descricao":"Foto do orçamento","nota_fiscal":1}}}},"responses":{"201":{"description":"Anexo enviado com sucesso","content":{"application/json":{"schema":{"$ref":"#/components/schemas/enviarAnexoResponse"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"codOrdemNaoInformado":{"summary":"Código da ordem não informado","value":{"status":400,"mensagem":"Por favor informe o código da ordem de compra"}},"codOrdemInvalido":{"summary":"Código da ordem inválido","value":{"status":400,"mensagem":"Valor de parametro 'código da ordem' inválido"}},"ambosEnviados":{"summary":"Arquivo e URL enviados ao mesmo tempo","value":{"status":400,"mensagem":"Envie o arquivo por upload OU por URL, não ambos"}},"formatoInvalido":{"summary":"Formato de arquivo inválido","value":{"status":400,"mensagem":"Formato de arquivo inválido."}},"urlInvalida":{"summary":"URL inválida","value":{"status":400,"mensagem":"URL inválida"}},"nenhumArquivo":{"summary":"Nenhum arquivo enviado","value":{"status":400,"mensagem":"Arquivo não enviado ou URL não informada"}},"notaFiscalDuplicada":{"summary":"Nota fiscal já existente na ordem","value":{"status":400,"mensagem":"Esta ordem já possui um anexo de Nota Fiscal"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Recurso não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"ordemNaoEncontrada":{"summary":"Ordem não encontrada","value":{"status":404,"mensagem":"Ordem não encontrada"}}}}}}}}}},"components":{"schemas":{"listaOrdemCompraEvento":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Quantidade total de ordens de compra encontradas"},"ordens":{"type":"array","items":{"type":"object","properties":{"cod_ordem":{"type":"integer","example":38},"cod_evento":{"type":"integer","example":27},"cod_envolvido":{"type":"integer","example":45},"cod_fornecedor":{"type":"integer","example":4512},"situacao":{"type":"string","enum":["Pendente","Aprovada","Reprovada","Pre-aprovada"],"example":"Aprovada"},"ajuda_participativa":{"type":"string","example":"0.00"},"valor_total":{"type":"string","example":"1240.00"},"tipo":{"type":"string","example":"Peça Nova/Oficina"}}}}}},"listaOrdemCompraAvulso":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":13,"description":"Quantidade total de ordens de compra encontradas"},"ordens":{"type":"array","items":{"type":"object","properties":{"cod_ordem":{"type":"integer","example":28},"situacao":{"type":"string","enum":["Pendente","Aprovada","Reprovada","Pre-aprovada"],"example":"Aprovada"},"valor_total":{"type":"string","example":"600.00"}}}}}},"buscaOrdem":{"type":"object","properties":{"ordem":{"type":"object","properties":{"cod_ordem":{"type":"integer","example":38,"description":"Código da ordem"},"cod_evento":{"type":"integer","example":27,"description":"Código do evento (quando aplicável)"},"cod_envolvido":{"type":"integer","example":45,"description":"Código do envolvido"},"situacao":{"type":"string","enum":["Pendente","Aprovada","Reprovada","Pre-aprovada"],"example":"Aprovada"},"ajuda_participativa":{"type":"string","example":"0.00","description":"Valor de ajuda participativa"},"valor_total":{"type":"string","example":"1240.00","description":"Valor total da ordem"},"observacao":{"type":"string","example":"ORDEM DE COMPRA FEITA SOB ORÇAMENTO RECEBIDO EM 17/10/2025 às 16:00","description":"Observações da ordem"},"situacao_dt_ultima_alteracao":{"type":"string","format":"date-time","example":"2025-10-17 16:10:00","description":"Data e hora da última alteração de situação"},"dt_criacao":{"type":"string","format":"date-time","example":"2025-10-17 16:05:46","description":"Data e hora de criação YYYY-MM-DD HH:MM:SS"},"dt_entrega":{"type":"string","format":"date","example":"2025-10-31","description":"Data prevista de entrega"},"integracao":{"type":"string","enum":["kamino","nibo","omie"],"example":"sistema_terceiro"},"lancamentos":{"type":"array","items":{"$ref":"#/components/schemas/lancamento"}},"arquivos":{"type":"array","items":{"$ref":"#/components/schemas/arquivo"}}}}}},"lancamento":{"type":"object","properties":{"cod_lancamento":{"type":"integer","example":1},"descricao":{"type":"string","example":"Funilaria e Pintura"},"tipo":{"type":"string","enum":["boleto","cartao_credito","cheque","dinheiro","pix","transferencia","nao_informado"],"example":"boleto"},"fluxo":{"type":"string","enum":["entrada","saida"],"example":"entrada"},"valor":{"type":"string","format":"decimal","example":"150.00"},"valor_liquidado":{"type":"string","format":"decimal","example":"150.00"},"data_criacao":{"type":"string","format":"date","example":"2025-06-22 00:00:00"},"data_prevista":{"type":"string","format":"date","example":"2025-06-30"},"data_liquidacao":{"type":"string","format":"date","example":"2023-06-28"},"id_externo":{"type":"string","example":"1"}}},"arquivo":{"type":"object","properties":{"cod_arquivo":{"type":"integer","example":38,"description":"Código do arquivo"},"descricao":{"type":"string","example":"Anexo de ordem de compra","description":"Descrição do arquivo"},"cdn_url":{"type":"string","format":"uri","example":"https://cdn.ileva.com.br/static/images/dummy.jpg","description":"URL do arquivo hospedado em CDN."},"dt_criacao":{"type":"string","format":"date-time","example":"2026-04-09 00:00:00","description":"Data e hora de criação YYYY-MM-DD HH:MM:SS"},"origem":{"type":"string","enum":["api/terceiro","sistema"],"example":"sistema","description":"Origem do arquivo"}}},"buscaOrdemAvulsa":{"type":"object","properties":{"ordem":{"type":"object","properties":{"cod_ordem":{"type":"integer","example":38,"description":"Código da ordem"},"situacao":{"type":"string","enum":["Pendente","Aprovada","Reprovada","Pre-aprovada"],"example":"Aprovada"},"valor_total":{"type":"number","format":"decimal","example":1240.99,"description":"Valor total da ordem"},"observacao":{"type":"string","example":"ORDEM DE COMPRA FEITA SOB ORÇAMENTO RECEBIDO EM 17/10/2025 às 16:00","description":"Observações da ordem"},"situacao_dt_ultima_alteracao":{"type":"string","format":"date-time","example":"2025-10-17 16:10:00","description":"Data e hora da última alteração de situação"},"dt_criacao":{"type":"string","format":"date-time","example":"2025-10-17 16:05:46","description":"Data e hora de criação"},"dt_entrega":{"type":"string","format":"date","example":"2025-10-31","description":"Data prevista de entrega"},"integracao":{"type":"string","enum":["kamino","nibo","omie"],"example":"sistema_terceiro"},"lancamentos":{"type":"array","items":{"$ref":"#/components/schemas/lancamento"}},"arquivos":{"type":"array","items":{"$ref":"#/components/schemas/arquivo"}}}}}},"inserirOrdem":{"type":"object","required":["cod_filial","cod_fornecedor","cod_envolvido","cod_tipo_compra","itens_financeiro","itens","dt_previsao_entrega"],"properties":{"cod_filial":{"type":"integer","example":1,"description":"Código da filial"},"cod_fornecedor":{"type":"integer","example":2,"description":"Código do fornecedor"},"cod_envolvido":{"type":"integer","example":2,"description":"Código do envolvido"},"cod_tipo_compra":{"type":"integer","example":3,"description":"Código do tipo da ordem"},"dt_previsao_entrega":{"type":"date","example":"2025-10-22","description":"Data prevista de entrega da ordem"},"valor_mao_obra":{"type":"number","example":600,"description":"Valor do lançamento"},"valor_desconto":{"type":"number","example":50,"description":"Valor do lançamento"},"observacao":{"type":"string","example":"Item 1","description":"Observação da ordem"},"itens":{"type":"array","items":{"type":"object","properties":{"descricao":{"type":"string","example":"Item 1","description":"Descrição do item da ordem"},"observacao":{"type":"string","example":"Obs.: teste","description":"Observação do item da ordem"},"quantidade":{"type":"integer","example":2,"description":"Quantidade do item da ordem"},"valor":{"type":"number","example":50,"description":"Valor do item da ordem"},"valor_mao_obra":{"type":"number","example":20,"description":"Valor da mão de obra do item da ordem"},"tempo_servico":{"type":"number","example":20,"description":"Tempo de serviço do item da ordem"},"troca":{"type":"string","enum":["SIM","NAO"],"example":"SIM","description":"Indica se o item é uma troca"},"lanternagem":{"type":"string","enum":["SIM","NAO"],"example":"NAO","description":"Indica se o item é uma lanternagem"},"pintura":{"type":"string","enum":["SIM","NAO"],"example":"NAO","description":"Indica se o item é uma pintura"}}}},"itens_financeiro":{"type":"array","items":{"type":"object","properties":{"descricao":{"type":"string","example":"Item 1","description":"Descrição do item da ordem"},"dt_prevista":{"type":"date","example":"2025-10-22","description":"Data prevista do lançamento financeiro"},"tipo_pagamento":{"type":"string","enum":["boleto","cartao_credito","cheque","dinheiro","pix","transferencia","nao_informado"],"example":"boleto"},"valor":{"type":"number","example":50,"description":"Valor do item da ordem"}}}}}},"ordemAvulsaInserir":{"type":"object","properties":{"cod_filial":{"required":true,"type":"integer","example":1},"cod_fornecedor":{"required":true,"type":"integer","example":1},"valor_mao_obra":{"type":"number","format":"decimal","example":9.99},"valor_desconto":{"type":"number","format":"decimal","example":5.03},"dt_previsao_entrega":{"required":true,"type":"string","format":"date","example":"2026-01-07"},"itens":{"type":"array","items":{"type":"object","properties":{"descricao":{"type":"string","example":"Item 1"},"observacao":{"type":"string","example":"Descrição do item 1"},"quantidade":{"type":"integer","example":2},"valor":{"type":"number","format":"decimal","example":9.99,"description":"Valor do item, informar valor total para a quantidade de itens"}}}},"itens_financeiro":{"required":true,"type":"array","items":{"type":"object","properties":{"descricao":{"required":false,"type":"string","example":"descrição do item financeiro"},"valor":{"required":true,"type":"number","format":"decimal","example":9.99},"tipo_pagamento":{"required":true,"type":"string","enum":["boleto","cartao_credito","cheque","dinheiro","pix","transferencia","nao_informado"],"example":"boleto"},"dt_prevista":{"required":true,"type":"date","example":"2025-10-22","description":"Data prevista do lançamento financeiro"},"cod_categoria":{"required":false,"type":"integer","example":1,"description":"Código da categoria do item financeiro"},"cod_centro_custo":{"required":false,"type":"integer","example":1,"description":"Código da centro de custo do item financeiro"}}}},"observacao":{"type":"string","example":"Observação da ordem de compra"}}},"listaTiposOrdens":{"type":"object","properties":{"total_encontrados":{"type":"number"},"tipos_ordem_regulagem":{"type":"array","items":{"type":"object","properties":{"cod_tipo":{"type":"integer","example":3},"nome":{"type":"string","example":"Evento"}}}}},"example":{"total_encontrados":1,"tipos_ordem_regulagem":[{"cod_tipo":3,"nome":"Padrão"},{"cod_tipo":4,"nome":"Evento"}]}},"listCategorias":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"categorias":{"type":"array","items":{"type":"object","properties":{"categoria_cod":{"type":"integer","example":1},"categoria_descricao":{"type":"string","example":"Manutenção"},"categoria_fluxo":{"type":"string","enum":["entrada","saida"],"example":"saida"}}}}}},"inserirCategoriaResponse":{"type":"object","properties":{"cod_categoria":{"type":"integer","example":5},"mensagem":{"type":"string","example":"Categoria inserida com sucesso"}}},"editarExcluirCategoriaResponse":{"type":"object","properties":{"mensagem":{"type":"string","example":"Operação realizada com sucesso"}}},"listCentrosCusto":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"centros_custo":{"type":"array","items":{"type":"object","properties":{"centro_custo_cod":{"type":"integer","example":1},"centro_custo_descricao":{"type":"string","example":"Administrativo"},"centro_custo_ordem":{"type":"integer","nullable":true,"example":1}}}}}},"inserirCentroCustoResponse":{"type":"object","properties":{"cod_centrocusto":{"type":"integer","example":3},"mensagem":{"type":"string","example":"Centro de custo inserido com sucesso"}}},"editarExcluirCentroCustoResponse":{"type":"object","properties":{"mensagem":{"type":"string","example":"Operação realizada com sucesso"}}},"enviarAnexoUpload":{"type":"object","required":["cod_ordem","file","descricao"],"properties":{"cod_ordem":{"type":"integer","description":"Código da ordem de compra","example":38},"file":{"type":"string","format":"binary","description":"Arquivo binário para upload (png, jpeg, pdf, doc, docx, xls, xlsx, odt, ods). Não pode ser enviado junto com o campo `url`."},"descricao":{"type":"string","description":"Descrição do anexo.","example":"Foto do orçamento"}}},"enviarAnexoCdn":{"type":"object","required":["cod_ordem","url","descricao"],"properties":{"cod_ordem":{"type":"integer","description":"Código da ordem de compra","example":38},"url":{"type":"string","format":"uri","description":"URL do arquivo hospedado em CDN (png, jpeg, pdf, doc, docx, xls, xlsx, odt, ods). Não pode ser enviado junto com o campo `file`.","example":"https://cdn.exemplo.com/imagens/orcamento.png"},"descricao":{"type":"string","description":"Descrição do anexo.","example":"Foto do orçamento"}}},"notaFiscalFlag":{"type":"object","properties":{"nota_fiscal":{"type":"integer","enum":[0,1],"description":"Marca o anexo como Nota Fiscal. Quando `1`, a descrição é definida automaticamente como \"Nota Fiscal\". Apenas uma nota fiscal por ordem.","example":1}}},"enviarAnexoAvulsaUpload":{"allOf":[{"$ref":"#/components/schemas/enviarAnexoUpload"},{"$ref":"#/components/schemas/notaFiscalFlag"}]},"enviarAnexoAvulsaCdn":{"allOf":[{"$ref":"#/components/schemas/enviarAnexoCdn"},{"$ref":"#/components/schemas/notaFiscalFlag"}]},"enviarAnexoResponse":{"type":"object","properties":{"cod_arquivo":{"type":"integer","description":"Código do arquivo inserido","example":12},"url_arquivo":{"type":"string","format":"uri","description":"Link do arquivo no CDN após upload","example":"https://cdn.exemplo.com/arquivo/12.png"}}},"badRequestResponse":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Parâmetros inválidos ou campos obrigatórios ausentes"}}},"notFoundResponse":{"type":"object","properties":{"status":{"type":"integer","example":404},"mensagem":{"type":"string","example":"Recurso não encontrado"}}},"unauthorizedResponse":{"type":"object","properties":{"status":{"type":"integer","example":401},"mensagem":{"type":"string","example":"Motivo da não autorização."}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}