{"openapi":"3.0.3","info":{"title":"Régua de cobrança","description":"Facilita o gerenciamento da régua de cobrança.","version":"3.0.0"},"servers":[{"url":"https://api.ileva.com.br/"}],"paths":{"/regua-cobranca/vincular-posicao-modelo":{"post":{"tags":["Régua de Cobrança"],"summary":"Vincula posições e modelos da régua de cobrança","operationId":"vinculaPosicaoModelo","description":"Código da posição da régua de cobrança. Disponível em `/regua-cobranca/posicao/listar`.<br>\nCódigo do modelo da régua de cobrança. Disponível em `/regua-cobranca/modelo/listar`.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/vinculaPosicaoModelo"}}}},"responses":{"200":{"description":"Vínculo inserido com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"cod_vinculo":{"type":"integer","example":15},"message":{"type":"string","example":"Vínculo entre a posição e o modelo inserido com sucesso"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"example":{"status":400,"mensagem":"Por favor informe o código da posição da régua de cobrança"},"examples":{"posicao_nao_informada":{"summary":"Código da posição não informado ou inválido","value":{"status":400,"mensagem":"Por favor informe o código da posição da régua de cobrança"}},"modelo_nao_informado":{"summary":"Código do modelo não informado ou inválido","value":{"status":400,"mensagem":"Por favor informe o código do modelo da régua de cobrança"}},"posicao_inexistente":{"summary":"Posição não encontrada","value":{"status":400,"mensagem":"Posição da régua de cobrança não encontrada!"}},"modelo_inexistente":{"summary":"Modelo não encontrado","value":{"status":400,"mensagem":"Modelo da régua de cobrança não encontrada!"}},"modelo_inativo":{"summary":"Modelo inativo","value":{"status":400,"mensagem":"Modelo da régua de cobrança se encontra INATIVO!"}},"vinculo_existente":{"summary":"Vínculo já existente","value":{"status":400,"mensagem":"O vínculo entre a posição e o modelo da régua de cobrança já existe!"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regua-cobranca/remover-vinculo-posicao-modelo/{cod_vinculo}":{"delete":{"tags":["Régua de Cobrança"],"summary":"Remove o vínculo entre posição e modelo da régua de cobrança","operationId":"removeVinculaPosicaoModelo","description":"É obrigatório informar o parâmetro: `cod_vinculo`","parameters":[{"name":"cod_vinculo","in":"query","required":true,"schema":{"type":"integer","example":7,"format":"int32"},"description":"código do vínculo modelo da régua de cobrança"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Vínculo entre posição e modelo da régua de cobrança removido com sucesso"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"example":{"status":400,"mensagem":"Por favor informe o código do vínculo da posição e modelo da régua de cobrança"},"examples":{"codigo_nao_informado":{"summary":"Código do vínculo não informado ou inválido","value":{"status":400,"mensagem":"Por favor informe o código do vínculo da posição e modelo da régua de cobrança"}},"vinculo_inexistente":{"summary":"Vínculo inexistente","value":{"status":400,"mensagem":"Vínculo de posição e modelo não encontrado!"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regua-cobranca/posicao/listar":{"get":{"tags":["Posição Régua de Cobrança"],"summary":"Lista posições da régua de cobrança com paginação","operationId":"listReguaPosicoes","description":"Lista posições da régua de cobrança com paginação.","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","example":0},"description":"Offset para paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","maximum":500,"example":5},"description":"Número de registros por página (máximo 500)"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listReguaPosicoes"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regua-cobranca/posicao/buscar":{"get":{"tags":["Posição Régua de Cobrança"],"summary":"Busca posição da régua de cobrança","operationId":"buscaReguaModelo","description":"É obrigatório informar o parâmetro: cod_posicao_regua","parameters":[{"name":"cod_posicao_regua","in":"query","required":true,"schema":{"type":"integer","example":7,"format":"int32"},"description":"código da posição da régua de cobrança"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaReguaPosicao"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Pelo menos um parâmetro deve ser informado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regua-cobranca/posicao":{"post":{"tags":["Posição Régua de Cobrança"],"summary":"Cria novo registro de posição da régua de cobrança","operationId":"createReguaModelo","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createReguaPosicao"}}}},"responses":{"200":{"description":"Retorna mensagem de sucesso e código do modelo da régua de cobrança inserido","content":{"application/json":{"schema":{"type":"object","properties":{"cod_posicao_regua":{"type":"integer","example":5},"message":{"type":"string","example":"Posição da régua de cobrança inserido com sucesso"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regua-cobranca/modelo/listar":{"get":{"tags":["Modelo Régua de Cobrança"],"summary":"Lista modelos da régua de cobrança com paginação","operationId":"listReguaModelos","description":"Lista modelos da régua de cobrança com paginação.","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","example":0},"description":"Offset para paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","maximum":500,"example":5},"description":"Número de registros por página (máximo 500)"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listReguaModelos"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"examples":{"inicio_nao_informado":{"summary":"Início da paginação ausente","value":{"status":400,"mensagem":"Por favor informe o início da paginação"}},"quantidade_nao_informada":{"summary":"Quantidade por página ausente","value":{"status":400,"mensagem":"Por favor informe a quantidade por página"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regua-cobranca/modelo/buscar":{"get":{"tags":["Modelo Régua de Cobrança"],"summary":"Busca modelo da régua de cobrança","operationId":"buscaReguaModelo","description":"É obrigatório informar o parâmetro: cod_modelo_regua","parameters":[{"name":"cod_modelo_regua","in":"query","required":true,"schema":{"type":"integer","example":7,"format":"int32"},"description":"código do modelo da régua de cobrança"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaReguaModelo"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"examples":{"parametro_ausente":{"summary":"Nenhum parâmetro foi informado","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado"}},"codigo_invalido":{"summary":"Código informado inválido","value":{"status":400,"mensagem":"Código do modelo da régua de cobrança inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regua-cobranca/modelo":{"post":{"tags":["Modelo Régua de Cobrança"],"summary":"Cria novo registro de modelo da régua de cobrança","operationId":"createReguaModelo","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createReguaModelo"}}}},"responses":{"200":{"description":"Retorna mensagem de sucesso e código do modelo da régua de cobrança inserido","content":{"application/json":{"schema":{"type":"object","properties":{"cod_modelo_regua":{"type":"integer","example":5},"message":{"type":"string","example":"Modelo da régua de cobrança inserido com sucesso"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"examples":{"tipo_nao_informado":{"summary":"Tipo ausente","value":{"status":400,"mensagem":"Por favor informe o tipo do modelo da régua de cobrança"}},"titulo_nao_informado":{"summary":"Título ausente","value":{"status":400,"mensagem":"Por favor informe o título do modelo da régua de cobrança"}},"tipo_invalido":{"summary":"Tipo inválido","value":{"status":400,"mensagem":"Tipo xyz inválido"}},"campo_obrigatorio":{"summary":"Campo obrigatório ausente (ex: tipo, titulo, etc.)","value":{"status":400,"mensagem":"Por favor informe o tipo do modelo"}},"url_invalida":{"summary":"URL webhook inválida","value":{"status":400,"mensagem":"Por favor informe uma url de webhook válida para o modelo."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/regua-cobranca/modelo/{cod_modelo_regua}":{"put":{"tags":["Modelo Régua de Cobrança"],"summary":"Altera um modelo da régua de cobrança","operationId":"updateReguaModelo","parameters":[{"name":"cod_modelo_regua","in":"path","required":true,"schema":{"type":"integer","example":7}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/createReguaModelo"}}}},"responses":{"200":{"description":"Modelo alterado com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Modelo da régua de cobrança alterado com sucesso"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"examples":{"codigo_nao_informado":{"summary":"Código não informado","value":{"status":400,"mensagem":"Por favor informe código do modelo"}},"modelo_inexistente":{"summary":"Modelo não encontrado","value":{"status":400,"mensagem":"Modelo da régua de cobrança não encontrado"}},"campo_obrigatorio":{"summary":"Campo obrigatório ausente","value":{"status":400,"mensagem":"Por favor informe o título do modelo"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}},"delete":{"tags":["Modelo Régua de Cobrança"],"summary":"Remove um modelo da régua de cobrança","operationId":"deleteReguaModelo","parameters":[{"name":"cod_modelo_regua","in":"path","required":true,"schema":{"type":"integer","example":7}}],"responses":{"200":{"description":"Modelo removido com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","example":"Modelo da régua de cobrança removido com sucesso"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string"}}},"examples":{"codigo_nao_informado":{"summary":"Código não informado","value":{"status":400,"mensagem":"Por favor informe o código do modelo"}},"modelo_inexistente":{"summary":"Modelo não encontrado","value":{"status":400,"mensagem":"Modelo não encontrado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}}},"components":{"schemas":{"vinculaPosicaoModelo":{"type":"object","required":["cod_posicao_regua","cod_modelo_regua"],"properties":{"cod_posicao_regua":{"type":"integer","example":6,"description":"Código da posição da régua de cobrança. Disponível em `/regua-cobranca/posicao/listar`."},"cod_modelo_regua":{"type":"integer","example":8,"description":"Código do modelo da régua de cobrança. Disponível em `/regua-cobranca/modelo/listar`."}}},"listReguaPosicoes":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"posicoesRegua":{"type":"array","items":{"type":"object","properties":{"cod_posicao_regua":{"type":"integer","example":13},"posicao":{"type":"string","enum":["criacaoBoleto","antesVencimento","diaVencimento","aposVencimento","pagamentoBoleto"],"example":"aposVencimento"},"dias":{"type":"integer","example":3,"description":"Dias para a posição régua cobrança (Caso 'posicao' = 'antesVencimento' ou 'aposVencimento')"},"criacao":{"type":"string","example":"2025-06-06 23:59:36","description":"Data de criação da posição"},"vinculoModelos":{"type":"array","items":{"type":"object","properties":{"cod_vinculo":{"type":"integer","example":7},"titulo_modelo":{"type":"string","example":"Título Modelo Régua Cobrança Exemplo","description":"Título do modelo"},"descricao_modelo":{"type":"string","example":"Descrição Modelo Régua Cobrança Exemplo","description":"Breve descrição do modelo"},"tipo_modelo":{"type":"string","enum":["webhook"],"example":"webhook"}}}}}}}}},"buscaReguaPosicao":{"type":"object","properties":{"posicaoRegua":{"type":"object","properties":{"cod_posicao_regua":{"type":"integer","example":13},"posicao":{"type":"string","enum":["criacaoBoleto","antesVencimento","diaVencimento","aposVencimento","pagamentoBoleto"],"example":"aposVencimento"},"dias":{"type":"integer","example":3,"description":"Dias para a posição régua cobrança (Caso 'posicao' = 'antesVencimento' ou 'aposVencimento')"},"criacao":{"type":"string","example":"2025-06-06 23:59:36","description":"Data de criação da posição"},"vinculoModelos":{"type":"array","items":{"type":"object","properties":{"cod_vinculo":{"type":"integer","example":19},"titulo_modelo":{"type":"string","example":"Modelo Exemplo","description":"Modelo vinculado com a posição"},"descricao_modelo":{"type":"string","example":"Breve descrição do modelo vinculado"},"tipo_modelo":{"enum":["webhook"],"example":"webhook"}}}}}}}},"createReguaPosicao":{"type":"object","required":["posicao","dias"],"properties":{"posicao":{"type":"string","enum":["criacaoBoleto","antesVencimento","diaVencimento","aposVencimento","pagamentoBoleto"],"example":"aposVencimento"},"dias":{"type":"integer","example":3,"description":"Dias para a posição régua cobrança (Obrigatório 'posicao' = 'antesVencimento' ou 'aposVencimento')"}}},"listReguaModelos":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1},"modelosRegua":{"type":"array","items":{"type":"object","properties":{"cod_modelo_regua":{"type":"integer","example":13},"tipo":{"type":"string","enum":["webhook"],"example":"webhook"},"titulo":{"type":"string","example":"Título Modelo Régua Cobrança Exemplo","description":"Título do modelo"},"descricao":{"type":"string","example":"Descrição Modelo Régua Cobrança Exemplo","description":"Breve descrição do modelo"},"situacao":{"type":"string","example":"ATIVO","description":"Situação do modelo da régua de cobrança (ATIVO ou INATIVO)"},"url_webhook":{"type":"string","example":"https://seudominio.com.br/webhook/ileva","description":"Url ao qual a carga de webhook será enviada (Apenas tipo = 'webhook')"},"criacao":{"type":"string","example":"2025-06-06 23:59:36","description":"Data de criação do modelo"}}}}}},"buscaReguaModelo":{"type":"object","properties":{"modeloRegua":{"type":"object","properties":{"cod_modelo_regua":{"type":"integer","example":13},"tipo":{"type":"string","enum":["webhook"],"example":"webhook"},"titulo":{"type":"string","example":"Título Modelo Régua Cobrança Exemplo","description":"Título do modelo"},"descricao":{"type":"string","example":"Descrição Modelo Régua Cobrança Exemplo","description":"Breve descrição do modelo"},"situacao":{"type":"string","example":"ATIVO","description":"Situação do modelo da régua de cobrança (ATIVO ou INATIVO)"},"url_webhook":{"type":"string","example":"https://seudominio.com.br/webhook/ileva","description":"Url ao qual a carga de webhook será enviada (Apenas tipo = 'webhook')"},"criacao":{"type":"string","example":"2025-06-06 23:59:36","description":"Data de criação do modelo"}}}}},"createReguaModelo":{"type":"object","required":["tipo","titulo"],"properties":{"tipo":{"type":"string","enum":["webhook"],"example":"webhook"},"titulo":{"type":"string","example":"Título Modelo Régua Cobrança Exemplo","description":"Título do modelo"},"descricao":{"type":"string","example":"Descrição Modelo Régua Cobrança Exemplo","description":"Breve descrição do modelo"},"situacao":{"type":"string","example":"ATIVO","description":"Situação do modelo da régua de cobrança (ATIVO ou INATIVO)"},"url_webhook":{"type":"string","example":"https://seudominio.com.br/webhook/ileva","maxLength":1000,"description":"Url ao qual a carga de webhook será enviada (Apenas tipo = 'webhook' - Obrigatório)"}}},"unauthorizedResponse":{"type":"object","properties":{"status":{"type":"integer","example":401},"mensagem":{"type":"string","example":"Não autorizado."}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}