{"openapi":"3.0.3","info":{"title":"Termo","description":"Permite a consulta e inserção de termos no sistema","version":"3.0.0"},"servers":[{"url":"https://api.ileva.com.br/"}],"paths":{"/termo":{"get":{"summary":"Lista os termos do sistema.","description":"É obrigatório informar o início da paginação e quantidade por página.","tags":["Termo"],"operationId":"listTermos","parameters":[{"in":"query","name":"inicio_paginacao","schema":{"type":"integer"},"required":true,"description":"Offset para páginação"},{"in":"query","name":"quantidade_por_pagina","schema":{"type":"integer","maximum":600},"required":true,"description":"Número de resultados por página, no máximo 600"},{"name":"cod_veiculo","in":"query","required":false,"schema":{"type":"integer","format":"int32","example":8},"description":"Código do veículo"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listaTermo"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o início da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por página"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 600"}},"codigoVeiculoInvalido":{"summary":"Código do veículo inválido","value":{"status":400,"mensagem":"Valor de parametro código do veículo inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Informação não encontrada","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"termoNaoEncontrada":{"summary":"Nenhum termo encontrado","value":{"status":404,"mensagem":"Nenhum termo encontrado"}}}}}}}},"post":{"tags":["Termo"],"summary":"Insere um novo termo no sistema.","description":"Insere um novo termo vinculado a um lead ou veículo, conforme regras abaixo:\n- O corpo da requisição deve ser informado.\n- É obrigatório informar o código do modelo de termo (`cod_modelo_termo`) e o tipo (`tipo`).\n- Informe **apenas um** dos campos: `cod_lead` ou `cod_veiculo`.\n- Caso o lead já possua termo vinculado, não é inserido um novo termo.\n- O âmbito do modelo de termo deverá estar de acordo com o tipo da indicação/veículo.\n\n**Comportamento de frota:**\n- Se o `cod_lead` informado fizer parte de uma frota com mais de um membro, o modelo de termo será aplicado a **todos os leads da frota**. Cada lead receberá seu próprio termo. A resposta retornará a lista de termos criados (`termos`) em vez de `cod_termo`.\n- O mesmo vale para `cod_veiculo`: se o veículo pertencer a uma frota, o termo será criado para **todos os veículos da frota**.\n- Todos os membros da frota são validados antes de qualquer inserção — se um membro for inválido (plano incompatível, âmbito divergente, já possui termo), a operação inteira é rejeitada.","operationId":"inserirTermo","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/inserirTermo"}}}},"responses":{"201":{"description":"Termo(s) inserido(s) com sucesso","content":{"application/json":{"schema":{"oneOf":[{"$ref":"#/components/schemas/inserirTermoResponse"},{"$ref":"#/components/schemas/inserirTermoFrotaLeadResponse"},{"$ref":"#/components/schemas/inserirTermoFrotaVeiculoResponse"}]},"examples":{"termoUnicoLead":{"summary":"Lead sem frota — termo único","value":{"cod_termo":15,"message":"Termo inserido com sucesso"}},"termoUnicoVeiculo":{"summary":"Veículo sem frota — termo único","value":{"cod_termo":22,"message":"Termo inserido com sucesso"}},"termoFrotaLead":{"summary":"Lead pertencente a uma frota — um termo por membro","description":"Quando o lead informado faz parte de uma frota, o modelo é aplicado a todos os leads da frota. Cada membro recebe seu próprio termo.","value":{"termos":[{"cod_termo":15,"cod_lead":41},{"cod_termo":16,"cod_lead":42},{"cod_termo":17,"cod_lead":43}],"message":"Termos inseridos com sucesso para a frota"}},"termoFrotaVeiculo":{"summary":"Veículo pertencente a uma frota — um termo por membro","description":"Quando o veículo informado faz parte de uma frota, o modelo é aplicado a todos os veículos da frota.","value":{"termos":[{"cod_termo":22,"cod_veiculo":8},{"cod_termo":23,"cod_veiculo":9}],"message":"Termos inseridos com sucesso para a frota"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"corpoNaoInformado":{"summary":"Corpo não informado","value":{"status":400,"mensagem":"Corpo da requisição não informado"}},"modeloNaoInformado":{"summary":"Modelo não informado","value":{"status":400,"mensagem":"Por favor informe o código do modelo de termo"}},"tipoNaoInformado":{"summary":"Tipo não informado","value":{"status":400,"mensagem":"Por favor informe um tipo de termo válido"}},"leadOuVeiculoNaoInformado":{"summary":"Lead ou veículo não informado","value":{"status":400,"mensagem":"Por favor informe o código do lead ou do veículo"}},"ambosLeadVeiculo":{"summary":"Ambos lead e veículo informados","value":{"status":400,"mensagem":"Por favor informe apenas o código do lead ou do veículo"}},"leadJaPossuiTermo":{"summary":"Lead já possui termo","value":{"status":400,"mensagem":"Lead já possui uma termo vinculado"}},"frotaLeadInvalido":{"summary":"Membro da frota (lead) inválido","value":{"status":400,"mensagem":"Lead 42 da frota: Lead já possui um termo vinculado"}},"frotaVeiculoInvalido":{"summary":"Membro da frota (veículo) inválido","value":{"status":400,"mensagem":"Veículo 9 da frota: O modelo de termo informado não é do tipo gestão"}},"modeloTermoNaoComercial":{"summary":"Modelo de termo não é do tipo comercial(caso seja passado o cod_lead)","value":{"status":400,"mensagem":"O modelo de termo informado não é do tipo comercial"}},"modeloTermoNaoGestao":{"summary":"Modelo de termo não é do tipo gestão(caso seja passado o cod_veiculo)","value":{"status":400,"mensagem":"O modelo de termo informado não é do tipo gestão"}},"termoAmbitoLeadInvalido":{"summary":"Âmbito inválido para criação da termo, de acordo com o modelo de termo.","value":{"status":400,"mensagem":"O âmbito do lead não corresponde ao âmbito do modelo de termo"}},"termoAmbitoVeiculoInvalido":{"summary":"Âmbito inválido para criação da termo, de acordo com o modelo de termo.","value":{"status":400,"mensagem":"O âmbito do veículo não corresponde ao âmbito do modelo de termo"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"modeloTermoNaoEncontrado":{"summary":"Modelo de termo não encontrado","value":{"status":404,"mensagem":"Modelo de termo não encontrado"}},"leadNaoEncontrado":{"summary":"Lead não encontrado","value":{"status":404,"mensagem":"Lead não encontrado ou modelo de termo não disponível para o plano do lead"}},"veiculoNaoEncontrado":{"summary":"Veículo não encontrado","value":{"status":404,"mensagem":"Veículo não encontrado ou modelo de termo não disponível para o plano do veículo"}}}}}}}}},"/termo/{cod_termo}":{"get":{"summary":"Busca os dados de um termo.","description":"É obrigatório informar o código do termo.","tags":["Termo"],"operationId":"buscaTermo","parameters":[{"name":"cod_termo","in":"path","required":true,"schema":{"type":"integer","format":"int32","example":8},"description":"Código do termo"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaTermo"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"nenhumParametro":{"summary":"Parâmetros não informados","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado"}},"formularioInvalido":{"summary":"Código do termo inválido","value":{"status":400,"mensagem":"Valor de parametro 'código do termo' inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Recurso não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"termoNaoEncontrada":{"summary":"Termo não encontrada","value":{"status":404,"mensagem":"Termo não encontrado"}}}}}}}},"delete":{"tags":["Termo"],"summary":"Exclui um termo do sistema.","operationId":"deleteTermo","description":"É obrigatório informar o parâmetro: `cod_termo`.\n\n**Comportamento de frota (módulo comercial):**\n- Se o termo pertencer a um lead que faz parte de uma frota, **todos os termos dos membros da frota serão excluídos** em cascata.\n- Todos os membros da frota devem ter classificação `pendente` e nenhum termo pode estar com status `aprovada` — caso contrário, a operação é rejeitada por inteiro.\n- **Módulo gestão:** a exclusão é sempre individual; nenhuma cascata ocorre entre veículos da frota.","parameters":[{"name":"cod_termo","in":"path","required":true,"schema":{"type":"integer","example":7,"format":"int32"},"description":"código do termo no sistema"}],"responses":{"200":{"description":"Termo(s) excluído(s) com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}},"examples":{"termoUnico":{"summary":"Termo único excluído","value":{"message":"Termo excluído com sucesso"}},"termoFrota":{"summary":"Frota — todos os termos da frota excluídos (módulo comercial)","description":"Retornado quando o lead do termo pertence a uma frota. Todos os termos dos membros são excluídos em cascata.","value":{"message":"Termos excluídos com sucesso para toda a frota"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"codigoTermoInvalido":{"summary":"Código do termo Inválido","value":{"status":400,"mensagem":"Valor de parametro 'cod_termo' inválido"}},"termoAprovado":{"summary":"Termo aprovado, impossível excluir","value":{"status":400,"mensagem":"Não é possível excluir um termo aprovado"}},"indicacaoClassificacaoInvalida":{"summary":"Apenas indicações com classificação 'Pendente' podem ter o termo excluído","value":{"status":400,"mensagem":"Apenas indicações com classificação Pendente podem ter o termo excluído"}},"frotaMembroNaoPendente":{"summary":"Membro da frota não está com classificação pendente","value":{"status":400,"mensagem":"Lead 42 da frota não está com classificação pendente"}},"frotaMembroTermoAprovado":{"summary":"Termo de membro da frota já foi aprovado","value":{"status":400,"mensagem":"Termo do lead 42 da frota já foi aprovado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"modeloTermoNaoEncontrado":{"summary":"Termo não encontrado","value":{"status":404,"mensagem":"Termo não encontrado"}}}}}}}}},"/termo/modelo":{"get":{"summary":"Lista os modelos de termos do sistema.","description":"É obrigatório informar o início da paginação e quantidade por página.","tags":["Modelo de Termo"],"operationId":"listTermos","parameters":[{"in":"query","name":"inicio_paginacao","schema":{"type":"integer"},"required":true,"description":"Offset para páginação"},{"in":"query","name":"quantidade_por_pagina","schema":{"type":"integer","maximum":100},"required":true,"description":"Número de resultados por página, no máximo 100"},{"name":"cod_plano","in":"query","required":false,"schema":{"type":"integer","format":"int32","example":2},"description":"Código do plano"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/listaTermoModelo"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o início da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por página"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 100"}},"formularioInvalido":{"summary":"Código do plano inválido","value":{"status":400,"mensagem":"Valor de parametro código do plano inválido"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Informação não encontrada","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"modeloTermoNaoEncontrado":{"summary":"Nenhum modelo de termo encontrado","value":{"status":404,"mensagem":"Nenhum modelo de termo encontrado"}}}}}}}}},"/termo/modelo/{cod_modelo_termo}":{"get":{"summary":"Busca os dados de um modelo de termo.","description":"É obrigatório informar o código do modelo de termo.</br>\nO `âmbito` do modelo de termo irá definir em que tipo de proposta/veículo ele poderá ser utilizado.","tags":["Modelo de Termo"],"operationId":"buscaModeloTermo","parameters":[{"name":"cod_modelo_termo","in":"path","required":true,"schema":{"type":"integer","format":"int32","example":8},"description":"Código do modelo de termo"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaTermoModelo"}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"formularioInvalido":{"summary":"Código do modelo de termo inválido","value":{"status":400,"mensagem":"Valor de parametro código do modelo de termo inválido"}},"codigoModeloTermoNaoInformado":{"summary":"Código do modelo de termo não informado","value":{"status":400,"mensagem":"Por favor informe o código do modelo de termo"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Informação não encontrada","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"modeloTermoNaoEncontrado":{"summary":"Nenhum modelo de termo encontrado","value":{"status":404,"mensagem":"Nenhum modelo de termo encontrado"}}}}}}}}}},"components":{"schemas":{"listaTermo":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Quantidade total de termos encontradas"},"termos":{"type":"array","items":{"type":"object","properties":{"cod_termo":{"type":"integer","example":78,"description":"Código do termo"},"termo_tipo":{"type":"string","enum":["Digital","Manuscrito","Hibrido"],"example":"Manuscrito","description":"Tipo do termo"},"status":{"type":"string","enum":["Reanalise","Reprovada","Aprovada","Pendente"],"example":"Pendente","description":"Status da termo"},"modulo":{"type":"string","enum":["comercial","gestao"],"example":"comercial","description":"Módulo de criação do termo"}}}}}},"buscaTermo":{"type":"object","properties":{"termo":{"type":"object","properties":{"cod_termo":{"type":"integer","example":8,"description":"Código da termo"},"termo_tipo":{"type":"string","enum":["Digital","Manuscrito","Hibrido"]},"url_termo":{"type":"string","nullable":true,"example":null,"description":"URL do termo (se disponível)"},"dt_hr_envio":{"type":"string","example":"2025-10-22 15:23:58","description":"Data e hora do envio do termo"},"modulo":{"type":"string","enum":["gestao","comercial"],"example":"comercial","description":"Módulo da termo"},"perguntas_termo":{"type":"array","description":"Lista de perguntas do termo","items":{"type":"object","properties":{"descricao":{"type":"string","example":"Qual a profissão do condutor?","description":"Descrição da pergunta"},"resposta":{"type":"string","example":"Uber","description":"Resposta da pergunta"}}}}}}}},"inserirTermo":{"type":"object","required":["cod_modelo_termo","tipo"],"properties":{"cod_modelo_termo":{"type":"integer","example":3,"description":"Código do modelo de termo"},"tipo":{"type":"string","enum":["digital","manuscrito","hibrido"],"example":"digital","description":"Tipo do termo"},"cod_lead":{"type":"integer","example":41,"description":"Código do lead (opcional, obrigatório se não informar cod_veiculo)"},"cod_veiculo":{"type":"integer","example":8,"description":"Código do veículo (opcional, obrigatório se não informar cod_lead)"}}},"inserirTermoResponse":{"type":"object","description":"Resposta para inserção de termo único (lead ou veículo sem frota, ou frota com apenas um membro).","properties":{"cod_termo":{"type":"integer","example":15,"description":"Código do termo criado"},"message":{"type":"string","example":"Termo inserido com sucesso"}}},"inserirTermoFrotaLeadResponse":{"type":"object","description":"Resposta para inserção de termos em frota de leads. Um termo é criado para cada membro da frota.","properties":{"termos":{"type":"array","description":"Lista de termos criados, um por lead da frota","items":{"type":"object","properties":{"cod_termo":{"type":"integer","example":15,"description":"Código do termo criado para este lead"},"cod_lead":{"type":"integer","example":41,"description":"Código do lead que recebeu este termo"}}}},"message":{"type":"string","example":"Termos inseridos com sucesso para a frota"}}},"inserirTermoFrotaVeiculoResponse":{"type":"object","description":"Resposta para inserção de termos em frota de veículos. Um termo é criado para cada veículo da frota.","properties":{"termos":{"type":"array","description":"Lista de termos criados, um por veículo da frota","items":{"type":"object","properties":{"cod_termo":{"type":"integer","example":22,"description":"Código do termo criado para este veículo"},"cod_veiculo":{"type":"integer","example":8,"description":"Código do veículo que recebeu este termo"}}}},"message":{"type":"string","example":"Termos inseridos com sucesso para a frota"}}},"listaTermoModelo":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Quantidade total de termos encontrados"},"modelos_termo":{"type":"array","items":{"type":"object","properties":{"cod_modelo_termo":{"type":"integer","example":3,"description":"Código do modelo de termo"},"descricao":{"type":"string","example":"Nova Filiação","description":"Descrição do modelo de termo"},"ambiente":{"type":"string","example":"comercial","enum":["comercial","gestao"]},"ambito":{"type":"string","enum":["novo","troca_titularidade","atualizacao","agregado"],"description":"Ambito do modelo de termo"},"tipo":{"type":"string","example":"Digital","enum":["Digital","Hibrido"]},"qtd_meses_vigencia":{"type":"number","example":3,"description":"Quantidade de meses de vigência de termo"},"status":{"type":"string","example":"ATIVO","enum":["ATIVO","INATIVO"]}}}}}},"buscaTermoModelo":{"type":"object","properties":{"modelo_termo":{"type":"object","properties":{"cod_modelo_termo":{"type":"integer","example":3,"description":"Código do modelo de termo"},"descricao":{"type":"string","example":"Nova Filiação","description":"Descrição do modelo de termo"},"ambiente":{"type":"string","example":"comercial","enum":["comercial","gestao"]},"ambito":{"type":"string","enum":["novo","troca_titularidade","atualizacao","agregado"],"description":"Ambito do modelo de termo"},"tipo":{"type":"string","example":"Digital","enum":["Digital","Hibrido"]},"qtd_meses_vigencia":{"type":"number","example":3,"description":"Quantidade de meses de vigência de termo"},"status":{"type":"string","enum":["ATIVO","INATIVO"],"example":"INATIVO","description":"Status do modelo de termo"},"perguntas":{"type":"array","description":"Lista de perguntas do modelo de termo","items":{"type":"object","properties":{"descricao":{"type":"string","example":"Qual a profissão do condultor?","description":"Descrição da pergunta"},"variavel":{"type":"string","example":"{[profissao_condutor]}","description":"Palavra-chave da pergunta para ser usada no modelo de termo para substituição pela resposta"}}}}}}}},"badRequestResponse":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Parâmetros inválidos ou campos obrigatórios ausentes"}}},"notFoundResponse":{"type":"object","properties":{"status":{"type":"integer","example":404},"mensagem":{"type":"string","example":"Recurso não encontrado"}}},"unauthorizedResponse":{"type":"object","properties":{"status":{"type":"integer","example":401},"mensagem":{"type":"string","example":"Motivo da não autorização."}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}