{"openapi":"3.0.3","info":{"title":"Veículos","description":"Facilita o gerenciamento de veículos.","version":"3.0.0"},"servers":[{"url":"https://api.ileva.com.br/"}],"paths":{"/veiculo/listar":{"get":{"tags":["Veículos"],"summary":"Lista de veículos","operationId":"listarVeiculos","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","example":0},"description":"Offset para paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","maximum":600},"description":"Quantidade de resultados por página (máximo de 600)"},{"name":"cod_situacao","in":"query","schema":{"type":"integer","example":7},"description":"Código da situação"},{"name":"tipo_situacao","in":"query","required":false,"schema":{"type":"string","enum":["ATIVO","INATIVO","INADIMPLENTE","PENDENTE"],"example":"ATIVO"},"description":"Tipo da Situação"},{"name":"possui_rastreador","in":"query","schema":{"type":"integer","enum":[0,1],"example":0},"description":"Possui rastreador (1 = 'Sim', 0 = 'Não')"},{"name":"cod_associado","in":"query","schema":{"type":"integer","example":7},"description":"Código do associado"},{"name":"cod_beneficio","in":"query","schema":{"type":"integer","example":7},"description":"Código do benefício"},{"name":"cod_consultor","in":"query","schema":{"type":"integer","example":7},"description":"Código do consultor"},{"name":"cod_consultor_regional","in":"query","schema":{"type":"integer","example":7},"description":"Código da regional do consultor"},{"name":"cod_consultor_equipe","in":"query","schema":{"type":"integer","example":7},"description":"Código da equipe do consultor"},{"name":"mostrar_troca_titularidade","in":"query","required":false,"schema":{"type":"boolean","example":false},"description":"Incluir veículos anteriores de troca de titularidade (true = 'Sim', false = 'Não')"},{"name":"mostrar_beneficios","in":"query","required":false,"schema":{"type":"integer","enum":[0,1],"example":1},"description":"Incluir benefícios vinculados ao veículo (1 = 'Sim', 0 = 'Não')"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/veiculo"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o início da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por página"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 600"}},"parametrosObrigatoriosAusentes":{"summary":"Parâmetros obrigatórios ausentes","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/veiculo/buscar":{"get":{"tags":["Veículos"],"description":"Busca um veículo específico.","operationId":"buscarVeiculo","parameters":[{"name":"cod_veiculo","in":"query","required":false,"schema":{"type":"integer","format":"int32"}},{"name":"chassi","in":"query","required":false,"schema":{"type":"string","maxLength":17}},{"name":"placa","in":"query","required":false,"schema":{"type":"string","maxLength":7,"description":"Placa do veículo. No caso de veículo zero quilômetro, o valor será '0KM'."}},{"name":"mostrar_troca_titularidade","in":"query","required":false,"schema":{"type":"boolean","example":false},"description":"Incluir veículos anteriores de troca de titularidade (true = 'Sim', false = 'Não')"}],"responses":{"200":{"description":"Operação bem sucedida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/buscaVeiculo"},"examples":{"veiculoEncontrado":{"summary":"Veículo encontrado","value":{"veiculo":{"associado":"Fulano da Silva","sexo":"F","tel_fixo":"(11) 98765-4321","tel_celular":"(11) 91234-5678","dt_nascimento":"1980-01-01","cpf_cnpj":"123.456.789-00","nome_mae":"Maria da Silva","email":"janetepadua764@gmail.com","rg":"164397875","orgao_expedidor_rg":"SSP","cnh":"07414483463","categoria_cnh":"B","logradouro":"Travessa 1","bairro":"Jardim Diniz","numero":"123","complemento":"Apto 101","cidade":"Santo Antônio do Descoberto","estado":"Goiás","estado_uf":"GO","cod_associado":7,"placa":"KDZ0847","id_externo":7,"cod_veiculo":7,"cilindrada":1996,"chassi":"193pkdN0DMPJM0868","renavam":"00000000000","ano_fabricacao":2024,"ano_modelo":"2024-1","qtd_portas":4,"valor_fipe":415252,"valor_fixo":168.35,"valor_protegido":415252,"numero_motor":"ABC123456","qtd_passageiros":5,"kilometragem":0,"cod_consultor":7,"cod_consultor_regional":7,"cod_consultor_equipe":7,"situacao":"Ativo","situacao_tipo":"Ativo","cod_situacao":7,"modelo":"Civic Type-R 2.0 Turbo 16V","tipo":"carro","cor":"Azul Pérola Turbo","marca":"Honda","combustivel":"Gasolina","categoria":"Carro","cod_categoria":7,"plano":"nome do plano","cod_plano":7,"cota":0.01,"consultor_nome":"nome do(a) consultor(a)","dt_cadastro":"2024-10-27","dt_contrato":"2024-10-27","dt_exclusao":"2024-10-27","cod_plano_item":7,"cod_lead":1,"nome_classificacao":"Classificação Exemplo","veiculo_anterior_troca_titularidade":"Não","beneficios":[{"cod_beneficio":7,"beneficio":"nome do benefício","valor":9.99,"cod_beneficio_veiculo":15,"dt_cadastro_beneficio":"2024-10-27","integracoes":[{"descricao":"nome da integraçao","acao":"exclusao","status":"processado","data_processamento":"2026-03-18 10:20:17"}]}],"vistorias":[{"cod_vistoria":42,"status":"Aprovada"}],"termos":[{"cod_termo":33,"termo_tipo":"Digital","status":"Aprovada"}]}}},"semRegistros":{"summary":"Nenhum veículo encontrado","value":{"veiculo":null}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"noParams":{"summary":"Parâmetro não informado","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/veiculo/listar-motivo-mudanca-situacao":{"get":{"tags":["Veículos"],"summary":"Lista motivos de mudança de situações que acontecem aos veículos","operationId":"listarMotivoMudancaSituacao","responses":{"200":{"description":"Lista de motivos para mudanças de situação de veículos","content":{"application/json":{"schema":{"$ref":"#/components/schemas/motivosMudancaSituacao"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/veiculo/alteracoes-situacao":{"get":{"tags":["Veículos"],"summary":"Retorna alterações de situação de veículos","description":"Retorna um objeto contendo uma chave com o total de registros encontrados e outra com\nregistros sendo uma array com os registros encontrados.\n*É obrigatório informar ao menos um dos parâmetros: dt_entrada_de, dt_entrada_ate,\ndt_saida_de, dt_saida_ate, cod_situacao, cod_motivo_mudanca, cod_veiculo, chassi ou placa.*","operationId":"listarAlteracoesSituacao","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","example":0},"description":"Offset para paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","maximum":300,"example":5},"description":"Quantidade de resultados por página (máximo de 300)"},{"name":"dt_entrada_de","in":"query","schema":{"type":"string","format":"date","example":"2024-07-29"},"description":"Data de entrada inicial"},{"name":"dt_entrada_ate","in":"query","schema":{"type":"string","format":"date","example":"2024-07-31"},"description":"Data de entrada final"},{"name":"dt_saida_de","in":"query","schema":{"type":"string","format":"date","example":"2024-07-29"},"description":"Data de saída inicial"},{"name":"dt_saida_ate","in":"query","schema":{"type":"string","format":"date","example":"2024-07-29"},"description":"Data de saída final"},{"name":"cod_situacao","in":"query","schema":{"type":"integer","format":"int32","example":7},"description":"Código da situação"},{"name":"cod_motivo_mudanca","in":"query","schema":{"type":"integer","format":"int32","example":7},"description":"Código do motivo de mudança"},{"name":"cod_veiculo","in":"query","schema":{"type":"integer","format":"int32","example":7},"description":"Código do veículo"},{"name":"chassi","in":"query","schema":{"type":"string","example":"193pkdN0DMPJM0868"},"description":"Chassi do veículo"},{"name":"placa","in":"query","schema":{"type":"string","maxLength":7,"example":"KDZ0847"},"description":"Placa do veículo (ou 0KM para veículo zero km)"}],"responses":{"200":{"description":"Lista de alterações de situação de veículos","content":{"application/json":{"schema":{"$ref":"#/components/schemas/alteracoesSituacao"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 300"}},"parametrosObrigatoriosAusentes":{"summary":"Parâmetros obrigatórios ausentes","value":{"status":400,"mensagem":"Pelo menos um parâmetro dever ser informado."}},"dtEntradaDeInvalido":{"summary":"Data de entrada inicial inválida","value":{"status":400,"mensagem":"O parâmetro 'data-informada-em-formato-invalido' em 'dt_entrada_de' não é válido."}},"dtEntradaAteInvalido":{"summary":"Data de entrada final inválida","value":{"status":400,"mensagem":"O parâmetro 'data-informada-em-formato-invalido' em 'dt_entrada_ate' não é válido."}},"dtSaidaDeInvalido":{"summary":"Data de saída inicial inválida","value":{"status":400,"mensagem":"O parâmetro 'data-informada-em-formato-invalido' em 'dt_saida_de' não é válido."}},"dtSaidaAteInvalido":{"summary":"Data de saída final inválida","value":{"status":400,"mensagem":"O parâmetro 'data-informada-em-formato-invalido' em 'dt_saida_ate' não é válido."}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/veiculo/listar-beneficios":{"get":{"tags":["Veículos"],"summary":"Lista benefícios que podem ser vinculados aos veículos","operationId":"listBeneficios","parameters":[{"name":"inicio_paginacao","in":"query","required":true,"schema":{"type":"integer","example":0},"description":"Offset para paginação"},{"name":"quantidade_por_pagina","in":"query","required":true,"schema":{"type":"integer","maximum":100,"example":5},"description":"Quantidade de resultados por página (máximo de 100)"}],"responses":{"200":{"description":"Lista de benefícios disponíveis para veículos","content":{"application/json":{"schema":{"$ref":"#/components/schemas/beneficios"}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"inicioPaginacaoInvalido":{"summary":"Início da paginação inválido","value":{"status":400,"mensagem":"Por favor informe o inicio da paginação"}},"quantidadePorPaginaInvalida":{"summary":"Quantidade por página inválida","value":{"status":400,"mensagem":"Por favor informe a quantidade por pagina"}},"porPaginaNaoPermitido":{"summary":"Quantidade por página não permitido","value":{"status":400,"mensagem":"Quantidade por página não pode ser maior que 100"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/veiculo/desvincular-beneficio":{"post":{"tags":["Veículos"],"summary":"Desvincula um benefício a um veículo.","operationId":"desvinculaVeiculoBeneficio","description":"Código do benefício. Disponível em `/beneficio/listar`.<br>\nCódigo do veículo. Disponível em `/veiculo/listar`.<br>\nO campo alterar_valor_fixo indica se o valor fixo do veículo deve ser atualizado de acordo com o valor do benefício desvinculado.","requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/desvinculaVeiculoBeneficio"}}}},"responses":{"200":{"description":"Vínculo inserido com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"mensagem":{"type":"string","example":"Benefício desvinculado com sucesso"}}}}}},"400":{"description":"Parâmetros inválidos ou campos obrigatórios ausentes","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"corpoNaoInformado":{"summary":"Corpo da requisição não informado","value":{"status":400,"mensagem":"Corpo da requisição não informado"}},"codigoBeneficioInvalido":{"summary":"Código do benefício inválido","value":{"status":400,"mensagem":"Valor de parametro 'código do benefício' inválido"}},"codigoVeiculoInvalido":{"summary":"Código do veículo inválido","value":{"status":400,"mensagem":"Valor de parametro 'código do veículo' inválido"}},"codigoBeneficioNaoInformado":{"summary":"Código do benefício não informado","value":{"status":400,"mensagem":"Por favor informe o código do benefício"}},"codigoVeiculoNaoInformado":{"summary":"Código do veículo não informado","value":{"status":400,"mensagem":"Por favor informe o código do veículo"}},"alterarValorFixoNaoInformado":{"summary":"Alterar valor fixo não informado","value":{"status":400,"mensagem":"Por favor informe se deve alterar o valor fixo do veículo"}},"beneficioNaoVinculadoVeiculo":{"summary":"Benefício não vinculado ao veículo","value":{"status":400,"mensagem":"Benefício não vinculado ao veículo informado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}},"404":{"description":"Não encontrado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/notFoundResponse"},"examples":{"beneficioNaoEncontrado":{"summary":"Benefício não encontrado","value":{"status":404,"mensagem":"Benefício não encontrado"}},"veiculoNaoEncontrado":{"summary":"Veículo não encontrado","value":{"status":404,"mensagem":"Veículo não encontrado"}}}}}}}}},"/veiculo/listar-situacoes":{"get":{"tags":["Veículos"],"summary":"Lista as possíveis situações dos veículos (as mesmas situações podem ser aplicadas aos associados)","operationId":"listarSituacoes","responses":{"200":{"description":"Operação bem sucedida.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/situacoes"}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}},"/veiculo/{cod_veiculo}":{"put":{"tags":["Veículos"],"summary":"Atualiza um veículo","operationId":"atualizarVeiculo","description":"Atualiza os dados de um veículo. No momento, permite alterar a situação do veículo.<br>\n`cod_situacao` código da situação, disponível em `/veiculo/listar-situacoes`.<br>\n`cod_motivo` código do motivo da troca de situação, disponível em `/outros/motivo-mudanca-situacao`.","parameters":[{"name":"cod_veiculo","in":"path","required":true,"schema":{"type":"integer","format":"int32","example":18},"description":"Código do veículo"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"cod_situacao":{"type":"integer","format":"int32","example":3,"description":"Códigos de situações do veículo. Disponível em `/veiculo/listar-situacoes`."},"cod_motivo":{"type":"integer","format":"int32","example":1,"description":"Código do motivo da troca de situação. Obrigatório quando `cod_situacao` é informado. Disponível em `/outros/motivo-mudanca-situacao`, deve ser do tipo gestao."},"replicar_situacao_associado":{"type":"enum","example":0,"values":[1,0],"description":"Quando verdadeiro, altera também a situação do associado vinculado ao veículo."}}}}}},"responses":{"200":{"description":"Veículo atualizado com sucesso","content":{"application/json":{"schema":{"type":"object","properties":{"mensagem":{"type":"string","example":"Veículo atualizado com sucesso"}}}}}},"400":{"description":"Requisição inválida","content":{"application/json":{"schema":{"$ref":"#/components/schemas/badRequestResponse"},"examples":{"formularioInvalido":{"summary":"Formulário inválido","value":{"status":400,"mensagem":"Formulário inválido."}},"nenhumDadoAtualizado":{"summary":"Nenhum dado foi alterado","value":{"status":400,"mensagem":"Nenhum dado foi atualizado"}}}}}},"401":{"description":"Não autorizado","content":{"application/json":{"schema":{"$ref":"#/components/schemas/unauthorizedResponse"},"examples":{"usuarioNaoAutorizado":{"summary":"Usuário não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado."}},"tokenInvalido":{"summary":"Token inválido","value":{"status":401,"mensagem":"Token inválido ou expirado."}},"clienteSuspenso":{"summary":"Suspenso","value":{"status":401,"mensagem":"O sistema esta suspenso. Por favor, procure o administrador.."}},"profileUnauthorized":{"summary":"Perfil não autorizado","value":{"status":401,"mensagem":"Usuário não autorizado para acesso via API"}}}}}}}}}},"components":{"schemas":{"veiculo":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Total de veículos encontrados"},"veiculos":{"type":"array","items":{"type":"object","properties":{"associado":{"type":"string","example":"Fulano da Silva","description":"Nome do associado"},"sexo":{"type":"string","enum":["M","F"],"example":"M"},"tel_fixo":{"type":"string","description":"Telefone fixo"},"tel_celular":{"type":"string","description":"Telefone celular"},"dt_nascimento":{"type":"string","format":"date","example":"1980-01-01"},"cpf_cnpj":{"type":"string","description":"CPF ou CNPJ do associado"},"nome_mae":{"type":"string","description":"Nome da mãe do associado"},"email":{"type":"string","format":"email","example":"example@domain.com"},"rg":{"type":"string","maxLength":45,"description":"Registro Geral (RG)"},"orgao_expedidor_rg":{"type":"string","description":"Órgão expedidor do RG"},"cnh":{"type":"string","maxLength":500,"description":"CNH do associado"},"categoria_cnh":{"type":"string","description":"Categoria da CNH"},"logradouro":{"type":"string","description":"Endereço do associado"},"bairro":{"type":"string","description":"Bairro do associado"},"numero":{"type":"string","description":"Número da residência"},"complemento":{"type":"string","description":"Complemento do endereço"},"cep":{"type":"string","description":"CEP do endereço"},"cidade":{"type":"string","description":"Cidade do associado"},"estado":{"type":"string","description":"Estado do associado"},"estado_uf":{"type":"string","description":"Sigla do estado (UF)"},"cod_associado":{"type":"integer","example":7},"placa":{"type":"string","maxLength":7,"example":"KDZ0847","description":"Placa do veículo, no caso de veículo zero kilometro, o valor será 0KM"},"cod_externo":{"type":"integer","nullable":true,"example":7},"cod_veiculo":{"type":"integer","description":"Código do veículo","example":7},"cilindrada":{"type":"integer","example":1996},"chassi":{"type":"string","example":"193pkdN0DMPJM0868","description":"Chassi do veículo"},"renavam":{"type":"string","pattern":"^\\d{11}$","example":"00000000000","description":"Código RENAVAM"},"ano_fabricacao":{"type":"integer","example":2024,"description":"Ano de fabricação do veículo"},"ano_modelo":{"type":"string","pattern":"^((3200)|(\\d{4}))-\\d$","example":"2024-1","description":"3200 = 0KM"},"qtd_portas":{"type":"integer","example":4,"description":"Quantidade de portas"},"valor_fipe":{"type":"number","format":"float","example":415252},"valor_protegido":{"type":"number","format":"float","nullable":true,"example":415252,"description":"Valor protegido do veículo"},"numero_motor":{"type":"string","maxLength":50,"description":"Número do motor"},"qtd_passageiros":{"type":"integer","description":"Quantidade de passageiros"},"kilometragem":{"type":"integer","example":0},"dt_cadastro":{"type":"string","format":"date","example":"2024-10-26"},"dt_contrato":{"type":"string","format":"date","example":"2024-10-26"},"situacao":{"type":"string","description":"Situação do veículo"},"situacao_tipo":{"type":"string","description":"Tipo da situação do veículo"},"cod_situacao":{"type":"integer","description":"Código da situação","example":7},"modelo":{"type":"string","description":"Modelo do veículo"},"codigo_fipe":{"type":"string","pattern":"^\\d{6}-\\d$","example":"014113-5"},"tipo":{"type":"string","enum":["carro","moto","caminhao","colheitadeira","trator","outros"],"example":"carro"},"cor":{"type":"string","example":"Azul Pérola Turbo","description":"As cores são cadastradas dinamicamente pela associação"},"marca":{"type":"string","example":"Honda"},"combustivel":{"type":"string","example":"Gasolina","description":"Os tipos de combustiveis são cadastradas dinamicamente pela associação"},"codigo_associado":{"type":"integer","example":7},"cod_consultor":{"type":"integer","example":7},"consultor_nome":{"type":"string","nullable":true,"example":"nome do(a) consultor(a)","description":"Nome do consultor"},"cod_consultor_regional":{"type":"integer","example":7},"cod_consultor_equipe":{"type":"integer","example":7},"cod_plano":{"type":"integer","example":7,"description":"Código do plano do veículo"},"nome_plano":{"type":"string","example":"Ileva Padrão","description":"Nome do plano do veículo"},"cod_categoria":{"type":"integer","example":7,"description":"Código da categoria do veículo"},"nome_categoria":{"type":"string","example":"Veículo de passeio","description":"Nome da categoria do veículo"},"possui_rastreador":{"type":"string","enum":["Sim","Não"],"example":"Não","description":"Indica se o veículo possui rastreador"},"cod_lead":{"type":"integer","format":"int32","example":7,"description":"Código do lead que originou o veículo"},"nome_classificacao":{"type":"string","example":"Classificação Exemplo","description":"Nome da classificação do veículo"},"veiculo_anterior_troca_titularidade":{"type":"string","enum":["Sim","Não"],"example":"Não","description":"Indica se o veículo é o anterior de uma troca de titularidade"},"beneficios":{"type":"array","nullable":true,"description":"Benefícios vinculados ao veículo. Retornado apenas quando mostrar_beneficios=1","items":{"type":"object","properties":{"cod_beneficio":{"type":"integer","example":7,"description":"Código do benefício"},"beneficio_nome":{"type":"string","example":"Rastreador","description":"Nome do benefício"},"beneficio_valor":{"type":"number","format":"float","example":49.9,"description":"Valor do benefício"},"beneficio_calculo":{"type":"string","enum":["dinamico","fixo","porcentagem","porcentagem_vlmensalidade","dinamico_porcentagem_fipe","dinamico_porcentagem_mensalidade","porcentagem_vlmensalidade_item_plano","dinamico_porcentagem_mensalidade_item_plano"],"example":"fixo","description":"Forma de cálculo do benefício: - Valor fixo (R$) - Porcentagem sobre Fipe (%) - Porcentagem sobre Mensalidade (%) - Porcentagem sobre Mensalidade Do Item de Plano (%) - Dinâmico Valor Real (R$) - Dinâmico Porcentagem sobre Fipe (%) - Dinâmico Porcentagem sobre Mensalidade (%) - Dinâmico Porcentagem sobre Mensalidade Do Item de Plano (%)\n"},"beneficio_tipo":{"type":"string","enum":["plano","comercial"],"example":"plano","description":"Tipo do benefício"}}}}}}}}},"buscaVeiculo":{"type":"object","properties":{"veiculo":{"type":"object","nullable":true,"properties":{"associado":{"type":"string","example":"Fulano da Silva"},"sexo":{"type":"string","enum":["M","F"],"example":"F"},"tel_fixo":{"type":"string","description":"Telefone fixo do associado","example":"(11) 98765-4321"},"tel_celular":{"type":"string","description":"Telefone celular do associado","example":"(11) 91234-5678"},"dt_nascimento":{"type":"string","format":"date","description":"Data de nascimento"},"cpf_cnpj":{"type":"string","description":"CPF ou CNPJ do associado","example":"123.456.789-00"},"nome_mae":{"type":"string","description":"Nome da mãe do associado","maxLength":255,"example":"Maria da Silva"},"email":{"type":"string","format":"email","example":"janetepadua764@gmail.com"},"rg":{"type":"string","maxLength":45,"nullable":true,"example":"164397875","description":"Documento de identidade do associado"},"orgao_expedidor_rg":{"type":"string","maxLength":50,"example":"SSP","description":"Órgão expedidor do RG"},"cnh":{"type":"string","maxLength":11,"example":"07414483463"},"categoria_cnh":{"type":"string","maxLength":2,"example":"B"},"logradouro":{"type":"string","maxLength":500,"example":"Travessa 1","description":"Logradouro/Rua do associado"},"bairro":{"type":"string","maxLength":500,"example":"Jardim Diniz"},"numero":{"type":"string","maxLength":100,"description":"Número da moradia do associado"},"complemento":{"type":"string","maxLength":500,"description":"Complemento do endereço do associado"},"cidade":{"type":"string","example":"Santo Antônio do Descoberto"},"estado":{"type":"string","example":"Goiás"},"estado_uf":{"type":"string","maxLength":2,"example":"GO","description":"Sigla do estado"},"cod_associado":{"type":"integer","format":"int32","example":7,"description":"Código do associado"},"placa":{"type":"string","maxLength":7,"example":"KDZ0847","description":"Placa do veículo, no caso de veículo zero quilômetro, o valor será '0KM'."},"id_externo":{"type":"integer","nullable":true,"example":7},"cod_veiculo":{"type":"integer","format":"int32","example":7,"description":"Código do veículo"},"cilindrada":{"type":"integer","example":1996},"chassi":{"type":"string","example":"193pkdN0DMPJM0868"},"renavam":{"type":"string","example":"00000000000"},"ano_fabricacao":{"type":"integer","example":2024,"description":"Ano de fabricação, não pode ser maior que 1 ano a partir do atual"},"ano_modelo":{"type":"string","pattern":"^((3200)|(\\d{4}))-\\d$","example":"2024-1 (3200 = 0KM)"},"qtd_portas":{"type":"integer","example":4},"valor_fipe":{"type":"number","format":"float","example":415252},"valor_fixo":{"type":"number","format":"float","example":168.35},"valor_protegido":{"type":"number","format":"float","nullable":true,"example":415252,"description":"Valor protegido do veículo"},"numero_motor":{"type":"string","maxLength":50},"qtd_passageiros":{"type":"integer"},"kilometragem":{"type":"integer","example":0},"cod_consultor":{"type":"integer"},"cod_consultor_regional":{"type":"integer"},"cod_consultor_equipe":{"type":"integer"},"situacao":{"type":"string","maxLength":255,"example":"Ativo","description":"Situação do associado"},"situacao_tipo":{"type":"string","maxLength":255,"example":"Ativo","description":"Tipo da situação do associado"},"cod_situacao":{"type":"integer","format":"int32","example":7,"description":"Código da situação do associado"},"modelo":{"type":"string","maxLength":255,"nullable":true,"example":"Civic Type-R 2.0 Turbo 16V"},"tipo":{"type":"string","enum":["carro","moto","caminhao","colheitadeira","trator","outros"],"example":"carro"},"cor":{"type":"string","example":"Azul Pérola Turbo"},"marca":{"type":"string","example":"Honda"},"combustivel":{"type":"string","example":"Gasolina"},"categoria":{"type":"string","example":"Carro"},"cod_categoria":{"type":"integer","example":7},"plano":{"type":"string","maxLength":255,"example":"nome do plano"},"cod_plano":{"type":"integer","example":7},"cota":{"type":"number","format":"float","example":0.01},"consultor_nome":{"type":"string","maxLength":255,"example":"nome do(a) consultor(a)"},"dt_cadastro":{"type":"string","format":"date","example":"2024-10-27"},"dt_contrato":{"type":"string","format":"date","example":"2024-10-27"},"dt_exclusao":{"type":"string","format":"date","example":"2024-10-27"},"cod_plano_item":{"type":"integer","format":"int32","example":7,"description":"Código do item do plano"},"cod_lead":{"type":"integer","format":"int32","example":7,"description":"Código do lead que originou o veículo"},"nome_classificacao":{"type":"string","example":"Classificação Exemplo","description":"Nome da classificação do veículo"},"veiculo_anterior_troca_titularidade":{"type":"string","enum":["Sim","Não"],"example":"Não","description":"Indica se o veículo é o anterior de uma troca de titularidade"},"beneficios":{"type":"array","items":{"type":"object","properties":{"cod_beneficio":{"type":"integer","example":7},"beneficio":{"type":"string","maxLength":255,"example":"nome do benefício"},"valor":{"type":"number","format":"float","example":9.99,"description":"Valor do benefício"},"beneficio_calculo":{"type":"string","example":"valor_fixo","description":"Tipo de cálculo do benefício"},"dt_cadastro_beneficio":{"type":"string","format":"date","example":"2024-11-04","description":"Data de cadastro do benefício no veículo"},"integracoes":{"type":"array","description":"Histórico de integrações do benefício, quando houver","items":{"type":"object","properties":{"descricao":{"type":"string","example":"WebAssist"},"acao":{"type":"string","example":"inclusao"},"status":{"type":"string","example":"processado"},"data_processamento":{"type":"string","format":"date-time","example":"2024-11-04 10:30:00"}}}}}}},"vistorias":{"type":"array","description":"Lista de vistorias vinculadas ao veículo","items":{"type":"object","properties":{"cod_vistoria":{"type":"integer","example":42,"description":"Código da vistoria"},"status":{"type":"string","nullable":true,"enum":["Pendente","Aprovada","Não enviada","Reanálise","Reprovado"],"example":"Aprovada","description":"Status da vistoria"}}}},"termos":{"type":"array","description":"Lista de termos vinculados ao veículo","items":{"type":"object","properties":{"cod_termo":{"type":"integer","example":33,"description":"Código do termo"},"termo_tipo":{"type":"string","nullable":true,"enum":["Digital","Hibrido","Manuscrito"],"example":"Digital","description":"Tipo do termo"},"status":{"type":"string","nullable":true,"enum":["Pendente","Aprovada","Reanálise","Reprovada"],"example":"Aprovada","description":"Status do termo"}}}}}}}},"desvinculaVeiculoBeneficio":{"type":"object","required":["cod_beneficio","cod_veiculo","alterar_valor_fixo"],"properties":{"cod_beneficio":{"type":"integer","example":290,"description":"Código do benefício"},"cod_veiculo":{"type":"integer","example":220850,"description":"Código do veículo"},"alterar_valor_fixo":{"type":"boolean","example":true,"description":"Indica se o valor fixo do veículo deve ser alterado após a desvinculação do benefício"}}},"motivosMudancaSituacao":{"type":"object","properties":{"motivos":{"type":"array","items":{"type":"object","properties":{"cod_motivo_mudanca":{"type":"integer","format":"int32","example":1,"description":"Código do motivo de mudança"},"descricao":{"type":"string","maxLength":500,"example":"Pagou mensalidade atrasada","description":"Descrição do motivo de mudança de situação"},"situacao":{"type":"string","enum":["ATIVA","INATIVA"],"example":"ATIVA","description":"Situação do motivo de mudança"}}}}}},"alteracoesSituacao":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Total de registros encontrados"},"registros":{"type":"array","items":{"type":"object","properties":{"cod_veiculo":{"type":"integer","format":"int32","example":7},"placa":{"type":"string","maxLength":7,"example":"KDZ0847","description":"Placa do veículo (ou 0KM para veículo zero km)"},"cod_situacao":{"type":"integer","format":"int32","example":7},"situacao":{"type":"string","maxLength":255,"example":"Ativo","description":"Situação do associado"},"cod_motivo_mudanca":{"type":"integer","format":"int32","nullable":true,"example":7},"motivo_mudanca":{"type":"string","nullable":true,"description":"Motivo de mudança da situação"},"dt_entrada":{"type":"string","format":"date","example":"2024-10-27","description":"Data de entrada (não nula)"},"dt_saida":{"type":"string","format":"date","nullable":true,"example":"2024-10-27","description":"Data de saída (pode ser nula)"}}}}}},"beneficios":{"type":"object","properties":{"total_encontrados":{"type":"integer","example":1,"description":"Total de registros encontrados"},"beneficios":{"type":"array","items":{"type":"object","properties":{"cod_beneficio":{"type":"integer","format":"int32","example":1,"description":"Código do benefício"},"descricao":{"type":"string","maxLength":500,"example":"Benefício de desconto para veículos comerciais","description":"Descrição do benefício"},"tipo":{"type":"string","enum":["plano","comercial"],"example":"comercial","description":"Tipo do benefício"},"calculo":{"type":"string","enum":["dinamico","fixo","porcentagem"],"example":"fixo","description":"Tipo de cálculo do benefício"},"valor":{"type":"string","example":"2.360","description":"Valor do benefício"},"situacao":{"type":"string","enum":["ATIVO","INATIVA"],"example":"INATIVA","description":"Situação do benefício"}}}}}},"situacoes":{"type":"object","properties":{"situacoes":{"type":"array","items":{"type":"object","properties":{"descricao":{"type":"string","maxLength":500,"example":"ATIVO","description":"Descrição da situação"},"tipo":{"type":"string","enum":["ATIVO","INATIVO","INADIMPLENTE","PENDENTE"],"example":"ATIVO","description":"Tipo da situação"},"cor":{"type":"string","maxLength":6,"example":"00FF00","description":"Cor associada à situação"},"cod_situacao":{"type":"integer","format":"int32","example":1,"description":"Código da situação"},"participa_rateio_fechamento":{"type":"integer","format":"int32","example":1,"description":"Se situação participa do rateio/fechamento"},"dt_exclusao":{"type":"string","format":"date-time","nullable":true,"example":null,"description":"Data de exclusão (pode ser nula)"},"situacao":{"type":"string","enum":["ATIVO","INATIVA"],"example":"ATIVA","description":"Situação atual"}}}}}},"badRequestResponse":{"type":"object","properties":{"status":{"type":"integer","example":400},"mensagem":{"type":"string","example":"Parâmetros inválidos ou campos obrigatórios ausentes"}}},"notFoundResponse":{"type":"object","properties":{"status":{"type":"integer","example":404},"mensagem":{"type":"string","example":"Recurso não encontrado"}}},"unauthorizedResponse":{"type":"object","properties":{"status":{"type":"integer","example":401},"mensagem":{"type":"string","example":"Motivo da não autorização."}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"security":[{"bearerAuth":[]}]}